{% extends "base.html" %}

{% load threadedcommentstags %}

{% block content %}
    {% if comment %}
        <div id="comment_preview">{% auto_transform_markup comment %}</div>
    {% endif %}
   <form method="POST" action="">
        <div class="content">
            <table class="text" width="100%">
                <tr>
                    <td width="99%">
                        <span class="errormessage">{{ form.comment.errors }}</span>
                        {{ form.comment }}
                    </td>
                    <td width="1%"></td>
                </tr>
                <tr>
                    <td class="bottom_line show_center">
                        <input type="hidden" name="markup" value="1" />
                        <input type="submit" value="Submit Comment" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}
