{% extends "mainpage/base.html" %}

{% comment %}
   vim:ft=htmldjango
{% endcomment %}

{% load static %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/profile.css' %}" />{{ block.super}}
{% endblock %}

{% block content_tabbing %}
	<ul class="tab-list small">
	{% if profile.user and user != profile.user %}
		{% if not profile.deleted %}
		<li>
			<a {% block send_pm %}{% endblock %} href="{% url 'messages_compose_to' profile.user %}">Send PM</a>
		</li>
		{% endif %}
	{% else %}
		<li>
			<a {% block profile %}{% endblock %} href="{% url 'profile_view' %}">Profile</a>
		</li>
		<li>
			<a {% block edit_profile %}{% endblock %} href="{% url 'profile_edit' %}">Edit Profile</a>
		</li>
		<li>
			<a {% block notifications %}{% endblock %} href="{% url 'notification_notices' %}">E-Mail settings</a>
		</li>
		<li>
			<a {% block scheduling %}{% endblock %} href="{% url 'scheduling_main' %}">Game Scheduler</a>
			<ul>
				<li><a href="{% url 'scheduling_scheduling' %}">Define your playtime</a></li>
				<li><a href="{% url 'scheduling_find' %}">Show playtimes</a></li>
			</ul>
		</li>
		<li>
			<a {% block messages %}{% endblock %} href="{% url 'messages_inbox' %}" title="Your private messages">Messages</a>
		</li>
	{% endif %}
	</ul>
{% endblock %}
