{% extends "mainpage/base.html" %}

{% comment %}
   vim:ft=htmldjango
{% endcomment %}

{% load static %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/profile.css' %}" />{{ block.super}}
{% endblock %}

{% block content_tabbing %}
	<ul class="tab-list small">
	{% if profile.user and user != profile.user %}
		{% if not profile.deleted %}
		<li>
			<a {% block send_pm %}{% endblock %} href="{% url 'messages_compose_to' profile.user %}">Send PM</a>
		</li>
		{% endif %}
	{% else %}
		<li>
			<a {% block profile %}{% endblock %} href="{% url 'profile_view' %}">Profile</a>
		</li>
		<li>
			<a {% block edit_profile %}{% endblock %} href="{% url 'profile_edit' %}">Edit Profile</a>
		</li>
		<li>
			<a {% block notifications %}{% endblock %} href="{% url 'notification_notices' %}">Notification Settings</a>
		</li>
		<!-- TODO: remove this if, otherwise the tab isn't shown when switching tabs -->
		{% if addondb %}
		<li>
			<a {% block addon_settings %}{% endblock %} href="{% url 'addon_settings' %}">Add-On Settings</a>
		</li>
		{% endif %}
		<li>
			<a {% block game_passwrd %}{% endblock %} href="{% url 'wlggz_changepw' %}" title="Online Gaming Password">Gaming Password</a>
		</li>
	{% endif %}
	</ul>
{% endblock %}
