{% extends "wlprofile/base.html" %}

{% load i18n %}
{% load wlprofile_extras %}
{% load static %}

{% block title %}
{% trans "Delete me" %} - {{ block.super }}
{% endblock %}

{% block content_header %}
<h1>{% trans "Delete your account" %}</h1>
{% endblock %}
{% block content_main %}
<section>
    <h3>Hi {{ user }},</h3>
    <p>we are sorry that you want to leave our community <img
            src="{% static 'img/smileys/face-sad.png' %}" alt="Sad smiley"></p>
    <h3>What deleting yourself means:</h3>
    <ul>
        <li>Your account will be deactivated. This means:
            <ul>
                <li>You will be immediately logged out and unable to log in again.</li>
                <li>The Username "{{ user }}" will continue to be reserved, so
                    registering again with that username will not be possible.
                </li>
            </ul>
        </li>
        <li>Your <a href="{% url 'profile_edit' %}">profile</a> will be deleted and your
            currently used avatar image will be deleted.
        </li>
        <li>
            All your <a href="{% url 'messages_inbox' %}">private messages</a> will be
            moved into the <a href="{% url 'messages_trash' %}">trash</a>.
            They will stay there until such time that the sender or recipient will also
            delete them.
        </li>
        <li>All your <a href="{% url 'notification_notices' %}">subscriptions</a> will
            be removed.
        </li>
        <li>All your <a href="{% url 'addon_settings' %}">add-on related
            subscriptions</a> will be removed.
        </li>
        <li>Your email address will be removed, so you will not receive any notification
            mails anymore.
        </li>
        <li>
            <b>Nothing</b> that you have posted (forum posts, comments and uploaded
            maps) will be deleted.
            Instead of your user name, the string "{{ deleted_name }}" will be shown.
        </li>
        <li>Your online gaming password will be reset.</li>
        <li>All dates given in the <a href="{% url 'scheduling_scheduling' %}">Playtime
            scheduler</a> will be deleted
        </li>
    </ul>
    <p class="errormessage"><b>This step can't be undone!</b></p>
    <p>
        <button type="button" onclick="location.href='{% url 'do_delete' %}';"
                style="font-weight: normal;">I am sure, please delete me
        </button>
        <button type="button" onclick="location.href='{% url 'profile_edit' %}';">
            Cancel
        </button>
    </p>
</section>
{% endblock %}
