{% extends "wlprofile/base.html" %}

{% load i18n %}

{% block title %}
{% trans "Profile Editing" %} - {{ block.super }}
{% endblock %}

{% block edit_profile %}class="active"{% endblock %}

{% block content_header %}
	<h1>{% trans "Profile Editing" %}</h1>
{% endblock %}

{% block content_main %}
<div class="blogEntry">
	<form method="post" enctype="multipart/form-data" action=".">
		<table>
		{% for field in profile_form %}
			<tr>
				<td class="grey">
					{{ field.label_tag }}
				</td>
				<td>
					{% ifequal field.name "avatar"%}
					{% if profile.avatar %}
						<img class="posLeft" src="{{ profile.avatar.url }}" alt="Avatar" />
					{% endif %}
					{% endifequal %}

					{{ field }}

					{% ifequal field.name "time_display" %}
						<a href="/wiki/HomepageDocuTimeDisplay">Documented here</a>
					{% endifequal %}
				</td>
				<td class="errormessage">
				{% if field.errors %}
					{{ field.errors }}
				{% endif %}
				</td>
			</tr>
		{% endfor %}
		</table>
		<input type="submit" value="{% trans "Save" %}" />
		{% csrf_token %}
	</form>

	<h2>Other options:</h2>
	<ul>
		<li><a href="{% url 'password_change' %}">Change website password</a></li>
		<li><a href="{% url 'wlggz_changepw' %}">Change online gaming password</a></li>
		<li><a href="{% url 'delete_me' %}">Delete me</a></li>
	</ul>
</div>
{% endblock %}
