/* Common */

body {
	background-color: #e9c78a;
	background-image: url("../img/parchment.png");
	font-family: Tahoma;
	font-size: 14px;
	color: #ffffee;
	text-shadow: #000000 1px 1px 0px;
}

a img {
	border: none;
}

a {
	text-decoration: none;
	color: #ffffee;
	font-weight: bold;
}

a:hover {
	color: #007700;
}

a.invertedColor {
	color: #007700;
}

a.invertedColor:hover {
	color: #ffffee;
}

form {
	display: inline;
}

input, button, textarea {
	margin-bottom: 5px;
	padding: 2px 10px;
	border: 1px solid black;
	border-radius: 10px;
	background: none;
	background-image: url("../img/black50.png");
	outline: none;
	color: #ffffff;
	text-shadow: #000000 1px 1px 0px;
	vertical-align: middle;
	cursor: pointer;
	font-family: inherit;
	font-size: 12px;
	font-weight: bold;
}

textarea {
	font-weight: normal;
	font-size: 14px;
}

input:hover, button:hover, textarea:hover {
	background-image: url("../img/black20.png");
}

input.radio {
	background: none;
	border: none;
	vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
	color: #007700;
	margin-top: 0px;
	font-weight: normal;
}

svg {
	text-shadow: none;
}

td {
	vertical-align: top;
	line-height: 20px;
}

.posLeft {
	float: left
}

.posRight {
	float: right;
}

.clear {
	clear: both;
}

.center  {
	text-align: center;
}

.middle {
	vertical-align: middle;
}

.green {
	color: #007700;
}

.green a {
	color: #007700;
}

.green a:hover {
	color: #ffffee;
}
.small {
	font-size: 12px;
}

.placeholder {
  color: #aaa !important;
}

.errormessage {
	color: #ff0000;
}

.noshadow {
	text-shadow: none;
}

/* Base */

div#wrapper {
	min-width: 980px;
	margin: 0px 20px;
}

div#header {

}

div #main {
	min-height: 500px;
}

div#content {
	margin-right: 240px;
}

div#footer {
	background-color: #695536;
	background-image: url("../img/wood.png");
	padding: 15px;
	margin-top: 20px;
	text-align: center;
	box-shadow: black 2px 2px 2px 2px;
	border: 1px solid #222222;
	-moz-border-radius-bottomleft: 15px;
	-moz-border-radius-bottomright: 15px;
	-khtml-border-radius-bottomleft: 15px;
	-khtml-border-radius-bottomright: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}

/* Header */

div#header  img{
	position: relative;
	z-index: 10;
}

div.loginBox {
	width: 320px;
	height: 90px;
	border: 1px solid black;
	background-color: #332f29;
	background-image: url("../img/but1.png");
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	position: relative;
	z-index: 0;
	padding: 15px;
	box-shadow: black 2px 2px 2px 2px;
}

div.loginBox div.right{
	width: 120px;
}

div.loginBox ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

div.loginBox h4 {
	margin-bottom: 5px;
}

div.loginBox input {
	width: 100px;
}

div.loginBox button {
	margin: 0px;
	padding: 0px;
	border: 1px solid black;
	width: 60px;
	height: 20px;
	border-radius: 10px;
	background: none;
	background-image: url("../img/black50.png");
	outline: none;
	color: #ffffff;
}

/* Right Column */

div#rightColumn {
	width: 220px;
}

div.columnModule {
	width: 220px;
}

div.columnModule h3 {
	margin-bottom: 10px;
}

div.columnModuleBox {
	width: 220px;
	margin-bottom: 20px;
	background-color: #695536;
	background-image: url("../img/wood.png");
	border: 1px solid black;
	box-shadow: black 2px 2px 2px 2px;
}

div.columnModuleBox h4 {
	color: #ffffee;
	padding: 8px;
	padding-bottom: 0px;
	margin: 0px;
}

div.columnModuleBox ul.poll {
	padding: 8px;
	list-style-type: disc;
	border: none;
}

div.columnModuleBox ul.poll li {
	padding: 0px;
	border: none;
	height: 20px;
}

div.columnModuleBox p {
	margin: 0px;
	padding: 8px;
}

div.columnModuleBox ul {
	width: 220px;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

div.columnModuleBox ul.player {
	padding: 4px;
	list-style-type: disc;
}

div.columnModuleBox ul.player li{
	padding: 4px;
	border: none;
}

div.columnModuleBox ul li {
	display: block;
	padding: 8px;
	border-top: 1px solid black;
	font-size: 12px;
}

div.columnModuleBox ul li:first-child {
	border-top: none;
}

input.donate {
	border: none;
	background: none;
}

/* News Posts */

img.landing {
	margin-left: 20px;
	margin-bottom: 15px;
}

div.blogEntry {
	background-color: #332f29;
	background-image: url("../img/but1.png");
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	-khtml-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid black;
	padding: 15px;
	padding-bottom: 30px;
	margin-bottom: 20px;
	box-shadow: black 2px 2px 2px 2px;
}

div.blogEntry img.title {
	width: 150px;
	margin-right: 20px;
	margin-bottom: 10px;
}

div.blogEntry p {
	text-align: justify;
}

div.blogEntry hr {
	height: 1px;
	background: #555555;
	border: none;
	clear: left;
}
