table.help {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 20px;
}

 table.help.small {
	table-layout: fixed;
 }

table.help th {
	padding: 4px;
	font-weight: normal;
	font-size: 0.8em;
	text-align: left;
}

table.help td {
	padding: 4px;
	border: 1px solid black;
	overflow: hidden;
}

table.help td img {
	vertical-align: middle;
}

table.help div.scripting{
	padding-top: 1em;
	display: none;
}

img.icon {
	margin: 0 10px 0 0;
}

/* Let Table headers look like h2 */
caption {
    font-size: 1.5em;
    color: #181;
    margin: 0.8em 0em 0.5em 0em;
    white-space: nowrap;
}

/* Give the div a min-height to fit with the selection form */
div.blogEntry {
    min-height: 6em;
}
