/*++++++++++++++++++*/
/*   Forum pages    */
/*------------------*/
/*  Effects to all  */
/*   forum pages    */
/*++++++++++++++++++*/

/********************/
/* Base Forum table */
/********************/

.forum {
	border: none; 
	border-collapse: collapse;
	width: 100%;
}

.forum tr {
	border: 1px solid black;
}

.forum thead tr {
	border: none;
}

.forum td {
	vertical-align: middle;
	padding: 8px;
}

/********************/
/* Forums overviews */
/********************/

.forumIcon {
	width: 50px;
}

.forumTitle {
	width: 40%;
}

.forumCount {
	width: 120px;
}

.lastPost {
	text-align: right;
}

/******************/
/* Topic specific */
/******************/

tr.spacer {
	height: 10px;
	border: none;
}

/******************/
/* Author colummn */
/******************/

.forum .author {
	width: 140px;
	text-align: center;
	border-right: 1px solid black;
	vertical-align: top;
}

.authorStats {
	text-align: left;
	font-size: 10px;
	line-height: 12px;
}

/*****************/
/*  Post colummn */
/*****************/

a.permalink {
	width: 16px;
	height: 20px;
	background-image: url("../forum/img/permalink.png");
}

a.permalink:hover {
	background-image: url("../forum/img/permalink_hover.png");
}

.forum .post {
	vertical-align: top;
}

div.blogEntry .post p {
	margin-bottom: 4px;
}

.post blockquote {
	background-image: url("../forum/img/quote.png");
	background-repeat: no-repeat;
	background-position: 4px 4px;
	border: 1px solid black;
	padding: 4px;
	padding-left: 28px;
	margin: 4px;
}

.post table {
	margin-bottom: 1em;
	border-collapse: collapse;
}

.post th {
	padding: 0 1em 0 1em;
	border: 1px solid black;
}

.post td {
	padding: 0 1em 0 1em;
	border: 1px solid black;
}

/*****************/
/* Edit/add Post */
/*   related     */
/*****************/

.preview-box .content {
	background-image: url("../img/black50.png");
	border: 1px solid black;
	padding: 4px;
	width: 98%;
}

.post-form #id_body {
   width: 98%;
   max-width: 98%;
   height: 150px;
}