.forum {
	border: none; 
	border-collapse: collapse;
	width: 100%;
}

.forum tr {
	border: 1px solid black;
}

.forum thead tr {
	border: none;
}

.forum td {
	vertical-align: middle;
	padding: 8px;
}

.forumIcon {
	width: 50px;
}

.forumTitle {
	width: 40%;
}

.forumCount {
	width: 120px;
}

.lastPost {
	text-align: right;
}

.forum .author {
	width: 140px;
	text-align: center;
	border-right: 1px solid black;
	vertical-align: top;
}

.forum .post {
	vertical-align: top;
}

.authorStats {
	text-align: left;
	font-size: 10px;
	line-height: 12px;
}

tr.spacer {
	height: 10px;
	border: none;
}

.post p {
	margin: 0px;
	margin-bottom: 8px;
	padding: 0px;
}

.post blockquote {
	background-image: url("../forum/img/quote.png");
	background-repeat: no-repeat;
	background-position: 4px 4px;
	border: 1px solid black;
	padding: 4px;
	padding-left: 28px;
	margin: 4px;
}

.preview-box .content {
	background-image: url("../img/black50.png");
	border: 1px solid black;
	padding: 4px;
	width: 98%;
}

.post-form #id_subject {
    width: 40%;
}
.post-form #id_name {
    width: 40%;
}
.post-form #id_body {
   width: 98%;
   max-width: 98%;
   height: 150px;
}

a.permalink {
	width: 16px;
	height: 20px;
	background-image: url("../forum/img/permalink.png");
}

a.permalink:hover {
	background-image: url("../forum/img/permalink_hover.png");
}
