
.index_category, .index_forum {
    margin-bottom: 20px;
}

.title {
    display: block;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 1px;
    background: url('../img/background-444.png');
}

.author {
   text-align: center;
}


/*
 * POSTS
 */
.posts {
   padding: 0px;
   margin: 0px;
}
.posts th {
   margin-top: 0px;
   margin-bottom: 0px;
   height: auto;
}

/* 
 * Post
 */
.post {
   background-color: rgb(20%,20%,20%); 
   margin: 0px;
   padding-bottom: 2px;
}
.post .at {
   text-align: right;
   font-size: 90%;
}
.post .userinfo {
   font-size: 90%;
   vertical-align: top;
}
.post .odd {
   margin: 0px;
   padding: 0px;
}
.post table {
   border-collapse: collapse;
}
.post td {
   border: 1px solid rgb(20%,20%,20%); 
}
.post blockquote {
   background: rgb(51, 51, 51);
   border: 0px inset rgb(0, 0, 128);
   font-family: 'Courier New', Courier, monospace;
   padding: 0px 6px 6px 6px;
   margin: 2px;
   margin-left: 10px;
}
.post .tools {
   vertical-align: bottom;
}
.first_post {
   padding-bottom: 20px;
   border: 1px solid rgb(100,100,100);
   margin-bottom: 20px;
}
.post .avatar {
    width: "100%";
    padding: 2px;
}

/*
 * Compose
 */
.post-form #id_subject {
    width: 40%;
}
.post-form #id_name {
    width: 40%;
}
.post-form #id_body {
   width: 100%;
   height: 400px;
}

/*
 * Post and Edit field
 */

.forum_poster { font-size: 90%;}
.forum_post_date { font-size: 90%;}


.forum_item .forum_image img {
   float: right;   
   padding: 0px;
   margin-left: 20px;
}

.forum_item {
    border: 1px solid rgb(9, 9, 9);
    width: 100%;
}

.forum_item p {
   margin-bottom: 5px;
}

.forum_item h3.title {
    font-weight: bold;
    font-size: 12px;
    padding-left: 12px;
    background-image: url('../img/Navbar.png');
    background-repeat: repeat-x;
    border-left: 0px solid #999999;
    border-right: 0px solid #999999;
    border-bottom: 0px solid #999999;
    padding-top: 2px;
    padding-bottom: 0px;
    margin: 0px;
}
.forum_item .content {
 line-height: 120%;
 border: 0px;
 padding: 2px;
 padding-top: 5px;
 padding-left: 15px;
 background-color: #3F3F3F;
 background: url(../img/background-3F3F3F.png);
}

.forum_item .info_line {
	 text-align: right;
	 padding: 3px;
	 margin: 0px;
    background-color: #222222;
	 background: url(../img/background-222.png);
}
	
.forum_item .text {
    vertical-align: baseline;;
	 margin-top: 5px;
	 margin-bottom: 5px;
    margin: 0px;
	 line-height: 130%;
}

.forum_item .text:first-letter {
    vertical-align: baseline;
	 color: #7070FF;
	 font-size: 180%;
	 font-family: Cretino, "Bitstream Vera Serif", serif;
	 font-weight: bold;
	}

.forum_item .bottom_line {
	 background-color: #222222;
	 background: url(../img/background-222.png);
    table-layout: fixed;
}
.forum_item .tags {
	text-align: right;
}
.forum_item .comments {
	text-align: left;
}
.forum_item .admin {
	text-align: center;
}
	
	
