
#map_list {
    padding: 5px;
}

h1 {
    display: block;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 1px;
    background: url('../img/background-444.png');
}

.map_details .author {
    display: block;
}
.map_details .uploader {
    display: block;
    margin-bottom: 10px; 
}

/* Modified css for jqModal */
div.jqmDialog {
    width: 480px;
}
