table.maps {
	border-collapse: collapse;
}

img.minimap {
	max-height: 250px;
}

img.map {
	margin: 10px 10px 10px 0px;
}

.maps table td{
	padding: 2px;
}

.maps td {
	vertical-align: top;
	padding: 8px;
}

.maps .spacer {
	width: 15px;
}

p {
	vertical-align: top;
}

textarea {
	width: 97%;
}