img.minimap {
	max-height: 250px;
}

img.map {
	margin: 0px 10px 10px 0px;
}

.forum table td {
	padding: 2px;
}

.forum td {
	vertical-align: top;
}

.forum .spacer {
	width: 15px;
}

.prop {
	color: #999988;
}

p {
	vertical-align: top;
}