

h1 {
    display: block;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 1px;
    background: url('../img/background-444.png');
}

/*
 * MESSAGES
 */
.messages {
    margin-bottom: 20px;
    width: 100%;
}
.messages {
   padding: 0px;
   margin: 0px;
}
.messages th {
   margin-top: 4px;
   margin-bottom: 2px;
}

/* 
 * Post
 */
.message {
   background-color: rgb(20%,20%,20%); 
   margin: 0px;
   padding-bottom: 2px;
   border: 1px solid rgb(20%,20%,20%); 
   border-top: 0px;
}
.message .odd {
   margin: 0px;
   padding: 0px;
}
.message_display {
  background: url('../img/background-3f3f3f.png');
  padding-bottom: 1px;
}
.message_display .content {
   background: url('../img/background-222.png');
   font-family: 'Courier New', Courier, monospace;
   padding: 10px;
   margin: 10px;
}

/*
 * Compose
 */
#id_recipient {
    width: 40%;
}
#id_subject {
    width: 40%;
}
#id_body {
   width: 100%;
   height: 400px;
}

