.messages th {
	border: 1px solid black;
	font-size: 12px;
	text-align: left;
	font-weight: normal;
	background-image: url("../img/black50.png");
	padding: 4px;
}

.messages {
	width: 100%;
	border-collapse: collapse;
}

.messages td {
	padding: 4px;
}

th.msg_menu {
	width: 130px;
	vertical-align: top;
}

td.msg_box {
	padding-top: 0px;
}

.messages ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.messages textarea {
	width: 100%;
}
