
.modalOverlay {
    background: black;
}

div.jqmDialog {
    display: none;
    position: absolute;
   
    overflow: hidden;
    padding: 0px;
    
    top: 0px; /* Positions are calculated on show */
    left: 0px;
   
    border: 1px solid #000;
}

div.jqmDialog .jqmClose {
  position: absolute;
  cursor: pointer;
  right: 2px;
  top: 1px;
}
  
.jqmDialog .box_title h3 {
    padding-bottom: 3px;
}
div.jqDrag {cursor: move;}

div.jqmDialog img.jqResize {position: absolute; right: 2px; bottom: 2px;}

.jqmOverlay { background-color: #000; }


