/* Top Menu */

div.searchBox {
	height: 20px;
	padding: 15px;
}

div.searchBoxInner {
	border: 1px solid black;
	width: 150px;
	padding: 0px 10px 0px 10px;
	height: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	background-image: url("../img/but1.png");
}

input.searchField {
	margin: 0px;
	border: none;
	background: none;
	width: 150px;
	outline: none;
	color: #ffffff;
}

div#topmenu {
	position: relative;
	z-index: 5;
	top: -30px;
	clear: both;
	height: 50px;
	background-image: url("../img/wood.png");
	border: 1px solid #222222;
	box-shadow: black 2px 2px 2px 2px;
}

ul.menu {
	margin: 0px;
	padding: 0px;
}

ul.menu li {
	list-style-type: none;
	float: left;
	position: relative;
}

ul.menu  li a {
	display: block;
	width: 120px;
	height: 50px;
	line-height: 50px;
	float: left;
	border-right: 1px solid #222222;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: normal;
}

ul.menu li a:hover {
	box-shadow: black 0px 0px 10px 0px inset;
}

ul.menu li a.active {
	box-shadow: black 0px 0px 10px 0px inset;
	background-image: url("../img/black50.png");
}

ul.menu li ul {
	display: none;
	position: absolute;
	top: 50px;
	left: -1px;
	background-image: url("../img/wood.png");
	padding: 0px;
	border: 1px solid #222222;
	box-shadow: black 2px 2px 2px 2px;
}

ul.menu li:hover ul {
	display: block;
}

ul.menu li ul li {
	clear: both;
	border-top: 1px solid #222222;
}

ul.menu li ul li a {
	display: block;
	width: 250px;
	height: 20px;
	line-height: 20px;
	padding: 4px;
	text-align: left;
	font-size: 12px;
	border: none;
}

ul.menu li ul li:first-child {
	border: none;
}