/* Top Menu */

div.searchBox {
	height: 20px;
	padding: 15px;
}

div.searchBoxInner {
	border: 1px solid black;
	padding: 0px 10px 0px 10px;
	height: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	background-color: #332f29;
	background-image: url("../img/but1.png");
}

input.searchField {
	margin: 0px;
	border: none;
	background: none;
	outline: none;
	color: #ffffff;
	padding: 0px;
}

.fake_selector{
	width: 80px;
	overflow: hidden;
}

.fake_selector select{
	-webkit-appearance: none;
   -moz-appearance: none;
	width: 18px;
	height: 18px;
	background-color: rgba(90, 74, 49, 1);
	font-size: inherit;
	border: none;
	color: rgba(254, 234, 138, 1);
	background-image: url("../img/arrow_down_short.png");
	background-repeat: no-repeat;
	background-position: center;
	appearance: none;
   padding: 2px 20px 2px 2px;
}

select::-ms-expand {
    display: none;
}

/* Overwrite the color of selection entries */
select.selection option {
	color: #ffffee;
}

div#topmenu {
	position: relative;
	z-index: 5;
	clear: both;
	height: 50px;
	margin-bottom: 22px;
	background-color: #695536;
	background-image: url("../img/wood.png");
	border: 1px solid black;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.7);
	border-radius: 4px 0px 4px 0px;
	-moz-border-radius: 4px 0px 4px 0px;
	-webkit-border-radius: 4px 0px 4px 0px;
	-khtml-border-radius: 4px 0px 4px 0px;
}

ul.menu {
	margin: 0px;
	padding: 0px;
}

ul.menu li {
	list-style-type: none;
	float: left;
	position: relative;
}

ul.menu  li a {
	display: block;
	width: 8.5em;
	height: 50px;
	line-height: 3.5em;
	float: left;
	border-right: 1px solid black;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: normal;
}

ul.menu li a:hover {
	background-image: url("../img/black20.png");
}

ul.menu li a.active {
	box-shadow: black 0px 0px 10px 0px inset;
	background-image: url("../img/black50.png");
}

ul.menu li ul {
	display: none;
	position: absolute;
	top: 50px;
	left: -1px;
	background-color: #695536;
	background-image: url("../img/wood.png");
	padding: 0px;
	border: 1px solid black;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.7);
	border-radius: 0px 0px 4px 4px;
	-moz-border-radius: 0px 0px 4px 4px;
	-webkit-border-radius: 0px 0px 4px 4px;
	-khtml-border-radius: 0px 0px 4px 4px;	
}

ul.menu li:hover ul {
	display: block;
}

ul.menu li ul li {
	clear: both;
	border-top: 1px solid black;
}

ul.menu li ul li a {
	display: block;
	width: 21.5em;
	height: 20px;
	line-height: 1.7em;
	padding: 4px;
	text-align: left;
	font-size: 0.8em;
	border: none;
}

ul.menu li ul li:first-child {
	border: none;
}

/***********************************************************/
/* CSS for overrriding browser color change of placeholder */
/***********************************************************/
::-webkit-input-placeholder {
    color: #aaa;
    opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
    color: #aaa;
    opacity: 1 !important;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #aaa;
    opacity: 1 !important;
}

:-ms-input-placeholder {
   color: #aaa;
}
