.notifications {
	width: 100%;
	border-collapse: collapse;
}

.notifications td {
	border: 1px solid black;
	padding: 4px;
	vertical-align: middle;
}

.notifications th {
	border: none;
	padding: 4px;
	padding-top: 20px;
	text-align: left;
	font-weight: normal;
}

.notifications .type {
	width: 20%;
}

.notifications .text{
	width: 60%;
}

.notifications .date {
	width: 20%;
}
