input.formButton {}

	.item { border: 0px solid #A0AAFF;}

	.itemHead {
	 padding: 2px;
	 background-color: #444444;
	 background: url(../img/background-444.png);
	 /*height: 20px; - don't know why i set this ;) */
	 color: #A0AAFF;
	}
	
	.itemInfo {
	 text-align: right;
	 padding: 3px;
	 background-color: #222222;
	 background: url(../img/background-222.png);
	}
	
	.itemTitle a {
	 font-size: 120%;
	 font-weight: bold;
	 background-color: transparent;
	}
	
	.itemPoster { font-size: 90%;}
	.itemPostDate { font-size: 90%;}
	.itemStats { font-size: 90%;}

	.itemBody { 
	 padding-left: 15px;
	 background-color: #3F3F3F;
	 background: url(../img/background-3F3F3F.png);
	}
	
	.itemText {
	 margin-top: 5px;
	 margin-bottom: 5px;
	 line-height: 130%;
	}
	
	.itemText:first-letter {
	 color: #7070FF;
	 font-size: 180%;
	 font-family: Cretino, "Bitstream Vera Serif", serif;
	 font-weight: bold;
	}
	
	.itemFoot {
	 text-align: right;
	 padding: 3px;
	 background-color: #222222;
	 background: url(../img/background-222.png);
	}
	
	.itemAdminLink { font-size: 90%;}
	.itemPermaLink { font-size: 90%;}





	.outer { 
	 background-color: #4A4A4A;
	 background: url(../img/background-4A4A4A.png);
	 border-left: 1px solid #090909;
	 border-top: 1px solid #090909;
	 border-right: 1px solid #090909;
	 border-bottom: 1px solid #090909;
	}

	.head {
	 font-weight: bold;
	 background-position: left;
	 height: 24px;
	 line-height: 22px;
	 text-align: center;
	 background-color: #444444;
	 background: url(../img/background-444.png);
	 height: 20px;
	}

	.foot {
	 padding: 5px;
	 font-weight: bold;
	 background-color: #222222;
	 background: url(../img/background-222.png);
	}




	tr.head {
	 color: #A0AAFF;
	 height: 20px;
	}

	tr.even td {
	 background-color: transparent;
	 padding: 5px;
	}

	tr.odd td {
	 background-color: transparent;
	 padding: 5px;
	}




	.footer {
	 color: #D0DFFF;
	 font-size: 12px;
	 text-align: center;
	}

	.footer a { color: #A0AAFF;}



	div.errorMsg {
	 background-color: #FFCCCC;
	 text-align: center;
	 border-top: 0px solid #222222;
	 border-left: 0px solid #222222;
	 border-right: 0px solid #444444;
	 border-bottom: 0px solid #444444;
	 font-weight: bold;
	 padding: 12px;
	}

	div.confirmMsg {
	 background-color: #333333;
	 color: #D0DFFF;
	 text-align: center;
	 border-top: 0px solid #222222;
	 border-left: 0px solid #222222;
	 border-right: 0px solid #444444;
	 border-bottom: 0px solid #444444;
	 font-weight: bold;
	 padding: 12px;
	}

	div.resultMsg {
	 background-color: #CCCCCC;
	 color: #FFFFFF;
	 text-align: center;
	 border-top: 0px solid silver;
	 border-left: 0px solid silver;
	 font-weight: bold;
	 border-right: 0px solid #666666;
	 border-bottom: 0px solid #666666;
	 padding: 12px;
	}

	div.xoopsCode {
	 background: #333333;
	 border: 0px inset #000080;
	 font-family: "Courier New",Courier,monospace;
	 padding: 0px 6px 6px 6px;
	}

	div.xoopsQuote {
	 background: #333333;
	 border: 0px inset #000080;
	 font-family: "Courier New",Courier,monospace;
	 padding: 0px 6px 6px 6px;
	}

	.com_bl {
	 padding: 2px;
	 background-color: #3F3F3F;
	 background: url(../img/background-3F3F3F.png);
	 border-left: 1px solid #090909;
	 border-top: 1px solid #090909;
	 border-right: 1px solid #090909;
	 border-bottom: 1px solid #090909;
	}

	.comTitle {
	 font-size: 16px;
	 font-weight: bold;
	 text-align: left;
	 padding: 3px;
	 background-color: #222222;
	 background: url(../img/background-222.png);
	 border-bottom: 1px solid #090909;
	}

	.comText {
	 background-color: #444444;
	 background: url(../img/background-444.png);
	 padding: 5px;
	 border-top: 1px solid #333333;
	}

	.comUserStat {
	 font-size: 12px;
	 color: #A0AAFF;
	 font-weight:bold;
	 border: 0px solid silver;
	 background-color: #333333;
	 margin: 2px;
	 padding: 2px;
	}

	.comUserStatCaption { font-weight: normal;}

	.comUserStatus {
	 margin-left: 2px;
	 margin-top: 12px;
	 color: #A0AAFF;
	 font-weight:bold;
	 font-size: 12px;
	}

	.comUserRank { margin: 2px;}

	.comUserRankText {
	 font-size: 12px;
	 font-weight:bold;
	}

	.comUserRankImg { border: 0px;}
	.comUserName {}
	.comUserImg { margin: 2px;}

	.comDate {
	 font-weight: normal;
	 font-style: italic;
	 font-size: smaller;
	}

	.comDateCaption {
	 font-weight: bold;
	 font-style: normal;
	}






.mediawiki {
     background-color : #222222;
	 background: url(../img/background-222.png);
	 border-top-width : 2px; 
	 border-right-width : 1px; 
	 border-bottom-width : 1px; 
	 border-left-width : 2px;
	 border-color : #090909;  
	 padding: 8;
}

.mediawikitable {
	 background-color: #444444;
	 background: url(../img/background-444.png);
}


table.diff {
	 background-color: #444444;
	 background: url(../img/background-444.png);
}

td.diff-otitle {
	 background-color : #333333;
	 background: url(../img/background.png);
}

td.diff-ntitle {
	 background-color : #333333;
	 background: url(../img/background.png);
}

td.diff-addedline {
	 background-color : #222222;
	 background: url(../img/background-222.png);
	 font-size: 94%;
}

td.diff-deletedline {
	 background-color : #222222;
	 background: url(../img/background-222.png);
	 font-size: 94%;
}

td.diff-context {
	 background-color : #333333;
	 background: url(../img/background.png);
	 font-size: 94%;
}

span.diffchange { color: #CC2222; font-weight: bold; }



/* color -- dropdown menu for Forum */
div.dropdown a, div.dropdown .menubar a{
	 color: #D0DFFF;
}

div.dropdown .menu, div.dropdown .menubar, div.dropdown .item, div.dropdown .separator{
	 background-color: #444444; /* color set in your theme/style.ss .th{} is recommended */
	 color: #D0DFFF; 
}

div.dropdown .separator{
	border: 1px inset #aabbcc;
}

div.dropdown .menu a:hover, div.dropdown .userbar a:hover{
	color: #aabbcc;
}
/* color - end */



