.screenshot_list {
    list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.screenshot_list li {
    text-align: center;
    padding: 15px;
    display: table-cell;    /* Work around for firefox 2 which doesn't support inline-block */
	display: inline-block;  
}

