body {
 color: #D0DFFF;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 background-color: #000000;
 margin: 0px;
}


a {
 color: #D0DFFF;
 text-decoration: none;
 font-weight: bold;
 background-color: transparent;
}


a:hover {
 color: #A0AAFF;
 text-decoration: underline;
}


h1 {}
h2 {}
h3 {}
h4 {}
h5 {}


/* ul {
 margin: 2px;
 padding: 2px;
 text-align: left;
}


li {
 margin-left: 2px;
 list-style: disc inside;
 color: #C0CFFF;
}
*/

table {
 width: 100%;
 font-size: 12px;
}

	table#main {
	 background-color: #333333;
	 background: url(../img/background.png);
	}
	
	table#table_bottom {
	 background-color: #333333;
	 background: url(../img/background.png);
	}




table td {
 padding: 0px;
 border-width: 0px;
 vertical-align: top;
 font-family: Verdana, Arial, Helvetica, sans-serif;
}

	td#headerbanner {
	 font-size:12px;
	 background: url(../img/headback.jpg);
	 background-repeat: repeat-x;
	 color: #FFFFFF;
	 text-align:center;
	 height:110px;
	 border-bottom:2px solid #090909;
	}

	td#headerbottombar {
	 border: 0px;
	 height: 20px;
	 background-image: url(../img/Navbar.png);
	 background-repeat: repeat-x;
	}



	td#menubar {
	 font-size: 12px;
	 text-align:center;
	}

	td#menubar th {
	 vertical-align: middle;
	}

	td#menubar div.menu a {
	 padding:7px;
	 display: block;
	 color: #A0AAFF;
	 font-weight: bold;
	 text-align:center;
	 border-right:0px solid #CCCCCC;
	}

	td#menubar div.menu a:hover {
	 color: #C0CAFF;
	 vertical-align: middle;
	 text-decoration: none;
	}

	td#menubar div.menu_search {
	 text-align:right;
	 padding-right:12px;
	 vertical-align: middle;
	}



	td#headerbar {
	 font-size:12px;
	 background-color: #000000;
	 color: #FFFFFF;
	 padding-top: 3px;
	 padding-bottom: 3px;
	 padding-right: 6px;
	 text-align:right;
	}

	td#headerbar a {
	 color: #FFFFFF;
	}

	td#headerbar a:hover {
	 color: #FFFFFF;
	 background-color:#839DBE;
	}



	td#table_bottomleft {
	 height:8px;
	 width:8px;
	}

	td#table_bottomright {
	 height:8px;
	 width:8px;
	}



	td#menu_topleft {
	 height:4px;
	 width:4px;
	} 

	td#menu_topmiddle {
	 height:4px;
	}

	td#menu_topright {
	 height:4px;
	 width:4px;
	}

	td#menu_bottomleft {
	 height:4px;
	 width:4px;
	 align:left;
	}

	td#menu_bottommiddle { height:4px;}

	td#menu_bottomright {
	 height:4px;
	 width:4px;
	}


	td#mainmenu a {
	 color: #D0DFFF;
	 font-size: 12px;
	 display: block;
	 background-image: url('../img/1.gif');
	 background-repeat: no-repeat;
	 background-position: left;
     padding: 4px;
	 padding-left: 15px;
	 font-weight: bold;
	}

	td#mainmenu a:hover {
	 color: #A0AAFF;
	 background-image: url('../img/12.gif');
	 background-repeat: no-repeat;
	 background-position: left;
	}

	td#mainmenu a.menuTop { padding-left: 15px;}

	td#mainmenu a.menuMain { padding-left: 15px;}

	td#mainmenu a.menuSub {
	 padding-left: 20px;
	 color: #D0DAFF;
	 font-weight: normal;
	}


	td#usermenu a {
	 color: #D0DFFF;
	 font-weight: normal;
	 font-size: 12px;
	 padding-left: 15px;
	 background-image: url('../img/1.gif');
	 background-repeat: no-repeat;
	 background-position: left;
	}

	td#usermenu a:hover {
	 color: #A0AAFF;
	 background-image: url('../img/12.gif');
	 background-repeat: no-repeat;
	 background-position: left;
	}

	td#usermenu a.highlight { background-color: #fcc;}



	td#leftcolumn {
	 width: 170px;
	 font-size: 12px;
	 background-color: #555555;
	 background-image: url('../img/Menubackground.png');
	 border-left: 1px solid #151515;
	 border-right: 1px solid #090909;
	 border-bottom: 1px solid #090909;
	}

	td#leftcolumn th {
	 color: #FFFFFF;
	 vertical-align: bottom;
	 background-color: transparent;
	}

	td#leftcolumn div.blockTitle {
	 color: #D0DFFF;
	 font-weight: bold;
	 font-size: 12px;
	 padding-left: 12px;
	 background-image: url('../img/Navbar.png');
	 background-repeat: repeat-x;
	 border-left: 0px solid #999999;
	 border-right: 0px solid #999999;
	 border-bottom: 0px solid #999999;
	 padding-top: 2px;
	 padding-bottom: 6px;
	 }

	td#leftcolumn div.blockContent {
	 font-size:12px;
	 padding: 6px;
	 line-height: 120%;
	 border-left: 0px solid #999999;
	 border-right: 0px solid #999999;
	}

	td#leftcolumn div.space { height:12px;}



	td#centercolumn {
	 font-size: 14px;
	 color: #D0DFFF;
	 padding-left: 8px;
	 padding-right: 8px;
	 width: 100%;
	}

	td#centercolumn th { color: #D0DFFF;}

	td#centerCcolumn div.blockTitle {
	 font-size: 12px;
	 padding: 2px;
	 color: #FFFFFF;
	 font-weight: bold;
	 margin-top: 0px;
	 margin-right: 0px;
	 margin-left: 0px;
	 margin-bottom: 5px;
	 padding-left: 13px;
	}

	td#centerCcolumn div.blockContent {
	 margin-right: 0px;
	 margin-left: 0px;
	 margin-bottom: 8px;
	 line-height: 120%;
	}



	td#centerLcolumn {
	 width: 50%;
	 padding: 0px 0px 0px 0px;
	}

	td#centerLcolumn div.blockTitle {
	 font-size: 12px;
	 padding: 2px;
	 color: #D0DFFF;
	 font-weight: bold;
	 margin-top: 0px;
	 margin-right: 0px;
	 margin-left: 0px;
	 margin-bottom: 5px;
	 padding-left: 12px;
	 background-color: #444444;
	 background: url(../img/background-444.png);
	}

	td#centerLcolumn div.blockContent {
	 padding: 3px;
	 margin-right: 0px;
	 margin-left: 0px;
	 line-height: 120%;
	}



	td#centerRcolumn {
	 width: 50%;
	 padding: 0px;
	}

	td#centerRcolumn div.blockTitle {
	 font-size: 12px;
	 padding: 2px;
	 color: #D0DFFF;
	 font-weight: bold;
	 margin-top: 0px;
	 margin-right: 0px;
	 margin-left: 0px;
	 margin-bottom: 5px;
	 padding-left: 12px;
	 background-color: #444444;
	 background: url(../img/background-444.png);
	}

	td#centerRcolumn div.blockContent {
	 padding: 3px;
	 margin-right: 0px;
	 margin-left: 0px;
	 margin-bottom: 2px;
	 line-height: 120%;
	}



	td#rightcolumn {
	 width: 160px;
	 font-size: 12px;
	 background-color: #555555;
	 background-image: url('../img/Menubackground.png');
	 border-left: 1px solid #090909;
	 border-right: 1px solid #222222;
	 border-bottom: 1px solid #090909;
	}

	td#rightcolumn th {
	 vertical-align: bottom;
	 background-color: transparent;
	 color: #D0DFFF;
	}

	td#rightcolumn div.blockTitle {
	 padding: 3px;
	 color: #D0DFFF;
	 font-weight: bold;
	 font-size: 12px;
	 padding-left: 12px;
	 background-image: url('../img/Navbar.png');
	 background-repeat: repeat-x;
	 margin-top: 0px;
	 margin-right: 0px;
	 margin-left: 0px;
	 margin-bottom: 2px;
	}

	td#rightcolumn div.blockContent {
	 padding: 3px;
	 line-height: 120%;
	 border-bottom: 0px solid #999999;
	 padding-bottom:20px;
	}



	td#table_bottomleft {
	 background: url(../img/table_bottomleft.png);
	 background-repeat: no-repeat;
	 background-position: left;
	 height:8px;
	 width:8px;
	}

	td#table_bottomright {
	 background: url(../img/table_bottomright.png);
	 background-repeat: no-repeat;
	 background-position: right;
	 height:8px;
	 width:8px;
	}



	th {
	 font-weight: bold;
	 color: #D0DFFF;
	 background-position: left;
	 line-height: 18px;
	 text-align: left;
	 padding-left: 4px;
	 background-image: url('../img/Navbar.png');
	 background-repeat: repeat-x;
	 height: 20px;
	}

	.specialhead {
	 font-weight: bold;
	 color: #D0DFFF;
	 background-position: left;
	 line-height: 18px;
	 text-align: left;
	 padding-left: 4px;
	 background-image: url('../img/Navbar.png');
	 background-repeat: repeat-x;
	 height: 20px;
	}




input.formButton {}

	.item { border: 0px solid #A0AAFF;}

	.itemHead {
	 padding: 2px;
	 background-color: #444444;
	 background: url(../img/background-444.png);
	 /*height: 20px; - don't know why i set this ;) */
	 color: #A0AAFF;
	}
	
	.itemInfo {
	 text-align: right;
	 padding: 3px;
	 background-color: #222222;
	 background: url(../img/background-222.png);
	}
	
	.itemTitle a {
	 font-size: 120%;
	 font-weight: bold;
	 background-color: transparent;
	}
	
	.itemPoster { font-size: 90%;}
	.itemPostDate { font-size: 90%;}
	.itemStats { font-size: 90%;}

	.itemBody { 
	 padding-left: 15px;
	 background-color: #3F3F3F;
	 background: url(../img/background-3F3F3F.png);
	}
	
	.itemText {
	 margin-top: 5px;
	 margin-bottom: 5px;
	 line-height: 130%;
	}
	
	.itemText:first-letter {
	 color: #7070FF;
	 font-size: 180%;
	 font-family: Cretino, "Bitstream Vera Serif", serif;
	 font-weight: bold;
	}
	
	.itemFoot {
	 text-align: right;
	 padding: 3px;
	 background-color: #222222;
	 background: url(../img/background-222.png);
	}
	
	.itemAdminLink { font-size: 90%;}
	.itemPermaLink { font-size: 90%;}




div#content {
 text-align: left;
 padding-top: 0px;
 padding-bottom: 8px;
 padding-right: 8px;
}

	.outer { 
	 background-color: #4A4A4A;
	 background: url(../img/background-4A4A4A.png);
	 border-left: 1px solid #090909;
	 border-top: 1px solid #090909;
	 border-right: 1px solid #090909;
	 border-bottom: 1px solid #090909;
	}

	.head {
	 font-weight: bold;
	 background-position: left;
	 height: 24px;
	 line-height: 22px;
	 text-align: center;
	 background-color: #444444;
	 background: url(../img/background-444.png);
	 height: 20px;
	}

	.even {
	 background-color: #444444;
	 background: url(../img/background-444.png);
	 padding: 5px;
	}

	.odd {
	 background-color: #4f4f4f;
	 background: url(../img/background-4F4F4F.png);
	 padding: 5px;
	}

	.foot {
	 padding: 5px;
	 font-weight: bold;
	 background-color: #222222;
	 background: url(../img/background-222.png);
	}




	tr.head {
	 color: #A0AAFF;
	 height: 20px;
	}

	tr.even td {
	 background-color: transparent;
	 padding: 5px;
	}

	tr.odd td {
	 background-color: transparent;
	 padding: 5px;
	}




	.footer {
	 color: #D0DFFF;
	 font-size: 12px;
	 text-align: center;
	}

	.footer a { color: #A0AAFF;}



	div.errorMsg {
	 background-color: #FFCCCC;
	 text-align: center;
	 border-top: 0px solid #222222;
	 border-left: 0px solid #222222;
	 border-right: 0px solid #444444;
	 border-bottom: 0px solid #444444;
	 font-weight: bold;
	 padding: 12px;
	}

	div.confirmMsg {
	 background-color: #333333;
	 color: #D0DFFF;
	 text-align: center;
	 border-top: 0px solid #222222;
	 border-left: 0px solid #222222;
	 border-right: 0px solid #444444;
	 border-bottom: 0px solid #444444;
	 font-weight: bold;
	 padding: 12px;
	}

	div.resultMsg {
	 background-color: #CCCCCC;
	 color: #FFFFFF;
	 text-align: center;
	 border-top: 0px solid silver;
	 border-left: 0px solid silver;
	 font-weight: bold;
	 border-right: 0px solid #666666;
	 border-bottom: 0px solid #666666;
	 padding: 12px;
	}

	div.xoopsCode {
	 background: #333333;
	 border: 0px inset #000080;
	 font-family: "Courier New",Courier,monospace;
	 padding: 0px 6px 6px 6px;
	}

	div.xoopsQuote {
	 background: #333333;
	 border: 0px inset #000080;
	 font-family: "Courier New",Courier,monospace;
	 padding: 0px 6px 6px 6px;
	}

	.com_bl {
	 padding: 2px;
	 background-color: #3F3F3F;
	 background: url(../img/background-3F3F3F.png);
	 border-left: 1px solid #090909;
	 border-top: 1px solid #090909;
	 border-right: 1px solid #090909;
	 border-bottom: 1px solid #090909;
	}

	.comTitle {
	 font-size: 16px;
	 font-weight: bold;
	 text-align: left;
	 padding: 3px;
	 background-color: #222222;
	 background: url(../img/background-222.png);
	 border-bottom: 1px solid #090909;
	}

	.comText {
	 background-color: #444444;
	 background: url(../img/background-444.png);
	 padding: 5px;
	 border-top: 1px solid #333333;
	}

	.comUserStat {
	 font-size: 12px;
	 color: #A0AAFF;
	 font-weight:bold;
	 border: 0px solid silver;
	 background-color: #333333;
	 margin: 2px;
	 padding: 2px;
	}

	.comUserStatCaption { font-weight: normal;}

	.comUserStatus {
	 margin-left: 2px;
	 margin-top: 12px;
	 color: #A0AAFF;
	 font-weight:bold;
	 font-size: 12px;
	}

	.comUserRank { margin: 2px;}

	.comUserRankText {
	 font-size: 12px;
	 font-weight:bold;
	}

	.comUserRankImg { border: 0px;}
	.comUserName {}
	.comUserImg { margin: 2px;}

	.comDate {
	 font-weight: normal;
	 font-style: italic;
	 font-size: smaller;
	}

	.comDateCaption {
	 font-weight: bold;
	 font-style: normal;
	}






.mediawiki {
     background-color : #222222;
	 background: url(../img/background-222.png);
	 border-top-width : 2px; 
	 border-right-width : 1px; 
	 border-bottom-width : 1px; 
	 border-left-width : 2px;
	 border-color : #090909;  
	 padding: 8;
}

.mediawikitable {
	 background-color: #444444;
	 background: url(../img/background-444.png);
}


table.diff {
	 background-color: #444444;
	 background: url(../img/background-444.png);
}

td.diff-otitle {
	 background-color : #333333;
	 background: url(../img/background.png);
}

td.diff-ntitle {
	 background-color : #333333;
	 background: url(../img/background.png);
}

td.diff-addedline {
	 background-color : #222222;
	 background: url(../img/background-222.png);
	 font-size: 94%;
}

td.diff-deletedline {
	 background-color : #222222;
	 background: url(../img/background-222.png);
	 font-size: 94%;
}

td.diff-context {
	 background-color : #333333;
	 background: url(../img/background.png);
	 font-size: 94%;
}

span.diffchange { color: #CC2222; font-weight: bold; }




.wfdownmain {
	 background-color: #4A4A4A;
	 background: url(../img/background-4A4A4A.png);
	 border-left: 1px solid #090909;
	 border-top: 1px solid #090909;
	 border-right: 1px solid #090909;
	 border-bottom: 1px solid #090909;
}

.wfdownTitle {
	 background-image:url(../img/Navbar.png);
	 background-repeat:repeat-x;
	 color: #D0DFFF;
	 padding-left: 2px;
	 font-size:14px;
	 font-weight: bold;
	 height: 20px;
}

/* color -- dropdown menu for Forum */
div.dropdown a, div.dropdown .menubar a{
	 color: #D0DFFF;
}

div.dropdown .menu, div.dropdown .menubar, div.dropdown .item, div.dropdown .separator{
	 background-color: #444444; /* color set in your theme/style.ss .th{} is recommended */
	 color: #D0DFFF; 
}

div.dropdown .separator{
	border: 1px inset #aabbcc;
}

div.dropdown .menu a:hover, div.dropdown .userbar a:hover{
	color: #aabbcc;
}
/* color - end */


