.toc {
	border: 1px solid black;
	display: inline-block;
	padding: 0px 8px;
	background-image: url("../img/black50.png");
	font-size: 12px;
	margin-bottom: 20px;
	line-height: 18px;
}

.toc ul {
	padding-left: 20px;
}

/***********/
/* History */
/***********/
.history_list {
	width: 100%;
	border-collapse: collapse;
}

.history_list  td {
	border: 1px solid black;
	padding: 4px;
}

.history_list th {
	padding: 4px;
}

.history_list .comment {
	width: 50%;
}

.history_list .article, .history_list .at {
	width: 15%;
}

.history_list .action, .history_list .user {
	width: 10%;
}

/******************/
/* Edit Wiki Page */
/******************/
#edit_wiki_page_form {
	width: 100%;
}

#edit_wiki_page_form th {
	text-align: left;
}

#edit_wiki_page_form #id_title,#id_comment {
	width: 98%;
}

#id_content {
	width: 98%;
	height: 400px;
}

#id_summary {
	width: 98%;
	height: 100px;
}
