{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load i18n %}

{# This template is used to add posts or topics in a separate view #}

{% block title %}
{% if forum %}
{% trans "New Topic" %}
{% else %}
{%if post %}
{% trans "Edit Reply" %}
{% else %}
{% trans "New Reply" %}
{% endif %}
{% endif %}
- {{ block.super }}
{% endblock %}

{% block content_header %}
<h1>
    {% if forum %}
    {% trans "New Topic" %}
    {% else %}
    {%if post %}
    {% trans "Edit Reply" %}
    {% else %}
    {% trans "New Reply" %}
    {% endif %}
    {% endif %}
</h1>
{% endblock %}
{% block content_section %}
<section>
    <a href="{% url 'pybb_index' %}">Forums</a> &#187;
    {% if forum %}
    <a href="{{ forum.category.get_absolute_url }}">{{ forum.category.name }}</a> &#187;
    {{ forum }}
    {% else %}
    {% pybb_link topic.forum.category %} &#187;
    <a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum.name }}</a> &#187;
    {{ topic }}
    {% endif %}
    <br/><br/>

    {% include "pybb/post_form.html" %}

</section>

{% endblock %}
