{% extends 'pybb/base.html' %}
{% load custom_date %}
{% load wlprofile_extras %}

{% block title %}
    Latest posts - {{ block.super }}
{% endblock title %}


{% block content_header %}
    <h1>Latest Posts</h1>
{% endblock %}

{% block content_main %}
<div class="blogEntry">

    <form action="." method="post" novalidate>
        {% csrf_token %}
        <span class="errormessage">{{ form.days.errors }}</span>
        {{ form.days.label_tag }} {{ form.days }}
        <span class="errormessage">{{ form.sort_by.errors }}</span>
        {{ form.sort_by.label_tag }} {{ form.sort_by }}
        <input type="submit" value="Submit" />
    </form>
    <p>The list is always sorted by the most recent post first</p>
    <hr>
    {% if sort_by == 'topic' %}
      {% regroup posts by topic as topic_list %}
      {% for topic, posts in topic_list %}
      <h2>{{ topic }}</h2>
      <p>At Forum:
      <a href="{% url 'pybb_forum' posts.0.topic.forum.id %}">{{ posts.0.topic.forum }}</a>
      </p>
      <table class='forum'>
        <thead>
          <tr>
            <th style="text-align: left;">Date</th>
            <th style="text-align: left;">User</th>
            <th style="text-align: left;">Post{{posts|length|pluralize}}</th>
          </tr>
        </thead>
        <tbody>
          {% for post in posts %}
          <tr class="{% cycle 'odd' 'even' %}">
            <td class='post'>{{ post.created|custom_date:user }}</td>
            <td class='post'>{{ post.user|user_link }}</td>
            <td class='post'>"<a href="{{post.get_absolute_url}}">{{ post.body_text|truncatechars:80}}</a>"</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% endfor %}
    {% else %} {# sort by forum #}
      {% regroup posts by topic.forum as forum_list %}
 
      {% for forum, posts in forum_list %}
        <h2>{{ forum }}</h2>
        <table class='forum'>
          <thead>
            <tr>
              <th style="text-align: left;">Topic</th>
              <th style="text-align: left;">Posts</th>
            </tr>
          </thead>
          <tbody>
          {% regroup posts by topic as topic_list %}
          {% for topic, posts in topic_list %}
            <tr class={% cycle 'odd' 'even' %}>
              <td class='post'>
                <a href="{% url 'pybb_topic' posts.0.topic.id %}">{{ posts.0.topic }}</a>
              </td>
              <td class='post'>
                <ul>
                {% for post in posts %}
                  <li>
                    {{post.topic.updated|custom_date:user}}:
                    {{ post.user|user_link }} wrote:
                    "<a href="{{post.get_absolute_url}}">{{ post.body_text|truncatechars:80}}</a>"
                  </li>
                {% endfor %}
                </ul>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        {% empty %}
        <p>Sorry, no posts found...</p>
      {% endfor %}
    {% endif %}
</div>
{% endblock %}
