{% extends 'pybb/base.html' %}
{% load custom_date %}
{% load wlprofile_extras %}

{% block title %}
    Latest posts - {{ block.super }}
{% endblock title %}


{% block content_header %}
    <h1>Latest Posts</h1>
{% endblock %}

{% block content_main %}
<div class="blogEntry">
    <p>This list shows the last posts created {{ last_posts_days }} days before today.
    The list is sorted by the posts date and grouped by the topics name.</p>
    <form action="." method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
    
    {% regroup posts by topic as topic_list %}
    
    {% for topic in topic_list %}
        <h2>{{ topic.grouper }}
        </h2>
        <p>At forum:
        <a href="{% url 'pybb_forum' topic.list.0.topic.forum.id %}">{{ topic.list.0.topic.forum }}</a>
        {% if topic.list.0.topic.forum.category.internal %} (Internal forum) {% endif %}
        {% if topic.list.0.topic.is_hidden %} (Hidden topic) {% endif %}
        </p>
        <ul>
            {% for post in topic.list %}
                <li>
                    {{post.topic.updated|custom_date:user}}:
                    {{ post.user|user_link }} wrote:
                    "<a href="{{post.get_absolute_url}}">{{ post.body_text|truncatechars:80}}</a>"
                </li>
            {% endfor %}
        </ul>
        {% empty %}
        <p>Sorry, no posts found...</p>
    {% endfor %}
</div>
{% endblock %}
