{% extends "mainpage/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
Forum - {{ block.super }}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/forum.css' %}?v2" />

<link rel="alternate" type="application/atom+xml" title="Latest Posts on all forums" href="{% url 'pybb_feed_posts' %}" />
<link rel="alternate" type="application/atom+xml" title="Latest Topics on all forums" href="{% url 'pybb_feed_topics' %}" />
<!-- For reactions on a post -->
<script>
    function sendReaction(image, p) {
        const element = document.getElementById("img-" + p)
        element.value = image
        const form = document.getElementById("form-" + p)
        form.submit()
    }
</script>
{{ block.super }}
{% endblock %}

