{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load i18n %}

{% block title %}
{% trans "Edit Reply" %} - {{ block.super }}
{% endblock %}

{% block content_header %}
    <h1>{% trans "Edit Reply" %}</h1>
{% endblock %}

{% block content_section %}
<section>
	<a href="{% url 'pybb_index' %}">Forums</a> &#187;
	{% pybb_link post.topic.forum.category %} &#187;
	<a href="{{ post.topic.forum.get_absolute_url }}">{{ post.topic.forum.name }}</a> &#187;
	{{ post.topic }}
	<br /><br />

	{% include "pybb/post_form.html" %}

</section>

{% endblock %}
