{% load i18n %}
{% load static %}

{% comment %}
This template is used to prevent using same code
in different parent templates.
{% endcomment %}

{% block extra_head %}
<script type="text/javascript" src="{% static 'js/disableOnSubmit.js' %}"></script>
<script type="text/javascript">
	$(function() {
		$('form').disableOnSubmit();
		$('.post-form .preview-button').click(function() {
			var raw_content = $.trim($('.post-form #id_body').val());
			var markup = $('.post-form #id_markup').val();

			args = {'content': raw_content, 'markup': markup}
			$.post("{% url 'pybb_post_ajax_preview' %}", args, function(data) {
				if (data.error) {
					alert(data.error);
				} else {
					$('.preview-box .content').html(data.content);
					$('.preview-box').show();
				}
			}, 'json')
			.fail(function(o, status, error) {
				alert( "Something has gone wrong. Please inform the Webmaster in the forum.\n"
					  + "Object: " + o + "\n"
					  + "Status: " + status + "\n"
					  + "What: " + error );
			})
			
		});
	});
	$(document).ready(function() {
		$('#btn-file-reset').on('click', function() {
			$('#id_attachment').val('');
	});
});
</script>
{% endblock %}

{# HMTL included to parent templates, no block tag #}
	<div class="preview-box" style="display: none">
		{% trans "Preview" %}:<br />
		<div class="content post">
		</div>
		<br />
	</div>

	<div class="posRight">
		<a href="/wiki/WikiSyntax" title="Opens new Tab/Window" target="_blank">
			<img src="{% static 'img/menu_help.png' %}" alt="Help on Syntax" class="middle">
			Help on Syntax
		</a>
	</div>

	<form class="post-form" action="{{ form_url }}" method="post" enctype="multipart/form-data">
		{% if not form.name.is_hidden %}
		<p>
			<p class="errormessage">{{ form.name.errors.as_text }}</p>
			{{ form.name.label }}:
			{{ form.name }}
		</p>
		{% endif %}
		<p>
			<p class="errormessage">{{ form.body.errors.as_text }}</p>
			{{ form.body.label }}:
			{{ form.body }}
		</p>
		<p>
			<p class="errormessage">{{ form.markup.errors.as_text }}</p>
			{{ form.markup.label }}:
			{{ form.markup }}
		</p>
		{% if not form.attachment.is_hidden %}
		<p>
			<p>
				Please refer to the wiki page
				<a href="{{ site }}/wiki/{{ wikipage }}">{{ wikipage }}</a>
				for pointers.
			</p>
			<p class="errormessage">{{ form.attachment.errors.as_text }}</p>
			{{ form.attachment.label }}
			{{ form.attachment }}
			<button id="btn-file-reset" type="button">
				<img src="{% static 'img/delete.png' %}" alt ="" class="middle" />
				<span class="middle">{% trans "Reset" %}</span>
			</button>
		</p>
		{% endif %}

	{% csrf_token %}
	<button type="submit">
		<img src="{% static 'forum/img/send.png' %}" alt ="" class="middle" />
		<span class="middle">{% trans "Send" %}</span>
	</button>
	<button type="button" class="preview-button">
		<img src="{% static 'forum/img/preview.png' %}" alt ="" class="middle" />
		<span class="middle">{% trans "Preview" %}</span>
	</button>
	</form>
