{% extends "wlpoll/base.html" %}
{% comment %}
   vim:ft=htmldjango
{% endcomment %}

{% load wlprofile_extras wlpoll_extras %}
{% load comments %}
{% load threadedcommentstags custom_date %}

{% block title %}{{ object.name }} - {{ block.super }}{% endblock %}

{% block content %}
	{% if perms.wlpoll %}
	<div class="small posRight">
		{% if perms.wlpoll.poll_can_add %}<a href="/admin/wlpoll/poll/add/" class="invertedColor">Add New Poll</a>{% endif %}
		{% if perms.wlpoll.poll_can_edit %}| <a href="/admin/wlpoll/poll/{{object.id}}/" class="invertedColor">Edit</a>{% endif %}
		{% if perms.wlpoll.poll_can_delete %}| <a href="/admin/wlpoll/poll/{{object.id}}/delete/" class="invertedColor">Delete</a>{% endif %}
	</div>
	{% endif %}
	<h1>Poll: {{ object.name }}</h1>
	<div class="blogEntry">
		{% display_poll object %}
		<hr />
		{% get_comment_count for object as ccount %}
		<span class="small posLeft"><a href="{{ object.get_absolute_url }}">{{ ccount }} comments, {{object.total_votes}} votes</a></span>
		<span class="small posRight">Posted on {{ object.pub_date|custom_date:user }}</span>
	</div>

	<div class="blogEntry">
		<h3>Comments on this Poll:</h3>
		{% include "threadedcomments/inlines/comments.html" %}
	</div>
{% endblock %}
