{% extends "wlpoll/base.html" %}
{% comment %}
   vim:ft=htmldjango
{% endcomment %}

{% load wlprofile_extras wlpoll_extras %}
{#{% load comments %}#}
{% load threadedcommentstags custom_date %}

{% block title %}{{ object.name }} - {{ block.super }}{% endblock %}

{% block content_tabbing %}
	<h1>Poll: {{ object.name }}</h1>
	{% if perms.wlpoll %}
	<ul class="small tab-list">
		{% if perms.wlpoll.add_poll %}
			<li>
				<a href="/admin/wlpoll/poll/add/">Add New Poll</a>
			</li>
		{% endif %}
		{% if perms.wlpoll.change_poll %}
			<li>
				<a href="/admin/wlpoll/poll/{{object.id}}/">Edit</a>
			</li>
		{% endif %}
		{% if perms.wlpoll.delete_poll %}
			<li>
				<a href="/admin/wlpoll/poll/{{object.id}}/delete/">Delete</a>
			</li>
		{% endif %}
	</ul>
	{% endif %}

{% endblock %}
{% block content %}
	<div class="blogEntry">
		<div id="chartContainer" style="width: 100%; height: 400px"></div>
		{% display_poll object %}		
		<hr />
		{% get_comment_count for object as ccount %}
		<span class="small posLeft"><a href="{{ object.get_absolute_url }}">{{ ccount }} comments, {{object.total_votes}} votes</a></span>
		<span class="small posRight">Posted on {{ object.pub_date|custom_date:user }}</span>
	</div>

	<div class="blogEntry">
		<h3>Comments on this Poll:</h3>
		{% include "threadedcomments/inlines/comments.html" %}
	</div>
{% endblock %}
