{% extends "wlpoll/base.html" %}
{% comment %}
   vim:ft=htmldjango
{% endcomment %}

{% load wlpoll wlprofile %}
{% load threadedcommentstags custom_date %}

{% block title %}{{ object.name }} - {{ block.super }}{% endblock %}

{% block content %}
<br />
<div class="poll">
   <h3 class="title">{{ object.name }}</h3>
   <div class="info_line"> 
      <span class="post_date">Posted on {{ object.pub_date|custom_date:user }}</span> 
   </div>
   <div class="content">
      <div class="poll_plot">
      {% display_poll object %}
      </div>
   </div>

   <table class="bottom_line" width="100%">
      <tr>
      {% get_comment_count for object as ccount %}
      <td class="comments">
         <a href="{{ object.get_absolute_url }}">{{ ccount }} comments, {{object.total_votes}} votes</a>
      </td>
      
      <td class="admin">
      {% if perms.news %}
      {% if perms.news.poll_can_add %}<a href="/admin/wlpoll/poll/add/">Add New Poll</a>{% endif %}
      {% if perms.news.poll_can_edit %}| <a href="/admin/wlpoll/poll/{{object.id}}/">Edit</a>{% endif %}
      {% if perms.news.poll_can_delete %}| <a href="/admin/wlpoll/poll/{{object.id}}/delete/">Delete</a>{% endif %}
      {% endif %}
      </td>

      <!-- Third column for the style -->
      <td>
      </td>
  </tr>
  </table>
</div>
      

    <!-- Comments below -->
    <h3>Comments on this Poll:</h3>
    {% include "threadedcomments/inlines/comments.html" %}
{% endblock %}
