
{% load wlimages_extras %}

{% for img in images %}
<table width="100%" class="images">
	<thead>
		<tr>
			<th class="first-column" style="text-align: right;">Name:</th>
			<th>{{ img.name}}</th>
		</tr>
	</thead>
	<tbody>
		{% if img|has_file %}
		<tr>
			<td>
				<span>Properties:</span><br />
				<span class="grey">Width:</span><br />
				{{ img.image.width }} px<br />
				<span class="grey">Height:</span><br />
				{{ img.image.height }} px<br />
				<span class="grey">Filesize:</span><br />
				{{ img.image.size|filesizeformat }}
			<td  style="vertical-align: middle; text-align: center;"><img src="{{ img.image.url }}"></td>
		</tr>
		<tr>
			<td class="grey">Code to use in article:</td>
			{# Show only one code snippet if the image is greater than 700px #}
			{% if img.image.width > 700 %}
				<td style="text-align: center;">[![{{img.name}}]({{ img.image.url }})]({{ img.image.url }})</td>
		</tr>
			{# provide all options #}
			{% else %}
				<td style="text-align: center;">![{{img.name}}]({{ img.image.url }})</td>
		</tr>
		<tr>
			<td class="grey">Right aligned:</td>
			<td style="text-align: center;">![{{img.name}}]({{ img.image.url }}){: .right}</td>
		</tr>
		<tr>
			<td class="grey">Left aligned:</td>
			<td style="text-align: center;">![{{img.name}}]({{ img.image.url }}){: .left}</td>
		</tr>
			{% endif %}
		{% else %}
		<tr>
			<td colspan=2 align="center">
				!! Could not find the file for this image !!<br />
				{{ img.image.name}}<br />
				Please inform an admin about this issue
			</td>
		</tr>
		{% endif %}
	</tbody>
</table>
{% endfor %}
