__pycache__/
/dev.db
# Database backups, see docker-compose.yml
/dbdump/
*.pyc
mainpage/local*.py
/debug_log.txt
.idea
templates/robots.txt

# Uploaded images.
media/*
!media/wlprofile/avatars/anonymous.png
whoosh_index
