import os
bd = "/some/path"
bd = os.getcwd() # Better make this a static path

TEMPLATE_DIRS = bd + '/templates'
STATIC_MEDIA_PATH = bd + '/media'
MEDIA_ROOT = bd + '/media/'
WIDELANDS_SVN_DIR = "/Users/sirver/Desktop/Programming/cpp/widelands/svn_trunk/"

DATABASES = {
   'default': {
      'ENGINE': 'django.db.backends.sqlite3',
      'NAME': 'dev.db',
      'USER': '',      # Not used with sqlite3.
      'PASSWORD': '',  # Not used with sqlite3.
      'HOST': '',      # Set to empty string for localhost. Not used with sqlite3.
      'PORT': '',      # Set to empty string for default. Not used with sqlite3.
   }
}



