from django.conf.urls import *
from django.conf import settings

# Don't use this file on the server!

if settings.DEBUG:
   # This urls should never be used in production!
   
   local_urlpatterns = [
      url(r'^wlmedia/(?P<path>.*)$',
          'django.views.static.serve',
          {'document_root': settings.STATIC_MEDIA_PATH},
          name='static_media'),
      url(r'^media/(?P<path>.*)$',
          'django.views.static.serve',
          {'document_root': settings.STATIC_MEDIA_PATH},
          name='static_media_pybb'),
      url(r'^documentation/(?P<path>.*)$',
          'django.views.static.serve',
          {'document_root': settings.DOCUMENTATION_DIR},
          name = 'documentation')
      ]