Django==1.3.1
wsgiref==0.1.2
-e git://github.com/kerin/django-sphinx.git/@1c5ef8abcf86f9a9458f763ceb9e5d882247ea37#egg=djangosphinx
docutils==0.7
Pillow==2.5.0
pyparsing==1.5.6
-e svn+http://django-pagination.googlecode.com/svn/trunk/#egg=pagination
-e hg+https://django-tracking.googlecode.com/hg/#egg=tracking
-e git://gitorious.org/python-markdown/mainline.git#egg=markdown
BeautifulSoup==3.2
-e hg+http://bitbucket.org/ubernostrum/django-registration/@1086c6a#egg=registration
-e svn+http://django-tagging.googlecode.com/svn/trunk/#egg=tagging
-e git://github.com/dcramer/django-ratings.git#egg=djangoratings
django-threadedcomments==0.5.2
-e svn+http://django-messages.googlecode.com/svn/trunk/#egg=django_messages
-e git://github.com/jtauber/django-notification.git@3f023adf0ce2eafcee744904e2c358792f253721#egg=notification
# Sphinx and sphinxdoc need to match - choose from a similar time.
sphinx==0.6.5
django-sphinxdoc==0.3.2
South==0.7.3
numpy
pydot
ipython
