beautifulsoup4
Pillow
Django==1.8
django-contrib-comments
-e git://github.com/jtauber/django-notification.git@3f023adf0ce2eafcee744904e2c358792f253721#egg=django_notification
django-pagination
-e git://github.com/dcramer/django-ratings.git@4d00dedc920a4e32d650dc12d5f480c51fc6216c#egg=django_ratings
django-registration
django-tagging
django-threadedcomments
gunicorn
Markdown
#Following packagages needs verifying if needed:
numpy
pydot
South
