alabaster==0.7.12
asttokens==2.0.8
Babel==2.10.3
backcall==0.2.0
beautifulsoup4==4.7.1
bleach==3.3.0
certifi==2022.9.24
charset-normalizer==2.1.1
confusable-homoglyphs==3.2.0
decorator==5.1.1
dj-pagination==2.4.0
Django==2.2.28
django-braces==1.15.0
django-filter==2.4.0
django-haystack==2.8.1
-e git+https://github.com/arneb/django-messages.git@2efe00c6521dd07b9610a15544cb130c514f3a5f#egg=django_messages
django-model-utils==4.2.0
django-nocaptcha-recaptcha==0.0.20
django-registration==3.1.2
django-star-ratings==0.8.0
django-tagging==0.4.6
docutils==0.17
executing==1.1.0
gunicorn==20.1.0
idna==3.4
imagesize==1.4.1
ipython==8.10.0
jedi==0.18.1
Jinja2==3.1.2
lxml==4.9.1
Markdown==3.1.1
MarkupSafe==2.1.1
matplotlib-inline==0.1.6
mdx-wikilink-plus==1.4.1
mysqlclient==2.1.1
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
prompt-toolkit==3.0.31
ptyprocess==0.7.0
pure-eval==0.2.2
pydot==1.4.1
Pygments==2.13.0
pyparsing==3.0.9
python-magic==0.4.15
pytz==2022.2.1
requests==2.31.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==4.3.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.3
stack-data==0.5.1
swapper==1.3.0
traitlets==5.4.0
urllib3==1.26.12
wcwidth==0.2.5
webencodings==0.5.1
Whoosh==2.7.4
