{% extends "registration/base.html" %}
{% comment %}
vim:ft=htmldjango: 
{% endcomment %}

{% block title %}
{{ block.super }} - Register
{% endblock %}

{% load i18n %}

{% block content %}
{% include "django_messages/inlines/navigation.html" %}

<br />
<br />
<div class="register_item">
    <h3 class="title">Password reset</h3>
    <div class="bottom_line">
        <br />
        <div class="show_center errormessage">
            Forgotten your password?
            <br />
            Enter your e-mail address below,
            <br />
            and we'll e-mail instructions for setting a new one.
        </div>
        <div class="show_right">
            <br />
            <form action="" method="post">
                {{ form.email.errors }}
                <label for="id_email">{% trans 'E-mail address:' %}</label> {{ form.email }} 
                <input type="submit" value="{% trans 'Reset my password' %}" />
            </form>
            <br />
        </div>
    </div>
</div>

{% endblock %}
