{% extends "registration/base.html" %}
{% comment %}
vim:ft=htmldjango: 
{% endcomment %}

{% load i18n %}

{% block title %}
Password Reset - {{ block.super }}
{% endblock %}

{% block content %}
<h1>Password Reset</h1>
<div class="blogEntry">
{% if validlink %}
	<p>
		Please enter your new password twice so we can verify you typed it in correctly.
	</p>
	<form action="." method="post">
		<table>
			<tr>
				<td class="grey">
					<label for="id_new_password1">{% trans 'New password:' %}</label>
				</td>
				<td>
					{{ form.new_password1 }}
					<span class="errormessage">{{ form.new_password1.errors }}</span>
				</td>
			</tr>
			<tr>
				<td class="grey">
					<label for="id_new_password2">{% trans 'Confirm password:' %}</label>
				</td>
				<td>
					{{ form.new_password2 }}
					<span class="errormessage">{{ form.new_password2.errors }}</span>
				</td>
			</tr>
		</table>
		<input type="submit" value="{% trans 'Set new password' %}" />
		{% csrf_token %}
	</form>
{% else %}
	<p class="errormessage">
		The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
	</p>
{% endif %}
</div>
{% endblock %}
