{% extends "registration/base.html" %}
{% comment %}
vim:ft=htmldjango: 
{% endcomment %}

{% block title %}
{{ block.super }} - Change Password
{% endblock %}

{% load i18n %}

{% block content %}
{% include "django_messages/inlines/navigation.html" %}

<br />
<br />
<div class="box_item_model fixed_site border">
    <h3 class="title">Password change</h3>
    <div class="info_line">
        <br />
        <div class="show_center errormessage">
            Please enter your old password,
            <br />
            for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
        </div>
        <div >
            <br />
            <form action="" method="post">
                <table>
                    <tr>
                        <td class="show_right" width="120">
                            <label for="id_old_password">{% trans 'Old password:' %}</label>
                        </td>
                        <td>
                            {{ form.old_password }}
                            <span class="errormessage">{{ form.old_password.errors }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="show_right">
                            <label for="id_new_password1">{% trans 'New password:' %}</label>
                        </td>
                        <td>
                            {{ form.new_password1 }}
                            <span class="errormessage">{{ form.new_password1.errors }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="show_right">
                            <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                        </td>
                        <td>
                            {{ form.new_password2 }}
                            <span class="errormessage">{{ form.new_password2.errors }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            <input type="submit" value="{% trans 'Change my password' %}" />
                        </td>
                    </tr>
                </table>
                {% csrf_token %}
	    </form>
            <br />
        </div>
    </div>
</div>
{% endblock %}
