{% extends "registration/base.html" %}
{% comment %}
vim:ft=htmldjango: 
{% endcomment %}

{% block title %}
{{ block.super }} - Reset Password
{% endblock %}

{% load i18n %}

{% block content %}
{% include "django_messages/inlines/navigation.html" %}

<br />
<br />
<div class="box_item_model fixed_site border">
    <h3 class="title">Password reset</h3>
    <div class="info_line">
        <br />
{% if validlink %}
        <div class="show_center errormessage">
            Please enter your new password twice so we can verify you typed it in correctly.
        </div>
        <div>
            <br />
            <form action="" method="post">
                {{ form.new_password1.errors }}
                <p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
                {{ form.new_password2.errors }}
                <p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
                <p><input type="submit" value="{% trans 'Change my password' %}" /></p>
            </form>
            <br />
        </div>
{% else %}
        <div class="show_center errormessage">
            The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.
        </div>
{% endif %}
    </div>
</div>
{% endblock %}
