{% extends "registration/base.html" %}
{% comment %}
vim:ft=htmldjango: 
{% endcomment %}

{% load i18n %}

{% block title %}
Password Change - {{ block.super }}
{% endblock %}

{% block content %}
<h1>Password Change</h1>
<div class="blogEntry">
	<p>
		Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.
	</p>
	<form action="." method="post">
		<table>
			<tr>
				<td class="grey" width="120">
					<label for="id_old_password">{% trans 'Old password:' %}</label>
				</td>
				<td>
					{{ form.old_password }}
				</td>
				<td class="errormessage">
					{{ form.old_password.errors }}
				</td>
			</tr>
			<tr>
				<td class="grey">
					<label for="id_new_password1">{% trans 'New password:' %}</label>
				</td>
				<td>
					{{ form.new_password1 }}
				</td>
				<td class="errormessage">
					{{ form.new_password1.errors }}
				</td>
			</tr>
			<tr>
				<td class="grey">
					<label for="id_new_password2">{% trans 'Confirm password:' %}</label>
				</td>
				<td>
					{{ form.new_password2 }}
				</td>
				<td class="errormessage">
					{{ form.new_password2.errors }}
				</td>
			</tr>
		</table>
		{% csrf_token %}
		<input type="submit" value="{% trans 'Change my password' %}" />
	</form>
</div>
{% endblock %}
