{% extends "registration/base.html" %}
{% comment %}
vim:ft=htmldjango: 
{% endcomment %}

{% load i18n %}

{% block title %}
Password Reset - {{ block.super }}
{% endblock %}

{% block content_header %}
    <h1>Password Reset</h1>
{% endblock %}

{% block content_main %}
<div class="blogEntry">
	<p>
		Forgotten your password?
	</p>
	<p>
		Enter your e-mail address below, and we'll e-mail instructions for setting a new one.
	</p>
	<form action="." method="post">
		{% for error in form.email.errors %}
		<p class="errormessage">{{ error }}</p>
		{% endfor %}
		<label for="id_email" class="grey">{% trans 'E-mail address:' %}</label> {{ form.email }}
		<br />
		<input type="submit" value="{% trans 'Reset my password' %}" />
		{% csrf_token %}
	</form>
</div>
{% endblock %}
