{% extends "registration/base.html" %}
{% comment %}
vim:ft=htmldjango: 
{% endcomment %}

{% block title %}
Registration - {{ block.super }}
{% endblock %}

{% block content %}

<h1>Registration</h1>
<div class="blogEntry">
	<form action="https://{{ request.META.HTTP_HOST }}/accounts/register/" method="POST">
		<table>
			<tr>
				<td class="show_right">Username:</td>
				<td class="show_left">
					{{ registration_form.username }}
{% for error in registration_form.username.errors %}
					<span class="errormessage">{{ error }}</span>
{% endfor %}
				</td>
			</tr>
			<tr>
				<td class="show_right">Email:</td>
				<td class="show_left">
					{{ registration_form.email }}
{% for error in registration_form.email.errors %}
					<span class="errormessage">{{ error }}</span>
{% endfor %}
				</td>
			</tr>
			<tr>
				<td class="show_right">Password:</td>
				<td class="show_left">
					{{ registration_form.password1 }}
{% for error in registration_form.password1.errors %}
					<span class="errormessage">{{ error }}</span>
{% endfor %}
				</td>
			</tr>
			<tr>
				<td class="show_right">Password (again):</td>
				<td class="show_left">
					{{ registration_form.password2 }}
 {% for error in registration_form.password2.errors %}
					<span class="errormessage">{{ error }}</span>
 {% endfor %}
				</td>
			</tr>
			<tr>
				<td class="show_right">Prove that <br />you're no spambot:</td>
				<td class="show_left">
					<div class="noshadow">{{ registration_form.captcha|safe }}</div>
 {% for error in registration_form.captcha.errors %}
					<span class="errormessage">{{error }}</span>
 {% endfor %}
				</td>
			</tr>
			<tr>
				<td class="show_right">&nbsp;</td>
				<td class="show_left">
					<input type="submit" value="Register" />
				</td>
			</tr>
		</table>
        {% csrf_token %}
	</form>
</div>
{% endblock %}
