/*
 * Comment
 */
.comment {
	border: 1px solid black;
	padding: 8px;
	margin-bottom: 5px;
}

.comment table {
	border-collapse: collapse;
	width: 100%;
}

.comment .author {
	padding-right: 8px;
	text-align: center;
	border-right: 1px solid #998;
	height: 100%;
	min-width: 5em;
}

.comment .text {
	padding-left: 8px;
	width: 100%;
}

textarea {
	width: 97%;
}

.comment .reply_link {
	vertical-align: bottom;
	text-align: right;
}
