{% extends "notification/base.html" %}

{% load humanize i18n %}
{% load pagination_tags %}
{% load custom_date %}

{% block title %}
{% trans "Notifications "%} - {{ block.super }}
{% endblock %}

{% block content %}
<h1>{% trans "Notification Settings" %}</h1>

<div class="blogEntry">
	<h2>{% trans "Settings" %}</h2>

	{% url 'acct_email' as email_url %}
	{% if user.email %}
	<p>
		{% trans "Primary email" %}: {{ user.email }}<br />
		(You can change this in your <a href="{% url 'profile_edit' %}">profile settings</a>.)
	</p>
	{% else %}
	<p class="errormessage">
		You do not have a verified email address to which notifications can be sent. You can add one by <a href="{% url 'profile_edit' %}">editing your profile</a>.
	</p>
	{% endif %}
	<form method="POST" action=".">
	{% for app, settings in app_tables.items %}
		<h3>{{ app|capfirst }} </h3>
		<table class="notifications">
			<tr>
				<th class="small">{% trans "Notification Type" %}</th>
				{% for header in column_headers %}
					<th class="small">{{ header }}</th>
				{% endfor %}
			</tr>
			{% for setting in settings %}
			<tr class="{% cycle "odd" "even" %}">
				<td>
					{% trans setting.notice_type.display %}<br />
					{% trans setting.notice_type.description %}
				</td>
				<td style="width: 5em;">
					{% for html_value in setting.html_values %}
						<input type="checkbox" name="{{ html_value.0 }}" {% if html_value.1 %}checked="checked" {% endif %}/>
					{% endfor %}
				</td>
			</tr>
			{% endfor %}
		</table>
		<br />
	{% endfor %}
	{% csrf_token %}
	<input class="posRight" type="submit" value="{% trans "Change" %}" />
	</form>
</div>
{% endblock %}
