{% extends "notification/base.html" %}

{% load humanize i18n %}
{% load pagination_tags %}
{% load custom_date %}

{% block title %}
{% trans "Notices "%} - Account - {{ block.super }}
{% endblock %}

{% block extra_head %}
    <link rel="alternate" type="application/atom+xml" title="Notices Feed" href="{% url notification_feed_for_user %}" />
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}/css/profile.css" />{{ block.super}}
{% endblock %}

{% block content %}
    {% include "django_messages/inlines/navigation.html" %}
    <br />
    <br />
    <div class="profile_item">
    <h3 class="title">{% trans "Notices" %}</h3>
    
    {% autopaginate notices %}
    
    {% if notices %}
        <div class="bottom_line admin">
            <br />
            <a href="{% url notification_mark_all_seen %}">{% trans "Mark all unseen notices seen" %}</a>
            <br />
            <br />
        </div>
        {# TODO: get timezone support working with regroup #}
        {% regroup notices by added.date as notices_by_date %}
        
        {% for date in notices_by_date %}
            <h3 class="title notice_date">{{ date.grouper|naturalday:_("MONTH_DAY_FORMAT")|capfirst }}</h3>
            {% for notice in date.list %}
                {% if notice.is_unseen %}
                <div class="{% cycle "odd" "even" %} unseen_notice border_top">
                {% else %}
                <div class="{% cycle "odd" "even" %} notice border_top">
                {% endif %}
                    <span class="notice_type">[{% trans notice.notice_type.display %}]</span>
                    <span class="notice_message">{{ notice.message|safe }}</span>
                    <span class="notice_time">{{ notice.added }}</span>
                </div>
            {% endfor %}
        {% endfor %}
        
        {% paginate %}
        
    {% else %}
        <p>{% trans "No notices." %}</p>
    {% endif %}
    </div>
    <br />
    <br />
    <div class="profile_item notice_settings">
        <h3 class="title">{% trans "Settings" %}</h2>
        
        {% url acct_email as email_url %}
        {% if user.email %}
            <div class="bottom_line">
                <br />
                {% trans "Primary email" %}:<br />
                <b>{{ user.email }}</b><br />
                (change under <a href="{% url profile_view user %}">Account</a>)
                <br />
                <br />
            </div>
        {% else %}
            <div class="bottom_line">
                <br />
                <span class="warning">{% trans "Note" %}</span>:
                You do not have a verified email address to which notices can be sent. You can add one by going to <a href="{% url profile_edit %}">Account</a>.
                <br />
                <br />
            </div>
        {% endif %}
        
        <form method="POST" action=""> {# doubt this easy to do in uni-form #}
            <table width="100%" class="notice_settings" cellspacing="1">
                <tr>
                    <th>{% trans "Notification Type" %}</th>
                    {% for header in notice_settings.column_headers %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                {% for row in notice_settings.rows %}
                    <tr>
                        <td class="{% cycle "odd" "even" %}">{% trans row.notice_type.display %}<br/>
                            <span class="notice_type_description">{% trans row.notice_type.description %}</span>
                        </td>
                        {% for cell in row.cells %}
                            <td class="{% cycle "odd" "even" %}">
                                <input type="checkbox" name="{{ cell.0 }}" {% if cell.1 %}checked="yes"{% endif %}/>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                <tr>
                    <td class="bottom_line" colspan="2"><input type="submit" value="{% trans "Change" %}" /></td>
                </tr>
            </table>
        </form>
    </div>

{% endblock %}
