{% extends "notification/base.html" %}

{% load humanize i18n %}
{% load pagination_tags %}
{% load custom_date %}

{% block title %}
{% trans "Notifications "%} - {{ block.super }}
{% endblock %}

{% block content %}
<h1>{% trans "Notifications" %}</h1>

<div class="blogEntry">
	<h2>{% trans "Settings" %}</h2>

	{% url 'acct_email' as email_url %}
	{% if user.email %}
	<p>
		{% trans "Primary email" %}: {{ user.email }}<br />
		(You can change this in your <a href="{% url 'profile_edit' %}">profile settings</a>.)
	</p>
	{% else %}
	<p class="errormessage">
		You do not have a verified email address to which notifications can be sent. You can add one by <a href="{% url 'profile_edit' %}">editing your profile</a>.
	</p>
	{% endif %}

	<form method="POST" action="."> {# doubt this easy to do in uni-form #}
		<table class="notifications">
			<tr>
				<th class="small">{% trans "Notification Type" %}</th>
			{% for header in notice_settings.column_headers %}
				<th class="small">{{ header }}</th>
			{% endfor %}
			</tr>
		{% for row in notice_settings.rows %}
			<tr class="{% cycle "odd" "even" %}">
				<td>
					{% trans row.notice_type.display %}<br />
					{% trans row.notice_type.description %}
				</td>
			{% for cell in row.cells %}
				<td>
					<input type="checkbox" name="{{ cell.0 }}" {% if cell.1 %}checked="checked" {% endif %}/>
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
		</table>
		<br />
		{% csrf_token %}
		<input type="submit" value="{% trans "Change" %}" />
	</form>
</div>
{% endblock %}
