{% extends "notification/base.html" %}

{% load humanize i18n %}
{% load pagination_tags %}
{% load custom_date %}

{% block title %}
{% trans "Notifications "%} - {{ block.super }}
{% endblock %}

{% block content %}
<h1>{% trans "Notifications" %}</h1>
<div class="blogEntry">
{% autopaginate notices %}

{% if notices %}
	<a href="{% url 'notification_mark_all_seen' %}" class="posRight small">{% trans "Mark all as seen" %}</a>
	{% paginate %}

	{# TODO: get timezone support working with regroup #}
	{% regroup notices by added.date as notices_by_date %}
	{% for date in notices_by_date %}
		<br />
		<h3>{{ date.grouper|naturalday:_("MONTH_DAY_FORMAT")|title }}</h3>
		<table class="notifications">
		{% for notice in date.list %}
			<tr class="{% cycle "odd" "even" %} {% if notice.is_unseen %}italic{% endif %}">
				<td class="type"><a href="{% url 'notification_notice' notice.pk %} ">{% trans notice.notice_type.display %}</a></td>
				<td class="text">{{ notice.message|safe }}</td>
				<td class="date">{{ notice.added|custom_date:user }}</td>
			</tr>
		{% endfor %}
		</table>
	{% endfor %}
	<br />
	{% paginate %}
{% else %}
	<p>
		{% trans "No notifications." %}
	</p>
{% endif %}
</div>
<div class="blogEntry">
	<h2>{% trans "Settings" %}</h2>

	{% url 'acct_email' as email_url %}
	{% if user.email %}
	<p>
		{% trans "Primary email" %}: {{ user.email }}<br />
		(You can change this in your <a href="{% url 'profile_edit' %}">profile settings</a>.)
	</p>
	{% else %}
	<p class="errormessage">
		You do not have a verified email address to which notifications can be sent. You can add one by <a href="{% url 'profile_edit' %}">editing your profile</a>.
	</p>
	{% endif %}

	<form method="POST" action="."> {# doubt this easy to do in uni-form #}
		<table class="notifications">
			<tr>
				<th class="small">{% trans "Notification Type" %}</th>
			{% for header in notice_settings.column_headers %}
				<th class="small">{{ header }}</th>
			{% endfor %}
			</tr>
		{% for row in notice_settings.rows %}
			<tr class="{% cycle "odd" "even" %}">
				<td>
					{% trans row.notice_type.display %}<br />
					{% trans row.notice_type.description %}
				</td>
			{% for cell in row.cells %}
				<td>
					<input type="checkbox" name="{{ cell.0 }}" {% if cell.1 %}checked="checked" {% endif %}/>
				</td>
			{% endfor %}
			</tr>
		{% endfor %}
		</table>
		<br />
		{% csrf_token %}
		<input type="submit" value="{% trans "Change" %}" />
	</form>
</div>
{% endblock %}
