{% extends "notification/base.html" %}

{% load humanize i18n %}
{% load custom_date %}

{% block title %}
{% trans "Notification "%} - {{ block.super }}
{% endblock %}

{% block content %}
<h1>{% trans "Notification" %}: {{ notice.notice_type.display }}</h1>
<div class="blogEntry">
	<table>
		<tr>
			<td class="grey">Notice:</td>
			<td>{{ notice.message|safe }}</td>
		</tr>
		<tr>
			<td class="grey">Notice Type:</td>
			<td>{{ notice.notice_type.display }}</td>
		</tr>
		<tr>
			<td class="grey">Date of Notice:</td>
			<td>{{ notice.added }}</td>
		</tr>
		<tr>
			<td class="grey">Notice Unseen:</td>
			<td>{{ notice.unseen }}</td>
		</tr>
		<tr>
			<td class="grey">Notice Archiv:</td>
			<td>{{ notice.archived }}</td>
		</tr>
		<tr>
			<td class="grey">Notice Site:</td>
			<td>{{ notice.on_site }}</td>
		</tr>
	</table>
</div>
{% endblock %}
