{% extends 'wiki/base.html' %}
{% load wiki_extras %}
{% load i18n %}
{% load static %}

{% block title %}
{{ name }} - Backlinks - {{block.super}}
{% endblock %}

{% block content_header %}
<h1>{% trans "Backlinks of " %} {{ name }}</h1>
{% endblock %}

{% block class_wiki_backl %}class="active"{% endblock %}
{% block class_wiki_hist_atom %}class="hidden"{% endblock %}
{% block class_wiki_edit %}class="hidden"{% endblock %}

{% block content_main %}
<section>
    {% if found_links or found_old_links %}
    {% if found_links %}
    <h3>The following pages have link(s) which point to this article:</h3>
    <ul>
        {% for article in found_links %}
        <li><a href="{% url 'wiki_article' article.title %}">{{ article.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% if found_old_links %}
    <h3>The following articles have links which point to one of the old name(s) of this
        article (redirects):</h3>
    <ul>
        {% for article in found_old_links %}
        <li><a href="{% url 'wiki_article' article.title %}">{{ article.title }}</a>
            (has at least one link to: "{{ article.old_title }}")
        </li>
        {% endfor %}
    </ul>
    {% endif %}
    {% else %}
    <p><span class="errormessage">Every Wikipage must be linked from at least one another page.</span>
        Please link it <img src="{% static 'img/smileys/face-smile.png' %}"
                            alt="face-smile.png"> See <a href="/wiki/WikiSyntax/#links">Wiki
            Syntax</a> for help.</p></p>
    {% endif %}
</section>
{% endblock %}

