{% extends "mainpage/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}
Wiki - {{ block.super }}
{% endblock %}

{% block extra_head %}
{{ block.super}}
<link rel="alternate" type="application/atom+xml" title="Wiki History" href="{% url 'wiki_history_feed' %}" />
<link rel="stylesheet" type="text/css" media="all" href="{% static 'css/wiki.css' %}" />
{% endblock %}

{# Define all(!) tabs for the wiki here (all in one place).
We disable or change them in the subpages. #}

{% block content_tabbing %}
<ul class="small tab-list"{% block style_tab_list %}{% endblock %}>
	{% if article.id %}
		<li>
			<a {% block class_wiki_edit %}{% endblock %} href="{% url 'wiki_edit' article.title %}">{% trans "Edit this article" %}</a>
		</li>
		<li>
			<a {% block class_wiki_back %}{% endblock %}href="{% url 'wiki_article' article.title %}">{% trans "Back to article" %}</a>
		</li>
		<li>
			<a {% block class_wiki_hist %}{% endblock %} href="{% url 'wiki_article_history' article.title %}">{% trans "History" %}</a>
		</li>
		<li>
			<a {% block class_wiki_backl %}{% endblock %} href="{% url 'backlinks' article.title %}">{% trans "Backlinks" %}</a>
		</li>

		{% if can_observe %}
		<li>
			{% if is_observing %}
			<a {% block class_wiki_stop_obs %}{% endblock %}href="{% url 'wiki_stop_observing' article.title %}">{% trans "Stop observing" %}</a>
			{% else %}
			<a {% block class_wiki_obs %}{% endblock %}href="{% url 'wiki_observe' article.title %}">{% trans "Observe" %}</a>
			{% endif %}
		</li>
		{% endif %}
	{% endif %}
</ul>
{% endblock %}
