{% extends "wiki/base.html" %}
{% load i18n %}
{% load custom_date wlprofile_extras %}
{% load tagging_tags %}

{% block title %}Wiki Index - {{ block.super }}{% endblock %}

{% block content_header %}
	<h1>Wiki: Index</h1>
{% endblock %}

{% block content_main %}
<div class="blogEntry">
	{% tag_cloud_for_model wiki.Article as cloud_tags %}
	{% for tag in cloud_tags %}
		<a href="{% url 'article_tag_detail' tag.name %}">{{tag.name}}</a></br>
	{% endfor %}
	{% if articles %}
		<p> There are {{ articles|length }} articles in this wiki:</p>
		<table>
		<thead>
			<tr>
				<th>{% trans "Page" %}</th>
				<th>{% trans "Summary" %}</th>
				<th>{% trans "Last update" %}</th>
				<th>{% trans "Tags" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for article in articles %}
			<tr>
				<td><a href="{% url 'wiki_article' article.title %}">{{ article.title }}</a></td>
				<td>{{ article.summary }}</td>
				<td>{{ article.last_update|custom_date:user }}</td>
				<td>{% include "wiki/inlines/tag_urls.html" %}</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	{% else %}
        <p><a href="{% url 'wiki_edit' "NewArticle" %}">{% trans "Create a new article" %}</a>.</p>
	{% endif %}
</div>
{% endblock %}
