{% extends 'wiki/base.html' %}

{% load humanize i18n %}
{% load custom_date %}
{% load wlprofile_extras %}

{% block title %}
{% trans "Recent Changes" %} - {{ block.super }}
{% endblock %}

{% block content_header %}
	<h1>Wiki: {% trans "Recent Changes" %}</h1>
{% endblock %}

{% block content_main %}
<div class="blogEntry">
	{% include "pagination/pagination.html" %}
<br />
{% for change in page_obj %}
	{% ifchanged change.modified.date %}
		{% if not forloop.first %}
		</table>
		<br />
		{% endif %}
		<h3>{{ change.modified|naturalday:_("MONTH_DAY_FORMAT")|title }}</h3>
		<table class="history_list">
			<tr>
				<th class="action">{% trans "Action" %}</th>
				<th class="article">{% trans "Article" %}</th>
				<th class="at">{% trans "At" %}</th>
				<th class="user">{% trans "User" %}</th>
				<th class="comment">{% trans "Comment" %}</th>
			</tr>
	{% endifchanged %}
	<tr class="{% cycle 'odd' 'even' %}">
		<td>
			{% if change.old_title %}
				<a href="{% url 'wiki_changeset' change.article.title change.revision %}">Modified</a>
			{% else %}
				<a href="{% url 'wiki_article' change.article.title %}">Added</a>
			{% endif %}
		</td>
		<td>
			<a href="{% url 'wiki_article' change.article.title %}">{{ change.article.title }}</a>
		</td>
		<td>{{ change.modified|custom_date:user }}</td>
		<td>{{ change.editor|user_link }}</td>
		<td>{{ change.comment }}</td>
	</tr>
{% endfor %}
	</table>
	<br />
</div>
{% endblock %}
