{% extends 'wiki/base.html' %}
{% load i18n %}
{% load wiki_extras %}
{% load tagging_tags %}

{% block title %}
Tag-list: {{ tag.name }} - {{block.super}}
{% endblock %}


{% block content_header %}
    <h1>Articles with tag '{{ tag.name }}'</h1>
{% endblock %}

{% block content_section %}
<section>
    <table>
        <thead>
        <tr>
            <th>Article name</th>
            <th>Tagged with</th>
        </tr>
        </thead>
        <tbody>
        {% for article in object_list %}
        <tr>
            <td><a href="{% url 'wiki_article' article %}">{{ article }}</a></td>
            {% tags_for_object article as article_tags %}
            <td>{% include "wiki/inlines/tag_urls.html" with sep="," tag_list=article_tags %}
            </td>
        </tr>
        </tbody>
        {% endfor %}
    </table>
    <p>
        <span style="font-weight: bold;"> Show articles tagged with:</span> {% tag_links tag.name sep=" |" %}
    </p>
    {% endblock %}
</section>
