.messages th {
	border: 1px solid black;
	font-size: 12px;
	text-align: left;
	font-weight: normal;
	background-image: url("../img/black50.png");
	padding: 4px;
}

.messages {
	width: 100%;
	border-collapse: collapse;
}

.messages td {
	padding: 4px;
}

th.msg_menu {
	width: 130px;
	vertical-align: top;
}

td.msg_box {
	padding-top: 0px;
}

.messages ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.messages textarea {
	width: 100%;
}

/******************************************/
/* Styles for autocompletion of usernames */
/******************************************/
.ui-front {
	z-index: 100;
}

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
	background-image: url("../img/wood.png");
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.7);
}

.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
}

.ui-menu .ui-menu-item {
	position: relative;
	margin: 0;
	padding: 3px 1em 3px .4em;
	cursor: pointer;
	min-height: 0;
	font-size: 0.85em;
	border-bottom: 1px solid black;
}

/* Hover state of an entry */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
	background-image: url("../img/black50.png");
	font-weight: bold;
}
