/* Top Menu */

nav {
	display: flex;
	margin-bottom: 1em;
	background-image: url("../img/wood.png");
	border: 1px solid black;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.7);
	border-radius: 4px 0px 4px 0px;
	align-items: center;
}

nav > ul.menu > li > button {
    position: relative;
    /*width: 1.7em;*/
}

nav ul.menu > li > button > img {
    width: 20px;
}

.visible {
	visibility: visible;
	/*height: auto;*/
}

nav ul ul {
	visibility: hidden;
	/*height: 0;*/
	z-index: 1000;
	background-image: url("../img/wood.png");
}

[aria-expanded] {
    position: absolute;
    top: 1em;
    /*height: 30px;*/
    padding: 3px;
    /*width: 30px;*/
    /*background: transparent;*/
    /*outline:transparent;*/
    /*border: none;*/
    /*background-image: url('/static/img/menu_expand.png');*/
     /*url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath d='M0.3,0.1 0.3,0.9 0.8,0.5z' fill='white'/%3E%3C/svg%3E");*/
    /*background-repeat: no-repeat;*/
    /*background: var(--background-color);*/
}

[aria-expanded] img {
	pointer-events: none;
}

nav li:hover [aria-expanded] img {
	background: var(--accent1-color);
	fill: var(--background-color);
}

[aria-expanded="true"] img {
	transform: translate(0, 0) rotate(180deg);
}

.visually-hidden,
[visually-hidden="true"] {
	position: absolute !important;
	clip-path: rect(1px, 1px, 1px, 1px) !important;
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
}

nav #respMenuButton {
    margin-left: auto;
    margin-right: 1em;
    display: none;
}

div.searchBox {
	margin-right: 2em;
    margin-left: auto;
}

div.searchBoxInner {
	border: 1px solid black;
	padding: 0px 10px 0px 10px;
	height: 20px;
	border-radius: 10px;
	background-image: url("../img/but1.png");
}

input.searchField {
	margin: 0px;
	border: none;
	background: none;
	outline: none;
	color: #ffffff;
	padding: 0px;
}

.fake_selector{
	width: 80px;
	overflow: hidden;
}

.fake_selector select{
	-webkit-appearance: none;
   -moz-appearance: none;
	width: 18px;
	height: 18px;
	background-color: rgba(90, 74, 49, 1);
	font-size: inherit;
	border: none;
	color: rgba(254, 234, 138, 1);
	background-image: url("../img/arrow_down_short.png");
	background-repeat: no-repeat;
	background-position: center;
	appearance: none;
    padding: 2px 20px 2px 2px;
}

select::-ms-expand {
    display: none;
}

/* Overwrite the color of selection entries */
select.selection option {
	color: #ffffee;
}

ul.menu {
	margin: 0px;
	padding: 0px;
}

ul.menu li {
	list-style-type: none;
	float: left;
	position: relative;
	border-right: 1px solid black;
}

ul.menu li a {
	display: block;
	width: 8.5em;
	line-height: 3.5em;
	float: left;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: normal;
}

ul.menu li a:hover {
	background-image: url("../img/black20.png");
}

ul.menu li a.active {
	box-shadow: black 0px 0px 10px 0px inset;
	background-image: url("../img/black50.png");
}

ul.menu li ul {
	/*display: none;*/
	/*visibility: hidden;*/
	position: absolute;
	top: 50px;
	left: -1px;
	padding: 0px;
	border: 1px solid black;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.7);
	border-radius: 0px 0px 4px 4px;
	z-index: 3;
}

ul.menu li:hover ul {
	/*display: block;*/
	/*visibility: visible;*/
}

ul.menu li ul li {
	/*clear: both;*/
	border-top: 1px solid black;
	height: 2em;
}

ul.menu li ul li a {
	/*display: block;*/
	width: 21.5em;
	/*height: 20px;*/
	line-height: 1.7em;
	padding: 4px;
	text-align: left;
	font-size: 0.8em;
	border: none;
}

ul.menu li ul li:first-child {
	border: none;
}

/***********************************************************/
/* CSS for overrriding browser color change of placeholder */
/***********************************************************/
::-webkit-input-placeholder {
    color: #aaa;
    opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
    color: #aaa;
    opacity: 1 !important;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #aaa;
    opacity: 1 !important;
}

:-ms-input-placeholder {
   color: #aaa;
}
