/* Top Menu */

nav {
	display: flex;
	margin-bottom: 0.8em;
	background-image: url("../img/wood.png");
	border: 1px solid black;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.7);
	border-radius: 4px 0px 4px 0px;
	align-items: center;
}

nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

nav ul li {
	float: left;
	position: relative;
	border-right: 1px solid black;
}

nav ul li a {
	display: block;
	width: 8.5em;
	line-height: 3.5em;
	float: left;
	text-align: center;
	color: #ffffff !important;
	text-transform: uppercase;
	font-weight: normal;
}

/*
nav > ul > li > button {
    position: relative;
}
*/

nav ul.menu > li > button > img {
    width: 16px;
}

nav ul ul {
	visibility: hidden;
	position: absolute;
	top: 50px;
	left: -1px;
	padding: 0px;
	background-image: url("../img/wood.png");
	border: 1px solid black;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.7);
	border-radius: 0px 0px 4px 4px;
	z-index: 3;
}

/*nav ul.menu li:hover ul {
	display: block;
	visibility: visible;
}*/

nav ul li ul li {
	border-top: 1px solid black;
	height: 2em;
}

nav ul li ul li:first-child {
	border: none;
}

nav ul li a.active {
	box-shadow: black 0px 0px 10px 0px inset;
	background-image: url("../img/black50.png");
}

nav ul li ul li a {
	width: 21.5em;
	line-height: 1.7em;
	padding: 4px;
	text-align: left;
	font-size: 0.8em;
	border: none;
}

/*nav li button:hover ~ ul {
    visibility: hidden;
    height: 0;
}*/

nav li button:hover ~ ul.visible,
.visible  {
    visibility: visible;
    /*height: auto;*/
}

[aria-expanded] {
    position: relative;
    top: 1em;
    padding: 3px;
}

[aria-expanded] img {
	pointer-events: none;
}

[aria-expanded="true"] img {
	transform: translate(0, 0) rotate(180deg);
}

.visually-hidden,
[visually-hidden="true"] {
	position: absolute !important;
	clip-path: circle(0%) !important;
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden !important;
}

nav ul.menu li a:hover {
	background-image: url("../img/black20.png");
}

nav #respMenuButton {
    margin-left: auto;
    margin-right: 1em;
    display: none;
}

.respMenuHidden {
    display: none;
}

nav div#respMenuButton {
    display: block;
}

nav .searchBox {
    display: none;
}

@media screen and (min-width: 65em) {
    .respMenuHidden {
        display: block;
    }

    nav div#respMenuButton {
        display: none;
    }

    nav .searchBox {
        display: block;
    }
}

/* Hide the button for devices which support hover */
@media (hover) {

    nav ul button {
        display: none;
    }

    nav li:hover > ul {
        visibility: visible;
        /*height: auto;*/
    }
}

/* Searchbox */
div.searchBox {
	margin-right: 2em;
    margin-left: auto;
}

div.searchBoxInner {
	border: 1px solid black;
	padding: 0px 10px 0px 10px;
	height: 20px;
	border-radius: 10px;
	background-image: url("../img/but1.png");
}

input.searchField {
	margin: 0px;
	border: none;
	background: none;
	outline: none;
	color: #ffffff;
	padding: 0px;
}

.fake_selector{
	width: 80px;
	overflow: hidden;
}

.fake_selector select{
	-webkit-appearance: none;
   -moz-appearance: none;
	width: 18px;
	height: 18px;
	background-color: rgba(90, 74, 49, 1);
	font-size: inherit;
	border: none;
	color: rgba(254, 234, 138, 1);
	background-image: url("../img/arrow_down_short.png");
	background-repeat: no-repeat;
	background-position: center;
	appearance: none;
    padding: 2px 20px 2px 2px;
}

select::-ms-expand {
    display: none;
}

/* Overwrite the color of selection entries */
select.selection option {
	color: #ffffee;
}

/***********************************************************/
/* CSS for overrriding browser color change of placeholder */
/***********************************************************/
::-webkit-input-placeholder {
    color: #aaa;
    opacity: 1 !important; /* for older chrome versions. may no longer apply. */
}

:-moz-placeholder { /* Firefox 18- */
    color: #aaa;
    opacity: 1 !important;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #aaa;
    opacity: 1 !important;
}

:-ms-input-placeholder {
   color: #aaa;
}
