.toc {
	border: 1px solid black;
	display: inline-block;
	padding: 0px 8px;
	background-image: url("../img/black20.png");
	font-size: 0.8em;
	margin: 0em 0em 1em 1em;
	line-height: 1.5em;
	float: right;
	max-width: 20em;
}
		
.toc ul {
	padding-left: 1.8em;
}

/***********/
/* History */
/***********/
.history_list {
	width: 100%;
	border-collapse: collapse;
}

.history_list  td {
	border: 1px solid black;
	padding: 4px;
}

.history_list th {
	padding: 4px;
}

.history_list .comment {
	width: 50%;
}

.history_list .article, .history_list .at {
	width: 15%;
}

.history_list .action, .history_list .user {
	width: 10%;
}

.history_list .small_column {
	width: 40px;
	text-align: center;
}

/******************/
/* Edit Wiki Page */
/******************/
#edit_wiki_page_form {
	width: 100%;
}

#edit_wiki_page_form th {
	text-align: left;
}

#edit_wiki_page_form #id_title,#id_comment {
	width: 100%;
}

#id_content {
	width: 100%;
	height: 35em;
}

#id_summary {
	width: 100%;
	height: 5em;
}

table.images {
	table-layout: fixed;
}

table.images .first-column {
	width: 7em;
}

table.images td {
	padding: 4px;
}

/***********/
/* Headers */
/***********/

div.columnModule h3 {
	margin-top: 4px;	/*Correction for donatebox*/
}

h1:first-child, h2:first-child {
	margin-top: 0.2em !important;
}


/**********/
/* Tables */
/**********/

table {
    border-collapse: collapse;
    margin: 0.5em 0em;
}

td{
    background-image: url('../img/black20.png');
    border: 1px solid black;
}

th {
    background-image: url('../img/wood.png');
    border: 1px solid #000;
    padding: 0px 5px;
}

/*********************/
/* Image positioning */
/*********************/

img.right {
	float: right;
	padding-left: 1em;
}

img.left {
	float: left;
	padding-right: 1em;
}

img.center {
	display: block;
	margin: auto;
}
