
button {
    border-radius: 0;
    height: 26px;
}

/*********/
/* Table */
/*********/
table {
    width: 100%;
    border-collapse: collapse;
}

td input, td button {
    width: 100%;
    border-radius: 0;
    height: 19px;
    margin: 1px;
}

.post td.table_inside_table {
    padding: 0;
}

.post .table_inside_table table {
    width:100%;
    margin: 0;
}

.result {
    background-color: gray;
    background-image: none;
}

table tr.looser {
    background-color: rgba(239, 41, 41, 0.4);
}

table tr.winner {
    background-color: rgba(17, 136, 17, 0.4);   
}

.post td.one_line_btns {
    display: flex;
    padding: 0;
}

.one_line_btns button {
    margin: 0 10px;
}

table tr.table-title {
    background-color: #695536;
    background-image: url(../img/wood.png);
    color: rgba(254, 234, 138, 1);
}

/* score */

.score-table th {
    text-align: left;
}

table tr.current-user {
    background-color: rgba(17, 136, 17, 0.4);
}

.same-compared {
    background-color: rgba(17, 136, 17, 0.4);
}

/*****************************/
/* Styles for autocompletion */
/*****************************/
.ui-front {
	z-index: 100;
}

.ui-autocomplete {
	position: absolute;
	top: 0;
	left: 0;
	cursor: default;
	background-image: url("../img/wood.png");
	border: 1px solid black;
	border-radius: 3px;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.7);
}

.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: none;
}

.ui-menu .ui-menu-item {
	position: relative;
	margin: 0;
	padding: 3px 1em 3px .4em;
	cursor: pointer;
	min-height: 0;
	font-size: 0.85em;
	border-bottom: 1px solid black;
}

.ui-helper-hidden-accessible {
    display: none;
}

/********************/
/* utilities for js */
/********************/
.to_hide {
    display: none;
}