{% extends "news/base_news.html" %}

{% block title %}{{ year|date:"Y" }} - {{ block.super }}{% endblock %}

{% block content_header %}
    <h1>News Archive: {{ year|date:"Y" }}</h1>
{% endblock %}

{% block content_section %}
<div class="linksBox">
<a href="{% url 'news_index' %}">News Archiv </a>&#187;
<a href="{% url 'news_index' %}{{ year|date:"Y" }}">{{ year|date:"Y" }}</a> :

{% for month in date_list %}
	<a href="{% url 'news_index' %}{{ year|date:"Y" }}/{{ month|date:"b" }}/">{{ month|date:"F" }}</a>
	{% if not forloop.last %} | {% endif %}
{% endfor %}
</div>

{% include "news/inlines/posts_table.html" %}

{% endblock %}
