{% extends "news/base_news.html" %}

{% block title %}{{ month|date:"F - Y" }} - {{block.super}} {% endblock %}

{% block content_header %}
    <h1>News Archive: {{ month|date:"F" }} {{ month|date:"Y" }}</h1>
{% endblock %}

{% block content_section %}
<div class="linksBox">
<a href="{% url 'news_index' %}">News Archiv</a> &#187;
<a href="{% url 'news_index' %}{{ month|date:"Y" }}/">{{ month|date:"Y" }}</a> &#187;
<a href="{% url 'news_index' %}{{ month|date:"Y" }}/{{ month|date:"b" }}/">{{ month|date:"F" }}</a>
</div>

{% include "news/inlines/posts_table.html" %}

{% endblock %}
