{% extends "base.html" %}
{% load i18n %}  
{% block bodyclass %}about{% endblock %}

{% block extra_head %}<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}/css/messages.css" />{{ block.super}}{% endblock %}

{% block title %}
Messages - {{block.super}}
{% endblock %}

{% block content %}
<h1>Messages: {% block msg_title %}{% endblock %}</h1>
<div class="blogEntry">
	<table class="messages messages_border">
	<tr>
	<th class="msg_menu">
		<ul>
			<li><a href="{% url messages_compose %}">{% trans "New Message" %}</a>
			<li><a href="{% url messages_inbox %}">{% trans "Inbox" %}</a>
			<li><a href="{% url messages_outbox %}">{% trans "Outbox" %}</a>
			<li><a href="{% url messages_trash %}">{% trans "Trash" %}</a>
		</ul>
	</th>
	<td class="msg_box">
	{% block msg_content %}{% endblock %}
	</td>
	</tr>
	</table>
</div>
{% endblock %}

