{% extends "django_messages/base.html" %} 
{% load i18n %}
{% load wl_extras %}

{% block title %}
Compose - {{ block.super }}
{% endblock %}

{% block extra_head %}
<script>
	$(function() {
	$( "#id_recipient" ).autocomplete({
		source: '/messages/django_messages_wl/get_usernames/',
		minLength: 3,
		});
});
</script>
{{ block.super}}{% endblock %}

{% block msg_title %}Compose{% endblock %}

{% block msg_content %}
<form action="." method="post">
	<table class="messages">
		{% for field in form %}
		<tr>
			<td class="grey">{{ field.label_tag }}</td>
			<td>{{ field }}</td>
			<td class="errormessage">{{ field.errors }}</td>
		</tr>
		{% endfor %}
	</table>
	<input type="submit" value="{% trans "Send" %}"/>
	{% csrf_token %}
</form>
{% endblock %}
