{% extends "django_messages/base.html" %} 
{% load i18n %} 

{% block title %}
Compose - {{ block.super }}
{% endblock %}


{% block content %} 
{% include "django_messages/inlines/navigation.html" %}
<br />
<br />
<div class="box_item_model fixed_site border">
	<h3 class="title">{% trans "Compose Message"%}</h3>
    <form action="" method="post">
        <div class="content">
            <table class="text full_site" cellspacing="1">
                {% for field in form %}
                <tr>
                    <td width="80" class="{% cycle "odd" "even" %}{% ifequal field.name "body" %} show_left{% endifequal %}">{{ field.label_tag }}:</td>
                    <td class="{% cycle "odd" "even" %}">{{ field }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="info_line show_center">
            <input type="submit" value="{% trans "Send" %} &raquo;"/>
        </div>
    </form>
</div>

{% endblock %}
