{% extends "django_messages/base.html" %}
{% load i18n %}
{% load custom_date %}
{% load wlprofile_extras %}
{% load static %}

{% block title %}
Inbox - {{ block.super }}
{% endblock %}


{% block msg_title %}Inbox{% endblock %}
{% block msg_content %}
	<table class="messages">
		<thead>
			<tr>
				<th>{% trans "Sender" %}</th>
				<th>{% trans "Subject" %}</th>
				<th>{% trans "Received" %}</th>
				<th>{% trans "Action" %}</th>
			</tr>
		</thead>
		<tbody>
		{% for message in message_list %}
			<tr class="{% if message.new %}italic{% endif %}">
				<td>{{ message.sender|user_link }}</td>
				<td>
					{% if message.replied %}
						<img src="{% static 'img/replied.png' %}" alt="replied" title="replied" />
					{% endif %}
					<a href="{{message.get_absolute_url }}">{{ message.subject }}</a>
				</td>
				<td>
                    {% with message.sent_at as date %}
                        {% include 'wlprofile/inlines/date.html' %}
                    {% endwith %}
                </td>
				<td>
					<a href="{% url 'messages_delete' message.id %}?next={{ request.path|iriencode }}">
						<img src="{% static 'img/delete.png' %}" alt="delete" title="delete" />
					</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
