{% extends "django_messages/base.html" %} 
{% load i18n %} 

{% block title %}
Inbox - {{ block.super }}
{% endblock %}

{% block content %}
   {% include "django_messages/inlines/navigation.html" %}
    <br />
    <br />
    <div class="box_item_model">
    <h3 class="title">{% trans "Inbox" %}</h3>
    <table class="messages" cellspacing="1">
        <thead>
            <tr>
                <td>{% trans "Sender" %}</td>
                <td>{% trans "Subject" %}</td>
                <td>{% trans "Received" %}</td>
                <td>{% trans "Action" %}</td>
            </tr>
        </thead>
        <tbody>
    {% for message in message_list %} 
      {% include "django_messages/inlines/message_row.html" %}
    {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
