{% extends "django_messages/base.html" %} 
{% load i18n %} 

{% block title %}
Outbox - {{ block.super }}
{% endblock %}

{% block content %} 
{% include "django_messages/inlines/navigation.html" %}
<br />
<br />
<div class="message_item">
<h3 class="title">{% trans "Sent Messages" %}</h3>
<table class="messages" cellspacing="1"> 
    <thead>
        <tr>
            <td>{% trans "Recipient" %}</td>
            <td>{% trans "Subject" %}</td>
            <td>{% trans "Sent" %}</td>
            <td>{% trans "Action" %}</td>
        </tr>
    </thead>
    <tbody>
   {% for message in message_list %} 
   {% include "django_messages/inlines/message_row.html" %}
   {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
