{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% load custom_date %}
{% load wlprofile_extras %}

{% block title %}
View - {{ block.super }}
{% endblock %}

{% block msg_title %}{{ message.subject }}{% endblock %}

{% block msg_content %}
	<table class="messages">
		<tr>
			<td class="grey">{% trans "Subject" %}:</td>
			<td>{{ message.subject }}</td>
			<td class="grey">{% trans "Date" %}:</td>
			<td>{{ message.sent_at|custom_date:user }}</td>
		</tr>
		<tr>
			<td class="grey">{% trans "Sender" %}:</td>
			<td>{{ message.sender|user_link }}</td>
			<td class="grey">{% trans "Recipient" %}:</td>
			<td>{{ message.recipient|user_link }}</td>
		<tr> 
			<td colspan="4">
				<hr />
				{{ message.body|urlize|linebreaksbr }}
				<hr />
			</td>
		</tr>
	</table>
	{% if message.recipient == user and message.sender.email != DELETED_EMAIL_ADDRESS %}
		{{ context.deleted_email_address }}
		<button type="button" onclick="location.href='{% url 'messages_reply' message.id %}';">{% trans "Reply" %}</button>
	{% endif %}
	<button type="button" onclick="location.href='{% url 'messages_delete' message.id %}';">{% trans "Delete" %}</button>
{% endblock %}
