{% extends "django_messages/base.html" %} 
{% load i18n %} 
{% load custom_date %}

{% block title %}
Message - {{ block.super }}
{% endblock %}

{% block content %}
{% include "django_messages/inlines/navigation.html" %} 
<br />
<br />
<div class="message_item">
	<h3 class="title">{% trans "View Message" %}</h3>
	<div class="content">
		<table class="text" width="100%" cellspacing="1">
			<tr>
				<td width="80" class="odd">{% trans "Subject" %}:</td>
				<td width="120" class="odd">{{ message.subject }}</td>
				<td></td>
			</tr>
			<tr>
				<td class="even">{% trans "Sender" %}:</td>
				<td class="even">{{ message.sender }}</td>
				<td></td>
			</tr>
			<tr>
				<td class="odd">{% trans "Date" %}:</td>
				<td class="odd">{{ message.sent_at|custom_date:user }}</td>
				<td></td>
			</tr>
			<tr>
				<td class="even">{% trans "Recipient" %}:</td>
				<td class="even">{{ message.recipient }}</td>
				<td></td>
			</tr>
			<tr> 
				<td colspan="3" class="odd">
					<div class="message_display content message">
						{{ message.body|urlize|linebreaksbr }}
					</div>
				</td>
			</tr>
		</table>
	</div>
	<table class="bottom_line" width="100%">
		<tr>
			<td class="admin">
				{% ifequal message.recipient user %}
					<a href="{% url messages_reply message.id %}">{% trans "Reply" %}</a>&nbsp;|
				{% endifequal %}
				<a href="{% url messages_delete message.id %}">{% trans "Delete" %}</a>
			</td>
		</tr>
	</table>
</div>
{% endblock %}
