{% extends "notification/base.html" %}

{% load humanize i18n %}

{% block title %}
{% trans "Add-On settings "%} - {{ block.super }}
{% endblock %}

{% block addon_settings %}class="active"{% endblock %}

{% block content_header %}
	<h1>{% trans "Add-On Settings" %} {{ profile.user }}</h1>
{% endblock %}

{% block content_main %}
<div class="blogEntry">

	<h2>{% trans "Email Settings regarding Add-Ons" %}</h2>
	{% if objects %}
		{% url 'acct_email' as email_url %}
		{% if user.email %}
		<p>
			{% trans "Primary email" %}: {{ user.email }}<br />
			(You can change this in your <a href="{% url 'profile_edit' %}">profile settings</a>.)
		</p>
		{% else %}
		<p class="errormessage">
			You do not have a verified email address to which notifications can be sent. You can add one by <a href="{% url 'profile_edit' %}">editing your profile</a>.
		</p>
		{% endif %}

		<p>Your Add-Ons:</p>
		<ul>
			{% for addon in addons %}
			<li>{{ addon|escape }}</li>
			{% endfor %}
		</ul>

		<form method="POST" action=".">
			{% csrf_token %}
			<table class="notifications">
				<tr>
					<th class="small">{% trans "Notification Type" %}</th>
					<th class="small">Email</th>
				</tr>
				{% for setting in objects %}
				<tr class="{% cycle "odd" "even" %}">
					<td>
						{% trans setting.notice_type.display %}<br />
						{% trans setting.notice_type.description %}
					</td>
					<td style="width: 5em;">
						<input type="checkbox" name="{{ setting.notice_type.slug }}" {% if setting.shouldsend %}checked="checked" {% endif %}/>
					</td>
				</tr>
				{% endfor %}
			</table>
			<br />
		   <input class="posRight" type="submit" value="{% trans "Change" %}" />
		</form>
	{% else %}
	<p>Currently there are no settings available or you didn't had uploaded any Add-Ons yet.</p>
	<p>Look at <a href="/documentation/add-ons/index.html" target="_blank">Add-Ons</a> for information how to write your own Add-On.</p>
	{% endif %}
</div>
{% endblock %}
