{% extends "base.html" %}
{% load custom_date %}

{% block title %}Search - {{ block.super }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/search.css" />
{{ block.super}}
{% endblock %}

{% block content %}
<h1>Search</h1>
<div class="blogEntry">
	<p>
		The search only matches complete words. Case is ignored. 
	</p>

	<form method="post" action=".">
		{% for error in search_form.search.errors %}
		<p class="errormessage">{{ error }}</p>
		{% endfor %}
		<label for="id_search" class="grey">Search:</label> {{ search_form.search }}
		<input type="submit" value="Search" />
		<br />
		<label for="id_incl_wiki">Wiki</label> {{ search_form.incl_wiki }} 
		<label for="id_incl_wiki">Encyclopedia</label> {{ search_form.incl_help }} 
		<label for="id_incl_forum">Forum</label> {{ search_form.incl_forum }} 
		<label for="id_incl_wiki">Maps</label> {{ search_form.incl_maps }} 
		<label for="id_incl_news">News</label> {{ search_form.incl_news }} 
		{% csrf_token %}
	</form>

{% if post %}
<h2>Results</h2>

{# Wiki #}
{% if wiki_results.count %}
	<h3>Wiki</h3>
	<ul>
	{% for r in wiki_results|dictsortreversed:'last_update' %}
		<li><a href="{{r.get_absolute_url}}">{{r.title}}</a></li>
	{% endfor %}
	</ul>
{% endif %}

{# Encylcopedia #}
{% if wlhelp_hits %}
	<h3>Encyclopedia</h3>
	{% if wlhelp_results_buildings.count %}
	<h4>Buildings</h4>
	<ul>
	{% for b in wlhelp_results_buildings %}
		<li><a href="{% url 'wlhelp_building_details' b.tribe.name b.name %}">{{ b.tribe.displayname }} &raquo; {{b.displayname}}</a></li>
	{% endfor %}
	</ul>
	{% endif %}

	{% if wlhelp_results_wares.count %}
	<h4>Wares</h4>
	<ul>
	{% for w in wlhelp_results_wares %}
		<li><a href="{% url 'wlhelp_ware_details' w.tribe.name w.name %}">{{ w.tribe.displayname }} &raquo; {{w.displayname}}</a></li>
	{% endfor %}
	</ul>
	{% endif %}
{%endif %}

{# Forum #}
{% if forum_hits %}
	<h3>Forum</h3>
	{% if forum_results_topic.count %}
	<h4>Topics</h4>
	<ul>
	{% for r in forum_results_topic|dictsortreversed:'created' %}
		<li>
			<a href="{{r.forum.get_absolute_url}}">{{r.forum.name}}</a>
			&raquo; <a href="{{r.get_absolute_url}}">{{r.name}}</a>
			, <span class="small">{{ r.created|custom_date:user }}</span>
		</li>
	{% endfor %}
	</ul>
	{%endif %}

	{% if forum_results_post.count %}
	<h4>Posts</h4>
	<ul>
	{% for r in forum_results_post|dictsortreversed:'created' %}
		<li>
			<a href="{{r.topic.forum.get_absolute_url}}">{{r.topic.forum.name}}</a>
			&raquo; <a href="{{r.topic.get_absolute_url}}">{{r.topic.name}}</a> 
			&raquo; <a href="{{r.get_absolute_url}}">Post by {{r.user.username}}</a>
			, <span class="small">{{ r.created|custom_date:user }}</span>
		</li>
	{% endfor %}
	</ul>
	{% endif %}
{% endif %}

{# Maps #}
{% if map_results.count %}
	<h3>Maps</h3>
	<ul>
	{% for m in map_results|dictsortreversed:'pub_date' %}
		<li>
			<a href="{{m.get_absolute_url}}">{{ m.name }}</a> by {{ m.author }}
			, <span class="small">{{ m.pub_date|custom_date:user }}</span>
		</li>
	{% endfor %}
	</ul>
{% endif %}

{# News #}
{% if news_results.count %}
	<h3>News results</h3>
	<ul>
	{% for r in news_results|dictsortreversed:'publish' %}
		<li>
			<a href="{{r.get_absolute_url}}">{{ r.title }}</a>
			, <span class="small">{{ r.publish|custom_date:user }}</span>
		</li>
	{% endfor %}
	</ul>
{% endif %}

{% endif %}

</div>
{% endblock %}
