{% extends "wlprofile/base.html" %}
{% block extra_head %}
<link  rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.multidatespicker.css' %}" >
<link  rel="stylesheet" type="text/css" href="{% static 'css/scheduling.css' %}" >

<script src="{% static 'js/jquery-ui.multidatespicker.js' %}" type="text/javascript"></script>
<script src="{% static 'js/scheduling.js' %}" type="text/javascript"></script>
{% endblock %}

{% block title %}
    Scheduling - {{block.super}}
{% endblock %}
{% block scheduling %}class="active"{% endblock %}
