{% extends "base.html" %}
{% comment %}
   vim:ft=htmldjango:
{% endcomment %}

{% block title %}Webchat - {{ block.super }}{% endblock %}

{% block content %}

<h1>Webchat</h1>

<p>
This is a webchat applet provided by the <a
    href="http://www.freenode.net">freenode network</a>. This is a convenient
solution if you just want to chat in the #widelands channel on freenode. 
</p>


<!-- Start of Webchat -->
{% if user.is_anonymous %}
<iframe src="http://webchat.freenode.net?nick=widelands_.&channels=widelands&uio=d4" width="647" height="400"></iframe>
{% else %}
<iframe src="http://webchat.freenode.net?nick={{ user.username }}&channels=widelands&uio=d4" width="100%" height="400"></iframe>
{% endif %}
<!-- End of Webchat -->

<p>If you are not familiar with IRC (Internet Relay Chat), here's a few tips:</p>
<ul>
	<li>Please be patient. #widelands is fairly low traffic so it might take a while before someone sees your question and replies.</li>
	<li>If you wish to change your nickname, do this with the command /nick. For instance type <kbd>/nick wl</kbd> in order to change it to wl.</li>
	<li>We also have a german speaking IRC channel, for those who prefer german. To join it, simply type <kbd>/join #widelands.de</kbd></li>
</ul>

{% endblock %}
