{% extends "base.html" %}
{% comment %}
   vim:ft=htmldjango:
{% endcomment %}

{% block title %}Webchat - {{ block.super }}{% endblock %}

{% block content %}

<h1>Webchat</h1>

<p>
This is a webchat applet provided by the <a
    href="http://www.freenode.net">freenode network</a>. This is a convenient
solution if you just want to chat in the #widelands channel on freenode. 
</p>


<!-- Start of Webchat -->
{% if user.is_anonymous %}
<iframe src="http://webchat.freenode.net?nick=guest&channels=widelands&uio=d4" width="647" height="400"></iframe>
{% else %}
<iframe src="http://webchat.freenode.net?nick={{ user.username }}&channels=widelands&uio=d4" width="100%" height="400"></iframe>
{% endif %}
<!-- End of Webchat -->

{% endblock %}
