{% extends "wlrating/base.html" %}
{% comment %}
   vim:ft=htmldjango
{% endcomment %}

{% block content_header %}
<h1>Widelands players rating</h1>
{% endblock %}

{% load static %}

{% block content_main %}
<script src="{% static 'js/arbiter.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function(){ 
        setButtons();
        setAutocompletes();
    });
</script>

<div class="blogEntry post">
    <table id="arbiter-table">
        <tr>
            <th>Start date</th>
            <th>Type of game</th> 
            <th>Map</th>
            <th>Players</th>
            <th>Submitted by</th>
            <th>link</th>
            <th>Action</th>
        </tr>
        {% for game in game_list %}
        <tr>
            <tr>
                <td>{{ game.start_date }}</td>
                <td>{{ game.game_type }}</td>
                <td>{{ game.game_map }}</td>
                <td  class="table_inside_table" >
                    <table >
                        <tr>
                            <th>Player</th>
                            <th>Tribe</th> 
                            <th>Team</th>
                        </tr>
                        {% for player in game.players %}
                        <tr class="{{ player.win_status }}">
                            <td>{{ player.username }}</td>
                            <td>{{ player.tribe }}</td>
                            <td>{{ player.team }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </td>
                <td>{{ game.submitter }}</td>
                <td></td>
                <td>
                    <a href="{% url 'remove_btn' game.game_id  %}"><button>Remove</button></a>
                </td>
            </tr>
        </tr>
        {% endfor %}
        <form method="post" action="/rating/arbiter/">    
            <tr>
                <td><input type="date" name="start_date"></td>
                <td><input type="text" class="game_type" name="game_type"></td> 
                <td><input type="text"  class="player_map" name="game_map"></td>
                <td class="table_inside_table">
                    <table>
                        <thead>
                            <tr>
                                <th>Player</th>
                                <th>Tribe</th> 
                                <th>Team</th>
                                <th><button type="button" id="add_player_btn">Add</button></th>
                            </tr>
                        </thead>
                        <tbody id="add_player_table">
                            {% for i in '01234567'|make_list %}
                            <tr {% if forloop.counter > 2 %} class="to_hide" {% endif %}>
                                <td><input type="text" class="player_username" name="player_{{ i }}"></td>
                                <td><input type="text" class="player_tribe"  name="tribe_{{ i }}"></td>
                                <td><input type="text" class="player_team" value="{{ i }}" name="team_{{ i }}"></td>
                                <td>
                                    <button type="button" class="remove_player_btn">Remove</button>
                                    <button type="button" class="is_winner_btn">Win</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
                <input hidden="hidden" type="text" class="result" name="result" readonly="readonly">
                <td><input type="text" class="player_username" name="submitter"></td>
                <td><input type="text" name="link"></td>
                <td><input type="submit" value="Add game"></td>
                {% csrf_token %}
                
            </tr>
        </form>
    </table>
    <a href="{% url 'calculate_scores' %}" ><button>Calculate scores</button></a>
    <a href="{% url 'add_test_data' %}" ><button>Add test data</button></a>
</div>
{% endblock %}

