{% extends "wlrating/base.html" %}
{% comment %}
   vim:ft=htmldjango
{% endcomment %}

{% block content_header %}
<h1>Widelands players rating</h1>
{% endblock %}

{% block content_main %}
<div class="blogEntry">
    <div id="main-choices" class="main-choices">
        {% if is_super_user %}
        <a href="{% url 'arbiter' %}" >
            <button title="Arbiter">Arbiter</button>
        </a>
        {% else %}
        <a href="{% url 'user_add_game' %}" >
            <button title="user_add_game">Add game</button>
        </a>
        {% endif %}
        <a href="{% url 'score' %}" >
            <button >Show current score</button>
        </a>
    </div>
</div>

{% endblock %}
