{% extends "wlrating/score_base.html" %}
{% block content_header %}
<h1>Widelands players rating</h1>
{% endblock %}

{% block content_main %}
<div class="blogEntry post">
    <table class="score-table ">
        <tr class="table-title"> 
            <td colspan="7">Ratio score</td>
        </tr>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Number of games</th>
            <th>Win ratio</th>
        </tr>
        {% for score in win_ratio_board %}
        <tr {% if request.user.username == score.username %} class="current-user" {% endif %}>
            <td>{{ forloop.counter }}</td>
            <td>{{ score.username }}</td>
            <td>{{ score.nb_of_games }}</td>
            <td>{{ score.win }}/{{ score.nb_of_games }} ({{ score.win_ratio }}%)</td>
        </tr>
        {% endfor %}
    </table>
    <table class="score-table">
        <tr class="table-title"> 
                <td colspan="7">Glicko2 score</td>
            </tr>
        <tr>
            <th>Rank</th>
            <th>Player</th>
            <th>Rating</th>
            <th>Deviation</th>
        </tr>
        {% for score in glicko2_board %}
        <tr {% if request.user.username == score.username %} class="current-user" {% endif %}>
            <td>{{ forloop.counter }}</td>
            <td>{{ score.username }}</td>
            <td>{{ score.rating }}</td>
            <td>{{ score.deviation }}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% include 'wlrating/score_btn.html' %}
{% endblock %}