{% extends "base.html" %}

{% comment %}
   vim:ft=htmldjango
{% endcomment %}

{% block title %}
{{ block.super }}
{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/profile.css" />{{ block.super}}
{% endblock %}

{% block tabbing %}
<div class="posRight small">
	<ul class="tab-list">
	{% if profile.user and user != profile.user %}
		<li {% block send_pm %}{% endblock %}><a href="{% url 'messages_compose_to' profile.user %}">Send PM</a></li>
	{% else %}
		<li {% block profile %}{% endblock %}><a href="{% url 'profile_view' %}">Profile</a></li>
	    <li {% block edit_profile %}{% endblock %}><a href="{% url 'profile_edit' %}">Edit Profile</a></li>
		<li {% block notifications %}{% endblock %}><a href="{% url 'notification_notices' %}">E-Mail settings</a></li>
	{% endif %}
	</ul>
	</div>
{% endblock %}