{% extends "wlprofile/base.html" %}

{% load i18n %}
{% load wlprofile_extras %}

{% block title %}
{% trans "Delete me" %} - {{ block.super }}
{% endblock %}

{% block content %}
<h1>{% trans "Delete your account" %}</h1>

<div class="blogEntry">
	<h3>Hi {{ user }},</h3>
	<p>we are sorry that you want to leave our community <img src="/wlmedia/img/smileys/face-sad.png" alt="Sad smiley"></p>
	<h3>What deleting yourself means:</h3>
	<ul>
		<li>Your account will be deactivated. This means:
			<ul>
				<li>You will immediately logged out and can't log in anymore.</li>
				<li>The Username "{{ user }}" is preserved and can't be used anymore.</li>
			</ul>
		</li>
		<li>Your <a href="{% url 'profile_edit' %}">profile</a> will be deleted and your currently used image of the avatar will be deleted.</li>
		<li>All your <a href="{% url 'messages_inbox' %}">private messages</a> will be moved into the <a href="{% url 'messages_trash' %}">trash</a>.
		They stay there until the sender or recipient has also deleted them.</li>
		<li>All your <a href="{% url 'notification_notices' %}">subscriptions</a> will be removed.</li>
		<li>Your email address will be anonymized, so you will not receive any notification mails anymore.</li>
		<li>Everything you posted (forum posts, comments and uploaded maps) will <b>not</b> be deleted. Instead of your users name the string "{{ DELETED_USERNAME }}" will be shown.</li>
		<li>Your online gaming password will be reset.</li>
		<li>All dates given in the <a href="{% url 'scheduling_scheduling' %}">Playtime scheduler</a> will be deleted</li>
	</ul>
	<p class="errormessage"><b>This step can't be undone!</b></p>
	<p>
		<button type="button" onclick="location.href='{% url 'do_delete' %}';" style="font-weight: normal;">I am sure, please delete me</button>
		<button type="button" onclick="location.href='{% url 'profile_edit' %}';">Cancel</button>
	</p>
</div>
{% endblock %}
