{% extends "wlprofile/base.html" %}

{% load i18n %}

{% block content %}
{% ifequal user profile.user %}
	{% include "messages/inlines/navigation.html" %}
{% endifequal %}
<br />
<br />
<div class="profile_item">
    <h3 class="title">{% trans "Profile editing" %}</h3>
    <div class="content">
    {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" />
    {% endif %}

        <form method="post" enctype="multipart/form-data">
            <table width="100%" cellspacing="1" class="text">
    {% if profile_form.errors %}
                <tr>
                    <td class="even" colspan="2">{{ profile_form.errors }}</td>
                </tr>
    {% endif %}

    {% for field in profile_form %}
                <tr>
            {% ifequal field.name "delete_avatar" %}
                {% if profile.avatar %}
                    {% if field.errors  %}
                    <td colspan="2" class="{% cycle "odd" "even" %}">
                        <div class="errormessage">{{ field.errors }}</div>
                    </td>
                </tr>
                <tr>
                    {% endif %}
                    <td class="{% cycle "odd" "even" %}">{{ field.label_tag }}:</td>
                    <td class="{% cycle "odd" "even" %}">{{ field }}</td>
                {% endif %}
           {% else %}
           {% if field.errors %}
                    <td class="{% cycle "odd" "even" %}">
                        <div class="errormessage">{{ field.errors }}</div>
                    </td>
                </tr>
                <tr>
            {% endif %}
            {% ifequal field.name "signature" %}
                    <td valign="top" class="{% cycle "odd" "even" %}">{{ field.label_tag }}:</td>
            {% else %}
                    <td class="{% cycle "odd" "even" %}">{{ field.label_tag }}:</td>
            {% endifequal %}
                    <td class="{% cycle "odd" "even" %}">{{ field }}
                {% ifequal field.name "time_display" %}
                        <a href="/wiki/HomepageDocuTimeDisplay">Documented here</a>
                {% endifequal %}
                    </td>
            {% endifequal %}
                </tr>
    {% endfor %}
            </table>
    </div>
    <table class="bottom_line" width="100%">
        <tr>
            <td><input type="submit" value="{% trans "Save" %}" /></td>
        </tr>
    </table>
    </form>
</div>
{% endblock %}
