{% extends "wlprofile/base.html" %}

{% load i18n %}

{% block content %}
<h1>{% trans "Profile editing" %}</h1>

<p>
You might want to have a look at the documentation for Time display <a href="/wiki/HomepageDocuTimeDisplay">here</a>.
</p>

{% if profile.avatar %}
<img src="{{ profile.avatar.url }}" />
{% endif %}

<form method="post" enctype="multipart/form-data">
    <fieldset>
        <legend>{% trans "Profile editing" %}</legend>
        {{ profile_form.as_p }}
        <p><input type="submit" value="{% trans "Save" %}" /></p>
    </fieldset>
</form>

{% endblock %}
