{% extends "wlprofile/base.html" %}

{% load i18n %}

{% block content %}
{% ifequal user profile.user %}
	{% include "django_messages/inlines/navigation.html" %}
{% endifequal %}
<br />
<br />
<div class="box_item_model fixed_site border">
    <h3 class="title">{% trans "Profile editing" %}</h3>
    <div class="content">
    {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" />
    {% endif %}

        <form method="post" enctype="multipart/form-data">
            <table width="100%" cellspacing="1" class="text">
            {# FIXME: change the right color #}
    {% if profile_form.errors %}
                <tr>
                    <td class="even" colspan="2">{{ profile_form.errors }}</td>
                </tr>
    {% endif %}

    {% for field in profile_form %}
        {% if field.errors %}
                <tr>
                    <td colspan="2" class="{% cycle "odd" "even" %}">
                        <div class="errormessage">{{ field.errors }}</div>
                    </td>
                </tr>
        {% endif %}
        {% ifequal field.name "delete_avatar" %}
            {% if profile.avatar %}
                <tr>
                    <td class="{% cycle "odd" "even" %}">{{ field.label_tag }}:</td>
                    <td class="{% cycle "odd" "even" %}">{{ field }}
                </tr>
            {% endif %}
        {% else %}
                <tr>
                    <td class="{% cycle "odd" "even" %} {%ifequal field.name "signature" %}show_left{% endifequal %}">{{ field.label_tag }}:</td>
                    <td class="{% cycle "odd" "even" %}">{{ field }}
                {% ifequal field.name "time_display" %}
                        <a href="/wiki/HomepageDocuTimeDisplay">Documented here</a>
                {% endifequal %}
                    </td>
                </tr>
        {% endifequal %}
    {% endfor %}
            </table>
        </div>
        <div class="info_line">
            <input type="submit" value="{% trans "Save" %}" />
        </div>
    </form>
</div>
<br />
<div class="box_item_model fixed_site border">
    <div class="info_line show_left">
        <a href="{% url auth_change_password %}">Change website password</a>
        <br />
        <br />
        <b class="errormessage">WARNING: Passwords are transmitted in cleartext.</b>
    </div>
</div>
<br />
<div class="box_item_model fixed_site border">
    <div class="info_line show_left">
        <a href="{% url wlggz_changepw %}">Change online lobby password</a>
        <br />
        <br />
        <b class="errormessage">WARNING: GGZ transmitts the password in cleartext. Choose a different password for online gaming.</b>
    </div>
</div>
{% endblock %}
