{% extends "wlmaps/base.html" %}
{% comment %}
   vim:ft=htmldjango
{% endcomment %}

{% load custom_date %}
{% load wlprofile_extras %}
{% load threadedcommentstags %}
{% load pagination_tags %}
{% load ratings %}
{% load static %}

{% block content_header %}
	<h1>Maps</h1>
{% endblock %}
{% block content_tabbing %}
	<ul class="tab-list small">
		<li>
			<a href="{% url 'wlmaps_upload' %}">Upload a new map</a>
		</li>
	</ul>
{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" media="all" href="{% static 'css/messages.css' %}" />
    <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script>
        $(function() {
            $( "#id_author__iexact" ).autocomplete({
                source: function (request, response) {
                    $.ajax('?' + $.param({f: 'author', 'q': request.term}), {
                        dataType: 'json',
                        method: 'OPTIONS',
                    }).done(function (r) { response(r)})
                },
                minLength: 3,
            });
            $( "#id_uploader" ).autocomplete({
                source: function (request, response) {
                    $.ajax('?' + $.param({f: 'uploader', 'q': request.term}), {
                        dataType: 'json',
                        method: 'OPTIONS',
                    }).done(function (r) { response(r)})
                },
                minLength: 3,
            });
        });
    </script>
{{ block.super}}{% endblock %}

{% block content_main %}

<div class="blogEntry">
	<p>
	NOTE: Uploading maps on the website which use terrains from add-ons will not work! Starting with Widelands version 1.0 it is recommended to upload new maps within the game,
	especially if some World add-ons are installed.	
	</p>
	<p>
	The map files have to be placed in the Widelands map directory to be found by the game. Check the <a href="/wiki/Technical%20FAQ/#where-are-my-maps-and-savegames-stored">Technical FAQ</a> to find the map directory.
	</p>

	<form method="get">
        {{ form.non_field_errors }}
		<table class="maps-filter">
            <tr>
                {% include 'wlmaps/inlines/form_field_td.html' with field=filter.form.name__icontains %}
                <td class="spacer"></td>
                {% include 'wlmaps/inlines/form_field_td.html' with field=filter.form.nr_players %}
            </tr>
            <tr>
                {% include 'wlmaps/inlines/form_field_td.html' with field=filter.form.author__iexact %}
                <td class="spacer"></td>
                {% include 'wlmaps/inlines/form_field_td.html' with field=filter.form.uploader %}
            </tr>
            <tr>
                {% include 'wlmaps/inlines/form_field_td.html' with field=filter.form.w %}
                <td class="spacer"></td>
                {% include 'wlmaps/inlines/form_field_td.html' with field=filter.form.h %}
            </tr>
			<tr>
                {% include 'wlmaps/inlines/form_field_td.html' with field=filter.form.o %}
                <td class="spacer" colspan="2"></td>
				<td colspan="1" class="right"><input type="submit" value="Apply filters"/></td>
			</tr>
		</table>
	</form>
	{% autopaginate map_list maps_per_page as object_list %}
	{% paginate using "pagination/pagination_mod.html" %}
	<br />
	<table class="maps">
		{% for map in object_list %}
		<tr class="{% cycle "odd" "even" %}">
			<td class="first-column"><a href="{{ map.get_absolute_url }}"><img class="minimap" src="{{ MEDIA_URL }}{{ map.minimap }}" alt="{{ map.name }}" /></a></td>
			<td>
				<h3><a class="invertedColor" href="{{ map.get_absolute_url }}">{{ map.name }}</a></h3>
				<table>
					<tr>
						<td class="grey">Author:</td><td>{{ map.author }}</td>
						<td class="spacer"></td>
						<td class="grey">Dimensions:</td><td>{{ map.w }} x {{ map.h }}</td>
					</tr>
					<tr>
						<td class="grey">World:</td>
						<td>
						{% if map.world_name %}
						{{ map.world_name|title }}
						{% else %}
						One World
						{% endif %}
						</td>
						<td class="spacer"></td>
						<td class="grey">Max. Players:</td><td>{{ map.nr_players }}</td>
					</tr>
					<tr>
						<td class="grey">Rating:</td>
						<td>
							{% ratings map read_only template_name='star_rating/average.html' %}
						</td>
						<td class="spacer"></td>
						{% get_comment_count for map as ccount %}
						<td class="grey">Comments:</td><td>{{ ccount }}</td>
					</tr>
					<tr>
						<td class="grey">Upload:</td>
						<td colspan="4">by {{ map.uploader|user_link }} at {{ map.pub_date|custom_date:user }}</td>
					</tr>
					{% if not map.world_name %}
					<tr>
						<td colspan="5">
						{% include 'wlmaps/inlines/version_info.html' %}
						</td>
					</tr>
					{% endif %}
					<tr>
						<td class="grey">Downloads:</td><td>{{ map.nr_downloads }}</td>
						<td class="spacer"></td>
						<td colspan="2">
							<a class="button" href="{% url 'wlmaps_download' map.slug %}">
								<img src="{% static 'img/arrow_down_short.png' %}" alt ="" class="middle" />
								<span class="middle">Direct Download</span>
							</a>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		{% endfor %}
	</table>
	<br />
	{% paginate %}
</div>
{% endblock %}
