{% extends "wlmaps/base.html" %}
{% comment %}
    vim:ft=htmldjango
{% endcomment %}

{% load static %}

{% block title %}Upload - {{ block.super }}{% endblock %}

{% block content_header %}
    <h1>Map Upload</h1>
{% endblock %}

{% block content_section %}
<section class="blogEntry">
    <div class="breadCrumb">
        <a href="{% url 'wlmaps_index' %}">Maps</a> &#187; Upload
    </div>
    <p>
        <span class="errormessage">Please note:</span> Uploading maps on the website
        which use terrains
        from add-ons will not work! Starting with Widelands version 1.0 it is
        recommended to upload new
        maps within the game as an add-on. To do so start the "Add-Ons Packager" via
        "Main menu → Add-Ons → Tab Development → Launch the add-ons packager".
    </p>
    <p>
        <span class="errormessage">Please note:</span> Uploaded maps are
        published under the terms of the GNU General Public License (GPL)
        version 2 (the same license under which Widelands itself is
        distributed). For more information, see <a target="_blank"
            href="https://www.gnu.org/licenses/">
            https://www.gnu.org/licenses/</a>.
    </p>
    <form enctype="multipart/form-data" action="{% url 'wlmaps_upload' %}"
          method="post">
        {{ form.file.label_tag }} {{ form.file }}<br/>
        {% if form.file.errors %}
            <span class="errormessage">{{ form.file.errors }}</span><br/>
        {% endif %}
        <div>
            {{ form.uploader_comment.label_tag }}
            <span class="posRight">
				<a href="/wiki/WikiSyntax" title="Opens new Tab/Window" target="_blank">
					<img src="{% static 'img/menu_help.png' %}" alt="Help on Syntax"
                         class="middle">
					Help on Syntax
				</a>
			</span>
            {{ form.uploader_comment }}
        </div>
        {% if form.uploader_comment.errors %}
            <span class="errormessage">{{ form.uploader_comment.errors }}</span><br/>
        {% endif %}
        {% csrf_token %}
        <br/>
        <input type="submit" value="Upload"/>
    </form>
</section>
{% endblock %}
