{% comment %}
List all news in a table
{% endcomment %}

{% load threadedcommentstags %}
{% load custom_date %}
{% load pagination_tags %}

<div class="blogEntry">
	<div class="center">
	{% autopaginate object_list 20 %}
	{% paginate using "pagination/pagination_mod.html" %}
	</div>
	<table width="100%">
		<caption></caption>
		<thead>
			<tr>
				<th align="left">Title</th>
				<th>Published</th>
				<th>Comments</th>
				<th align="right">Category</th>
			</tr>
		</thead>
		<tbody>
			{% for object in object_list %}
			{% get_comment_count for object as ccount %}
			<tr>
				<td><a href="{{object.get_absolute_url}}">{{ object.title }}</a></td>
				<td align="center">{{ object.publish|custom_date:user }}</td>
				<td align="center">{{ ccount }}</td>
				<td align="right"><a href=" {% url 'category_posts' slug=object.get_category_slug %}"> {{ object.get_category_slug|title }}</a></td>
			</tr>
	    	{% endfor %}
		</tbody>
	</table>
	{% if page_obj.has_other_pages %}
	<div class="center">
		{% paginate %}
	</div>
	{% endif %}
</div>
