{% extends 'base.html' %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/search.css" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{{block.super}}
{% endblock %}

{% block content %}
    <script>
  $( function() {
    $( ".datepicker" ).datepicker({
        dateFormat: "yy-mm-dd",
        showAnim: "slideDown"
        });
  } );
  </script>
    <h2>Search</h2>

    <div class="blogEntry">
        <div class="closeable">
        <ul>
            <li>The Search is case insentive.</li>
            <li>Search terms get stemmed, e.g. 'Tribes' find also 'tribe'.
            'Mines' finds also 'mine', 'Miner' and 'mining'.</li>
            <li>Providing more than one word, the words get ANDed, e.g. all words must be in a topics name.</li>
            <li>Words preceding with a minus means excluding, e.g. searching for 'tribe -barbarian'
            finds all posts containing 'tribe' but excludes all posts containing 'barbarian'.</li>
            <li>Default is searching the last two years.</li>
        </ul>
    </div>
    <form method="get" action=".">
        {{ form.non_field_errors }}

        <div class="search-options">
          <p>
            <strong>Search for:</strong> {{ form.q }}
            <strong>Startdate: </strong>
                {% if form.start_date.errors %}
                    <span class="errormessage"> Enter a valid date in form of YYYY-MM-DD </span>
                {% endif %}
                {{ form.start_date }}
                 (Leave empty for searching all)
          </p>
          <p>
            <strong>Search in:</strong>
          
                    {{ form.incl_forum.label }} {{ form.incl_forum }} |
                    {{ form.incl_maps.label }} {{ form.incl_maps }} |
                    {{ form.incl_wiki.label }} {{ form.incl_wiki }} |
                    {{ form.incl_help.label }} {{ form.incl_help }} |
                    {{ form.incl_news.label }} {{ form.incl_news }}
          </p>
        <input class="posRight" type="submit" value="Search"><br>
        </div>
        

        {% if query %}
            <h2>Results</h2>
            {% for result in object_list %}
                {% for section, section_entries in result.items %}
                    {% if section == "maps" and section_entries|length > 0 %}
                        <h3> Maps:</h3>
                        <ul>
                            {% for map in section_entries %}
                                {% include "search/includes/maps.html" %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if section == "topics" and section_entries|length > 0 %}
                        <h3> Topics: </h3>
                        <ul>
                            {% for topic in section_entries %}
                                {% include "search/includes/topics.html" %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if section == "posts" and section_entries|length > 0 %}
                        <h3> Posts: </h3>
                        <ul>
                            {% for post in section_entries %}
                                {% include "search/includes/posts.html" %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                    {% if section == "workers" and section_entries|length > 0 %}
                        <h3> Workers: </h3>
                        <ul>
                            {% for worker in section_entries %}
                                {% include "search/includes/workers.html" %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% if page_obj.has_previous or page_obj.has_next %}
                <div>
                    {% if page_obj.has_previous %}<a href="?q={{ query }}&amp;page={{ page_obj.previous_page_number }}">{% endif %}&laquo; Previous{% if page_obj.has_previous %}</a>{% endif %}
                    |
                    {% if page_obj.has_next %}<a href="?q={{ query }}&amp;page={{ page_obj.next_page_number }}">{% endif %}Next &raquo;{% if page_obj.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
    </div>
{% endblock %}