{% load i18n %}
{% load wl_extras %}
<div class="pagination">
    <span class="summary">
		<strong>{{ page_obj.start_index }}</strong> &mdash;
		<strong>{{ page_obj.end_index }}</strong> {% trans "of" %}
		<strong>{{ page_obj.paginator.count }}</strong>
		{{ page_obj.paginator.object_list.0 | get_model_name }}{{ page_obj.paginator.count|pluralize }}
    </span>
    {% if page_obj.has_other_pages %}
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo; previous</a>
        {% endif %}
        {% for p in paginator_range %}
            {% if p == page_obj.number %}
                <span class="current page"> {{ p }}</span>
            {% elif p == page_obj.paginator.ELLIPSIS %}
                <span> {{ page_obj.paginator.ELLIPSIS }}</span>
            {% else %}
                <a href="?page={{ p }}">{{ p }} </a>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next &raquo;</a>
        {% endif %}
    </span>
    {% endif %}
</div>

