{% extends "mainpage/base.html" %}

{% block content_header %}
    <h1>All comments have to be moderated</h1>
{% endblock %}

{% block content_main %}
<div class="blogEntry">
	<p>Your comment has to be reviewed by a moderator.</p>
		{% if act_count == max_count|add:"-1" %}
			<p><strong>Attention! The next time you will get logged out and deactivated!</strong></p>
		{% endif %}
		{% if act_count == max_count %}
			<p><strong>You can't login anymore...</strong></p>
		{% endif %}
</div>
	
{% endblock %}
