{% comment %}
 vim:ft=htmldjango:

 This file contains the simple way to render a news item

{% endcomment %}
{% load news wl_markdown tagging_tags threadedcommentstags %}

   <div class="news_item">
         <h3 class="title">{# TODO: categories! #} {{ object.title }}</h3>
         <div class="info_line"> 
            <span class="news_poster">Posted by {{object.author}}</span>
            <span class="news_post_date">on {{ object.publish|date:"j F Y" }}</span> 
         </div>
         <div class="content">
            {% if object.has_image %}
            <span class="news_image"><img src='{{MEDIA_URL}}{{ object.image }}' alt='{{ object.image_alt }}' /></span>
            {% endif %}
            <div class="text">
            {{ object.body|markdown:"safe" }}
            </div>
         </div>
         
        <div class="bottom_line">
        &nbsp;

         {% get_comment_count for object as ccount %}
         <div class="comments">
             <a href="{{ object.get_absolute_url }}">{{ ccount }} comments</a>
         </div>

         {% tags_for_object object as tag_list %}
         {% if tag_list %}
         <div class="tags">
            <strong>Tags:</strong>
            {% for tag in tag_list %}
            {{ tag }}{% if not forloop.last %}, {% endif %}
            {% endfor %}
         </div>
         {% endif %}
        </div>
         {% comment %}
            I want to see how the page looks without any admin stuff
         {% endcomment %}
         {% if perms.news %}
         <div class="admin">
            {% if perms.news.post_can_add %}<a href="/admin/news/post/add/">Add New Post</a>{% endif %}
            {% if perms.news.post_can_edit %}| <a href="/admin/news/post/{{object.id}}/">Edit</a>{% endif %}
            {% if perms.news.post_can_delete %}| <a href="/admin/news/post/{{object.id}}/delete/">Delete</a>{% endif %}
         </div>
         {% endif %}
   </div>
