{% extends 'wiki/base.html' %}
{% load wiki_extras %}
{% load i18n %}
{% block title %}
{{ name }} - Backlinks - {{block.super}}
{% endblock %}

{% block content %}
<div class="posRight small">
	<a class="invertedColor" href="{% url 'wiki_article' name %}">Back to article</a>
</div>
<h1>{% trans "Backlinks of " %} {{ name }}</h1>
<div class="blogEntry">
	{% if found_links or found_old_links %}
		{% if found_links %}
		<h3>Following pages have link(s) which points to this article:</h3>
		<ul>
		{% for article in found_links %}
				<li><a href="{% url 'wiki_article' article.title %}">{{ article.title }}</a></li>
		{% endfor %}
		</ul>
		{% endif %}
		{% if found_old_links %}
		<h3> Following articles have links which points to one of the old name(s) of this article (redirects):</h3>
		<ul>
		{% for article in found_old_links %}
			<li><a href="{% url 'wiki_article' article.title %}">{{ article.title }}</a>
			(has at least one link to: "{{ article.old_title }}"</li>
		{% endfor %}
		</ul>
		{% endif %}
	{% else %}
		<p><span class="errormessage">Every Wikipage must at least be linked from within another page.</span>
		Please link it <img src="/wlmedia/img/smileys/face-smile.png" alt="face-smile.png"> See <a href="/wiki/WikiSyntax/#links">Wiki Syntax</a> for explanations.</p></p>
	{% endif %}
</div>
{% endblock %}

