{% extends 'wiki/base.html' %}
{% load i18n %}

{% block title %}
{% trans "Changes in" %} {{ article.title }} - {{ block.super }}
{% endblock %}

{% block content_main %}
<div class="posRight small">
	<a href="{% url 'wiki_article' article.title %}" class="invertedColor">{% trans "Back to article" %}</a>
	| <a href="{% url 'wiki_article_history' article.title %}" class="invertedColor">{% trans "Editing history" %}</a>
</div>
<h1>{% trans "Changes in" %} {{ article.title }}</h1>

<div class="blogEntry">
	{% if changeset.old_title != article.title %}
		<h3>{% trans "Old Title" %}</h3>
		<p>{{ changeset.old_title }}</p>
		<br />
	{% endif %}
	{% if changeset.comment %}
		<h3>Editor Comment</h3>
		<p>{{changeset.comment}}</p>
		<br />
	{% endif %}
	<h3>Revision Differences
	{% if from %}
	between Revision {{ from }} and Revision {{ to }}
	{% else %}
	of Revision {{ to }}
	{% endif %}
	</h3>
	{{ differences|safe }}
</div>
{% endblock %}
