{% extends 'wiki/base.html' %}
{% load i18n %}

{% block title %}
Changes in {{ article_title }} - {{ block.super }}
{% endblock %}

{% block content %}
   <div align="right">
         <a href="{% url wiki_article article.title %}">{% trans "Back to article" %}</a>
         |
         <a href="{% url wiki_article_history article.title %}">{% trans "Editing history" %}</a>
   </div>
	<h1> <a href="{% url wiki_article article_title %}"> {{ article_title }} </a> </h1>
    {% if changeset.old_title %}
        <h2> {{ changeset.old_title }} </h2>
    {% endif %}
    {% if changeset.comment %}
    <div class="comment">
    <p>Editor comment:<br />
    {{changeset.comment}}</p>
    </div>
    {%endif %}
    <h3>Revision differences</h3>
    <div class="changeset_content">
    {{ changeset.display_diff|safe }}
    </div>
{% endblock %}
