{% extends 'wiki/base.html' %}
{% load i18n %}
{% load wlimages %}

{% block title %}
{% trans "Editing article" %} - {{ block.super }}
{% endblock %}

{% block content %}
	<h1>{% trans "Edit" %}</h1>
   
   <p>
   You can edit the wiki pages contents using the Syntax described on the 
   <a href="/wiki/WikiSyntax">WikiSyntax</a>.
   </p>
   
   <form action="" method="post">
      <table id="edit_wiki_page_form">
         <!-- Title -->
         <tr>
            <th><label for="id_title">{% trans "Title" %}:</label></th>
            <td id="id_title">{{ form.title.errors }}{{ form.title }}</td>
         </tr>
         
         <!-- Content -->
         <tr><th colspan="2"><label for="id_content">{% trans "Content" %}:</label></th></tr>
         <tr><td colspan="2" id="id_content">{{ form.content.errors }}{{ form.content }}</td></tr>
         
         <!-- Summary -->
         <tr><th colspan="2"><label for="id_summary">{% trans "Page Summary" %}:</label></th></tr>
         <tr><td colspan="2" id="id_summary">{{ form.summary.errors }}{{ form.summary }}</td></tr>
         
         <!-- Comment -->
         <tr><th colspan=2><label for="id_comment">{% trans "Comment for this revision" %}:</label></th></tr>
         <tr><td colspan=2 id="id_comment">{{ form.comment.errors }}{{ form.comment }}</td></tr>
         
         <!-- Markup as hidden element -->
         <input type="hidden" name="markup" value="mrk" />
         {{ form.content_type }}
         {{ form.object_id }}
         {{ form.action }}
         {{ form.user_ip }}
      </table>
      
		<div class="submit">
			<input type="submit" value="{% trans "Save" %}" />
		</div>
   </form> 
   
   
   {% if new_article %}
      <h2>Images</h2>
      You must save the article once before you can attach images to it
   {% else %}
      {% if images.count %}
         <h2>Images</h2>
         Images attached to this article:
         <table width="100%">
         <tr>
            <th>Image Title</th>
            <th>Image</th>
            <th>Code to include</th>
         </tr>
         {% for img in images %}
         <tr>
            <td>{{ img.name }}</td>
            <td><img src="{{ img.url }}"></td>
            <td>![{{img.name}}]({{ img.url }})</td>
         </tr>
         {% endfor %}
         </table>
      {%endif%}

      {% get_upload_form as iform %}
      <form  enctype="multipart/form-data" action="/images/upload/{{content_type}}/{{object_id}}/{{request.path}}" method="POST">
           {{ iform.as_p }}
         <div class="submit">
            <input type="submit" value="{% trans "Upload Image" %}" />
         </div>
      </form>
   
   {% endif%}

{% endblock %}

