{% extends 'wiki/base.html' %}
{% load i18n %}
{% load wlimages %}

{% block title %}
{% trans "Editing" %} {{ article.title }} - {{ block.super }}
{% endblock %}

{% block extra_head %}
<script type="text/javascript" src="{{ MEDIA_URL }}js/disableOnSubmit.js"></script>
<script type="text/javascript">
	$(function() {
		$('form').disableOnSubmit();
	});

	$(document).ready(function() {
		// Insert rendered markup for preview
		$("#id_preview").click(function(){ 
			// Activate preview
			$("#preview").html("<h3>Preview</h3>\n<hr>\n<div class=\"wiki_article\" id=\"content_preview\">Loading...</div>\n<hr>");
			$("#content_preview").load( "{% url wiki_preview %}", 
				{"body": $("#id_content").val()});
		})

	{% ifequal new_article 0 %} 
		// Insert diff  
		$("#id_diff").click(function(){ 
			// Activate preview
			$("#diff").html("<h3>Diff</h3>\n<hr>\n<div id=\"content_diff\">Loading...</div>\n<hr>");
			$("#content_diff").load( "{% url wiki_preview_diff %}", 
				{"body": $("#id_content").val(), "article": {{ object_id }} });
		})
	{%endifequal%}
	});
</script>
{{ block.super }}
{% endblock %}

{% block content %}
{% if not new_article %} 
<div class="posRight small">
	<a href="{% url wiki_article article.title %}" class="invertedColor">{% trans "Back to article" %}</a>
	|
	<a href="{% url wiki_article_history article.title %}" class="invertedColor">{% trans "Editing history" %}</a>
</div>
{% endif %}
<h1>{% trans "Editing" %} {{ article.title }}</h1>

<div class="blogEntry">
	<p>
	You can edit the wiki pages contents using the syntax described on the <a href="/wiki/WikiSyntax">WikiSyntax</a>.
	</p>

	<div id="preview"></div>

	<div id="diff"></div>

	<form action="." method="post">
		<table id="edit_wiki_page_form">
			<!-- Title -->
			<tr>
				<th><label for="id_title">{% trans "Title" %}:</label></th>
				<td>{{ form.title.errors }}{{ form.title }}</td>
			</tr>
			<!-- Content -->
			<tr><th colspan="2"><label for="id_content">{% trans "Content" %}:</label></th></tr>
			<tr><td colspan="2" >{{ form.content.errors }}{{ form.content }}</td></tr>
			<!-- Summary -->
			<tr><th colspan="2"><label for="id_summary">{% trans "Page Summary" %}:</label></th></tr>
			<tr><td colspan="2" >{{ form.summary.errors }}{{ form.summary }}</td></tr>
			<!-- Comment -->
			<tr><th colspan=2><label for="id_comment">{% trans "Comment for this revision" %}:</label></th></tr>
			<tr><td colspan=2 >{{ form.comment.errors }}{{ form.comment }}</td></tr>
		</table>
		<!-- Markup as hidden element -->
		<input type="hidden" name="markup" value="mrk" />
		{{ form.content_type }}
		{{ form.object_id }}
		{{ form.action }}
		{{ form.user_ip }}

		<div>
			<input id="id_preview" type="button" value="{% trans "Preview" %}" />
		{% ifequal new_article 0 %}
			<input id="id_diff" type="button" value="{% trans "Diff" %}" />
		{% endifequal %}
			<input type="submit" value="{% trans "Save" %}" />
		</div>
		{% csrf_token %}
	</form> 
	<br />
	<h3>Images</h3>
	{% if new_article %}
		You must save the article once before you can attach images to it.
	{% else %}
		{% if images.count %}
		Images attached to this article:
		
		{% for img in images %}
		<table width="100%" class="images">
		<thead>
			<tr>
				<th class="first-column" style="text-align: right;">Name:</th>
				<th>{{ img.name}}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<span>Properties:</span><br />
					<span class="grey">Width:</span><br />
					{{ img.image.width }} px<br />
					<span class="grey">Height:</span><br />
					{{ img.image.height }} px<br />
					<span class="grey">Filesize:</span><br />
					{{ img.image.size|filesizeformat }}
				<td  style="vertical-align: middle; text-align: center;"><img src="{{ img.url }}"></td>
			</tr>
			<tr>
				<td class="grey">Code to use in article:</td>
				{# Show only one code snippet if the image is greater than 700px #}
				{% if img.image.width > 700 %}
				<td style="text-align: center;">[![{{img.name}}]({{ img.url }})]({{ img.url }})</td>

				{# otherwise give all options #}
				{% else %}
					<td style="text-align: center;">![{{img.name}}]({{ img.url }})</td>
			</tr>
				<tr>
					<td class="grey">Right aligned:</td>
					<td style="text-align: center;">![{{img.name}}]({{ img.url }}){: .right}</td>
				</tr>
				<tr>
					<td class="grey">Left aligned:</td>
					<td style="text-align: center;">![{{img.name}}]({{ img.url }}){: .left}</td>
				</tr>
				{% endif %}
		</tbody>
		</table>
		{% endfor %}
		{% endif %}

		{% get_upload_form as iform %}
		<form enctype="multipart/form-data" action="/images/upload/{{content_type}}/{{object_id}}/{{request.path|iriencode}}" method="POST">
			{{ iform.as_p }}
			<div>
				<input type="submit" value="{% trans "Upload Image" %}" />
			</div>
			{% csrf_token %}
		</form>
	{% endif%}
</div>
{% endblock %}
