{% extends "news/base_news.html" %}


{% load custom_date %}

{% block content %}
<h2>Posts for {{ category.title }}</h2>

<div class="blogEntry">
  <div class="post_list">
    <table>
      <th align="left">Title</th>
      <th>Posted at</th>
    {% for post in object_list %}
        <tr>
          <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
          <td>{{ post.publish|custom_date:user }}</td>
        </tr>
    {% endfor %}
    </table>

  </div>
</div>
{% endblock %}
