{% extends "news/base_news.html" %}
{% load pagination_tags %}
{% load threadedcommentstags %}
{% load custom_date %}

{% block title %} Category: {{ cur_category }} - {{ block.super }}{% endblock %}

{% block content %}
<h1>Posts for Category: {{ cur_category }}</h1>
<div>
	<div class="linksBox">
		<a href="{% url 'news_index' %}">News Archive</a>
	</div>
	<br />
	<div class="linksBox">All Categories: 
		{% for category in categories %}
			<a href="{% url 'category_posts' slug=category.slug %}">{{ category }} </a> | 
		{% endfor %}
		{# Speciallink to provide posts which have no category #}
		<a href="{% url 'category_posts' slug='none' %}"> None </a>
	</div>
</div>
<div class="blogEntry">
	<div class="center">
	{% autopaginate post_list 20 as object_list %}
	{% paginate using "pagination/pagination_mod.html" %}
	</div>
    <table width="100%">
      <th align="left">Title</th>
      <th>Posted at</th>
	  <th>Comments</th>
    {% for post in object_list %}
		{% get_comment_count for post as ccount %}
        <tr>
          <td><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></td>
          <td align="center">{{ post.publish|custom_date:user }}</td>
		  <td align="center"> {{ ccount }}</td>
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
