{% extends "news/base_news.html" %}

{% load wlprofile_extras %}
{% load threadedcomments_tags %}
{% load news_extras %}

{% block title %}{{ object.title }} - {{ block.super }}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/news.css" />
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/comments.css" />
{% endblock %}

{% block content %}
<h1>{{ object.title }}</h1>
{% if object.get_previous_by_publish %}
<a class="invertedColor" href="{{ object.get_previous_post.get_absolute_url }}">&laquo; {{ object.get_previous_post }}</a>
{% endif %}
|
{% if object.get_next_by_publish %}
<a class="invertedColor" href="{{ object.get_next_post.get_absolute_url }}">{{ object.get_next_post }} &raquo;</a> 
{% endif %}
<br /><br />

{% include "news/inlines/post_detail.html" %}

<div class="blogEntry">
	<h3>Comments on this Post:</h3>
	{% include "threadedcomments/inlines/comments.html" %}
</div>
{% endblock %}
