{% extends "news/base_news.html" %}

{% load news %}
{% load custom_date %}
{% load pagination_tags %}

{% block content %}

<h1>News Archive</h1>
{% get_news_years as news_years %}
<a href="{% url news_index %}" class="invertedColor">News Archiv</a>:
{% for muh in news_years %}
	<a href="{% url news_index %}{{ muh.year }}" class="invertedColor">{{ muh.year }}</a>
	{% if not forloop.last %} | {% endif %}
{% endfor %}
<br />

<div class="center">
{% autopaginate object_list 10 %}
{% paginate %}
</div>
<br />

{% for object in object_list %}
	{% include "news/inlines/post_detail.html" %}
{% endfor %}
{% if page_obj.has_other_pages %}

<div class="center">
{% paginate %}
</div>
{% endif %}

{% endblock %}
