{% extends "news/base_news.html" %}

{% load wlprofile %}
{% load threadedcommentstags %}
{% load news %}

{% block title %}{{ object.title }} - {{ block.super }} {% endblock %}
{% block body_class %}{{ block.super }} post_detail{% endblock %}
{% block body_id %}post_{{ object.id }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}/css/news.css" />{{ block.super }}
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}/css/comments.css" />{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}/js/jquery.js"></script>
{% endblock %}

{% block content %}
    <h2>{{ object.title }}</h2>
    <p class="other_posts">
    {% if object.get_previous_by_publish %}
    <a class="previous" href="{{ object.get_previous_post.get_absolute_url }}">&laquo; {{ object.get_previous_post }}</a>
    {% endif %}
    {% if object.get_next_by_publish %}
    | <a class="next" href="{{ object.get_next_post.get_absolute_url }}">{{ object.get_next_post }} &raquo;</a> 
    {% endif %}
    </p>

    {% include "news/inlines/post_detail.html" %}
    
    <!-- Comments below -->
    {% get_threaded_comment_form as form %}
    {% include "threadedcomments/inlines/reply_to.js" %}
  
    <h3>Comments on This Post:</h3>
    {% get_threaded_comment_tree for object as tree %}
    {% for comment in tree %}
        <div style="margin-left: {{ comment.depth }}em;" class="comment {% cycle "odd" "even" %}">
            {% if comment.user.get_profile.avatar %}
            <span class="avatar" style="margin: 2px; margin-right: 10px; float: left;">
                <a href="{% url profile_view comment.user %}">
                <img src="{{ comment.user.get_profile.avatar.url }}" />
                </a>
            </span>
            {% endif %}
            <p class="author">{{ comment.user|user_link }} said:</p>
            {% auto_transform_markup comment %}
            {% if user.is_authenticated %}
            <p><a id="c{{ comment.id }}" href="javascript:show_reply_form('c{{ comment.id }}','{% get_comment_url object comment %}','{{ comment.user.username }}')">Reply</a></p>
            {% endif %}
        </div>
    {% endfor %}
    {% if user.is_authenticated %}
    <p>Reply to Original:</p>
    <form method="POST" action="{% get_comment_url object %}">
        <ul>
            {{ form.as_ul }}
            <li><input type="submit" value="Submit Comment" /></li>
        </ul>
    </form>
    {% else %}
    <p>Log in to post comments</p>
    {% endif %}

{% endblock %}
