{% extends "news/base_news.html" %}
{% load custom_date %}
{% load pagination_tags %}
{% block title %}Post archive for {{ day|date:"d F Y" }}{% endblock %}
{% block body_class %}{{ block.super }} post_archive_day{% endblock %}

{% block content %}
{% include "django_messages/inlines/navigation.html" %}
<br />
<br />
<div class="muttis_liebling">
    <div class="box_item_model even show_center">
        <a href="{% url 'news_index' %}{{ day|date:"Y" }}/{{ day|date:"m" }}">Archiv {{ day|date:"F" }}</a>
    {% autopaginate object_list 10 %}
    {% paginate %}
    </div>
    <br />
    {% for object in object_list %}
        {% include "news/inlines/post_detail.html" %}
    <br />
    {% endfor %}
    <br />
    {% if page_obj.has_other_pages %}
    <div class="box_item_model even show_center">
    {% paginate %}
    </div>
    {% endif %}
</div>
{% endblock %}
