{% extends "news/base_news.html" %}
{% load custom_date %}
{% load news %}
{% load pagination_tags %}
{% load markup %}

{% block title %}{{ month|date:"F - Y" }} - {{block.super}}}{% endblock %}

{% block content %}

<h1>News Archive</h1>
<a href="{% url news_index %}" class="invertedColor">News Archiv</a> &#187; 
<a href="{% url news_index %}{{ month|date:"Y" }}/" class="invertedColor">{{ month|date:"Y" }}</a> &#187; 
<a href="{% url news_index %}{{ month|date:"Y" }}/{{ month|date:"m" }}/" class="invertedColor">{{ month|date:"F" }}</a>
{% for day in object_list %}
{% endfor %}
<br />

<div class="center">
{% autopaginate object_list 10 %}
{% paginate %}
</div>
<br />

{% for object in object_list %}
	{% include "news/inlines/post_detail.html" %}
{% endfor %}
{% if page_obj.has_other_pages %}

<div class="box_item_model even show_center">
{% paginate %}
</div>
{% endif %}

{% endblock %}
