{% extends "news/base_news.html" %}
{% load custom_date %}
{% load news %}
{% load pagination_tags %}

{% block title %}Post archive for {{ month|date:"F Y" }}{% endblock %}
{% block body_class %}{{ block.super }} post_archive_month{% endblock %}

{% block content %}
{% load markup %}
{% include "django_messages/inlines/navigation.html" %}
<br />
<br />
<div class="muttis_liebling">
    <div class="box_item_model even show_center">
        <a href="{% url news_index %}{{ month|date:"Y" }}">Archiv {{ month|date:"Y" }}</a>
    {% for day in object_list %}
    {% endfor %}
    {% autopaginate object_list 10 %}
    {% paginate %}
    </div>
    <br />
    {% for object in object_list %}
        {% include "news/inlines/post_detail.html" %}
    <br />
    {% endfor %}
    {% if page_obj.has_other_pages %}
    <div class="box_item_model even show_center">
    {% paginate %}
    </div>
    {% endif %}
</div>
{% endblock %}
