{% extends "news/base_news.html" %}
{% load custom_date %}
{% load news %}
{% load pagination_tags %}
{% load markup %}

{% block title %}{{ year }} - {{ block.super }}{% endblock %}

{% block content %}

<h1>News Archive</h1>
<a href="{% url news_index %}" class="invertedColor">News Archiv</a> &#187; 
<a href="{% url news_index %}{{ year }}" class="invertedColor">{{ year }}</a>: 
{% for month in date_list %}
	<a href="{% url news_index %}{{ year }}/{{ month|date:"m" }}/" class="invertedColor">{{ month|date:"F" }}</a>
	{% if not forloop.last %} | {% endif %}
{% endfor %}
<br />

<div class="center">
{% autopaginate object_list 10 %}
{% paginate %}
</div>
<br />

{% for object in object_list %}
	{% include "news/inlines/post_detail.html" %}
{% endfor %}
{% if page_obj.has_other_pages %}

<div class="center">
{% paginate %}
</div>
{% endif %}

{% endblock %}
