{% extends "news/base_news.html" %}

{% load threadedcommentstags custom_date %}

{% block content %}

<h1>News Archive</h1>
<div class="linksBox">
	<a href="{% url 'news_index' %}">News Archiv: </a>
	{% for dateobj in date_list reversed %}
		<a href="{% url 'news_index' %}{{ dateobj|date:'Y' }}">{{ dateobj|date:'Y' }}</a>
		{% if not forloop.last %} | {% endif %}
	{% endfor%}
</div>
{% if perms.news %}
	<div class="small posRight invertedColor">
		{% if perms.news.add_post %}<a href="/admin/news/post/add/" class="invertedColor">Add New News</a>{% endif %}
	</div>
{% endif %}

{# Show all posts #}
{% include "news/inlines/posts_table.html" %}

{% endblock %}
