{% extends "wlscreens/base.html" %}
{% comment %}
   vim:ft=htmldjango
{% endcomment %}

{% load wl_markdown %}

{% block extra_head %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.lightbox-0.5.js"></script>
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/jquery.lightbox-0.5.css" />
<script type="text/javascript">
// {{{ Javascript Stuff 
	$(function() {
		$('.screenshot_list a').lightBox();
	});
// }}}
</script>
{% endblock %}

{% block content %}
<h1>Screenshots</h1>

{% for c in categories %}
<div class="blogEntry">
	<h2>{{ c.name }}</h2>
	<ul class="screenshot_list">
	{% for s in c.screenshots.all %}
		<li>
			<a href="{{ s.screenshot.url }}" title="{{ s.name }}: {{ s.comment }}">
				<img src="{{ s.thumbnail.url }}" alt="" />
			</a>
			<br />
			<span>{{ s.name }}</span>
		</li>
	{% endfor %}
	</ul>
</div>
{% endfor %}
{% endblock %}
