{% extends "wlscreens/base.html" %}
{% comment %}
   vim:ft=htmldjango
{% endcomment %}

{% load wl_markdown %}

{% block extra_head %}
{{ block.super }}
<!-- Add fancyBox with button helper -->
<link rel="stylesheet" href="{{ MEDIA_URL }}fancybox/jquery.fancybox.css?v=2.0.6" type="text/css" media="screen" />
<script type="text/javascript" src="{{ MEDIA_URL }}fancybox/jquery.fancybox.pack.js?v=2.0.6"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}fancybox/helpers/jquery.fancybox-buttons.css?v=1.0.2" type="text/css" media="screen" />
<script type="text/javascript" src="{{ MEDIA_URL }}fancybox/helpers/jquery.fancybox-buttons.js?v=1.0.2"></script>
<link rel="stylesheet" href="{{ MEDIA_URL }}fancybox/helpers/jquery.fancybox-thumbs.css?v=2.0.6" type="text/css" media="screen" />
<script type="text/javascript" src="{{ MEDIA_URL }}fancybox/helpers/jquery.fancybox-thumbs.js?v=2.0.6"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$(".fancybox").fancybox({
			openEffect : 'elastic',
			closeEffect : 'elastic',
			closeBtn : false,
			helpers : {
				title : {
					type : 'outside'
				},
				buttons : {},
				thumbs	: {
					width	: 50,
					height	: 50
				}
			}
		});
	});
</script>
{% endblock %}

{% block content %}
<h1>Screenshots</h1>

{% for c in categories %}
<div class="blogEntry">
	<h2>{{ c.name }}</h2>
	<ul class="screenshot_list">
	{% for s in c.screenshots.all %}
		<li>
			<a class="fancybox" rel="{{ c.slug }}" href="{{ s.screenshot.url }}" title="{{ s.name }}: {{ s.comment }}">
				<img src="{{ s.thumbnail.url }}" alt="" />
			</a>
			<br />
			<span>{{ s.name }}</span>
		</li>
	{% endfor %}
	</ul>
</div>
{% endfor %}
{% endblock %}
