{% extends "wlmaps/base.html" %}

{% block content_main %} 
<h1>Edit comment: {{ map.name }}</h1>
<div class="blogEntry">
    <form enctype="multipart/form-data" action="{% url 'wlmaps_edit_comment' map.slug %}" method="post">
        <div>
        {{ form.uploader_comment.label_tag }}
			<span class="posRight">
				<a href="/wiki/WikiSyntax" title="Opens new Tab/Window" target="_blank">
					<img src="{{ MEDIA_URL }}img/menu_help.png" alt="Help on Syntax" class="middle">
					Help on Syntax
				</a>
			</span>
        {{ form.uploader_comment }}
        </div>
		{% if form.uploader_comment.errors %}
			<span class="errormessage">{{ form.uploader_comment.errors }}</span><br />
		{% endif %}
		{% csrf_token %}
        <button type="submit">
            <img src="{{ MEDIA_URL }}forum/img/send.png" alt ="Submit" class="middle" />
            <span class="middle">Submit</span>
        </button>
	</form>
</div>
{% endblock %}