{% extends "wlmaps/base.html" %}
{% comment %}
   vim:ft=htmldjango
{% endcomment %}

{% load custom_date %}
{% load wlprofile %}
{% load wlmaps_extra %}
{% load pybb_extras %}

{% block content %}
{% if user.is_authenticated %}
<a href="{% url wlmaps_upload %}" class="posRight invertedColor">Upload a new map</a>
{% endif %}
<h1>Maps</h1>
<div class="blogEntry">
	{% pybb_pagination _('Maps') %}
	<br /><br />
	<table class="forum">
		{% for map in maps %}
		<tr class="{% cycle "odd" "even" %}">
			<td><a href="{{ map.get_absolute_url }}"><img class="minimap" src="{{ MEDIA_URL }}{{ map.minimap.url }}" alt="{{ map.name }}" /></a></td>
			<td>
				<h3><a class="invertedColor" href="{{ map.get_absolute_url }}">{{ map.name }}</a></h3>
				<table>
					<tr>
						<td class="prop">Author:</td><td>{{ map.author }}</td>
						<td class="spacer"></td>
						<td class="prop">Dimensions:</td><td>{{ map.w }} x {{ map.h }}</td>
					</tr>
					<tr>
						<td class="prop">World:</td><td>{{ map.world_name|title }}</td>
						<td class="spacer"></td>
						<td class="prop">Max. Players:</td><td>{{ map.nr_players }}</td>
					</tr>
					<tr>
						<td class="prop">Rating:</td>
						<td colspan="4">{{ map.rating|average_rating }} ({{ map.rating.votes }} Votes)</td>
					</tr>
					<tr>
						<td class="prop">Upload:</td>
						<td colspan="4">by {{ map.uploader|user_link }} at {{ map.pub_date|custom_date:user }}</td>
					</tr>
					<tr>
						<td class="prop">Downloads:</td><td>{{ map.nr_downloads }}</td>
						<td class="spacer"></td>
						<td colspan="2">
							<button onclick="window.location.href='{% url wlmaps_download map.slug %}';">
								<img src="{{MEDIA_URL}}/img/download.png" alt ="" class="middle" />
								<span class="middle">Direct Download</span>
							</button>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		{% endfor %}
	</table>
	<br />
	{% pybb_pagination _('Maps') %}
	<br />
</div>
{% endblock %}
