{% extends "wlmaps/base.html" %}
{% comment %}
   vim:ft=htmldjango
{% endcomment %}

{% load custom_date %}
{% block title %}{{ object.name }} - {{ block.super }}{% endblock %}

{% block content %}
<div class="map_details">
   
   <h1>{{ object.name }}</h1>
   <span class="author">by {{ object.author }}</span>
   <span class="uploader">uploaded by {{ object.uploader.username }} at {{ object.pub_date|custom_date:user }}</span>
   
   <span class="dimensions">{{ object.w }}x{{ object.h }}</span>, <span class="world">{{ object.world_name|title }}</span>, <span class="nr_players"> maximum of {{ object.nr_players }} players.</span>
   <br/>
   <img src="{{ MEDIA_URL }}{{ object.minimap.url }}" alt="{{ object.name }}" />

   <div class="map_description">
      {{ object.descr }}
   </div>

   <h3>Comment by uploader:</h3>
   <div class="uploader_comment">
      {{ object.uploader_comment }}
   </div>
   
   <span class="nr_downloads">{{ object.nr_downloads }} times</span><br />

   <a href="{% url wlmaps_download object.slug %}">Download</a>

   <!-- Comments below -->
   <h3>Comments on this Map:</h3>
   {% include "threadedcomments/inlines/comments.html" %}

</div>

{% endblock %}
