{% extends "wlmaps/base.html" %}
{% comment %}
   vim:ft=htmldjango
{% endcomment %}

{% load custom_date %}
{% load wlmaps_extra %}
{% load wlprofile_extras %}
{% load threadedcommentstags %}
{% load wl_markdown %}

{% block title %}{{ map.name }} - {{ block.super }}{% endblock %}

{% block extra_head %}
{{ block.super }}
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/comments.css" />
{% if not user.is_anonymous %}
<script src="{{ MEDIA_URL}}/js/jquery.sexy-vote.js" type="text/javascript"></script>
<script type="text/javascript">
$(function() {
    $('#vote').sexyVote( {
        activeImageSrc: "{{ MEDIA_URL }}img/active_star.gif",
        passiveImageSrc: "{{ MEDIA_URL }}img/passive_star.gif",
        maxScore: 10,
        messages: ["","","","","","","","","",""],
        fn: function(e, score) {
            $.post("{% url 'wlmaps_rate' map.slug %}",{ vote: score });
            }
        });
});
</script>
{% endif %}
{% endblock %}

{% block content %}
<h1>Map: {{ map.name }}</h1>
<div class="blogEntry" style="padding-bottom: 3em">
	<div>
		<a href="{% url 'wlmaps_index' %}">Maps</a> &#187; {{ map.name }}
	</div>
		<img class="posLeft map" style="float: left" src="{{ MEDIA_URL }}{{ map.minimap.url }}" alt="{{ map.name }}" />
	<div>
		<h3>Description:</h3>
		<p>{{ map.descr|wl_markdown:"escape" }}</p>
	</div>
	{% if map.hint %}
	<div style="clear: left;">
		<h3>Hint:</h3>
		<p>{{ map.hint|wl_markdown:"escape" }}</p>
	</div>
	{% endif %}

	<div style="clear: left;">
		<h3>Comment by uploader:</h3>
		<div>{{ map.uploader_comment|wl_markdown:"remove" }}</div>
		{% if user == map.uploader %}
			<a class="button posLeft" href="{% url 'wlmaps_edit_comment' map.slug %}">
				<img alt="Edit" title="Edit your comment" class="middle" src="{{ MEDIA_URL }}forum/img/edit.png">
				<span class="middle">Edit</span>
			</a>
		{% endif %}
	</div><br />

	<div style="display: block" >
		<h3>Basic Information:</h3>
		<table>
			<tr>
				<td class="grey">Author:</td><td>{{ map.author }}</td>
			</tr>
			<tr>
				<td class="grey">World:</td>
				<td>
				{% if map.world_name %}
				{{ map.world_name|title }}
				{% else %}
				One World
				{% endif %}
				</td>
			</tr>
			<tr>
				<td class="grey">Dimensions:</td><td>{{ map.w }} x {{ map.h }}</td>
			</tr>
			<tr>
				<td class="grey">Max. Players:</td><td>{{ map.nr_players }}</td>
			</tr>
			<tr>
				<td class="grey">Downloads:</td><td>{{ map.nr_downloads }}</td>
			</tr>
			<tr>
				{% get_comment_count for map as ccount %}
				<td class="grey">Comments:</td><td>{{ ccount }}</td>
			</tr>
			<tr>
				<td class="grey">Rating:</td>
				<td>
					{{ map.rating|average_rating }} ({{ map.rating.votes }} Votes)
					{% if not user.is_anonymous %}
					<span id="vote"></span>
					{% else %}
					- Login to vote
					{% endif %}
				</td>
			</tr>
			<tr>
				<td class="grey">Upload:</td><td>by {{ map.uploader|user_link }} at {{ map.pub_date|custom_date:user }}</td>
			</tr>
		</table>
		
		{% if not map.world_name %}
		<div>
			<strong>This map requires a version of Widelands newer than build18!</strong>
		</div>
		{% endif %}
	</div>
	
	<div style="margin: 1em 0px 1em 0px">
	<a class="button posLeft" href="{% url 'wlmaps_download' map.slug %}">
		<img src="{{ MEDIA_URL }}img/download.png" alt ="" class="middle" />
		<span class="middle">Download this map</span>
	</a>
	</div>
</div>

<div class="blogEntry">
	<h3>Comments on this Map:</h3>
	{% with map as object %}
		{% include "threadedcomments/inlines/comments.html" %}
	{% endwith %}
</div>
{% endblock %}
