{% extends "wlmaps/base.html" %}
{% comment %}
   vim:ft=htmldjango
{% endcomment %}

{% block title %}Upload - {{ block.super }}{% endblock %}

{% block content %}
<h1>Map Upload</h1>
<div class="blogEntry">
	<a href="{% url wlmaps_index %}">Maps</a> &#187; Upload
	<br /><br />
	<form enctype="multipart/form-data" action="{% url wlmaps_upload %}" method="post">
		{{ form.file.label_tag }}: {{ form.file }}<br />
		{% if form.file.errors %}
			<span class="errormessage">{{ form.file.errors }}</span><br />
		{% endif %}
		{{ form.uploader_comment.label_tag }}:<br />
		{{ form.uploader_comment }}
		{% if form.uploader_comment.errors %}
			<span class="errormessage">{{ form.uploader_comment.errors }}</span><br />
		{% endif %}
		{% csrf_token %}<br />
		<input type="submit" value="Upload" />
	</form>
</div>
{% endblock %}
