{% extends "base.html" %}

{% block title %}
Internal server error - {{ block.super}}
{% endblock %}

{% block content %} 
<h1>Internal server error</h1>
<div class="blogEntry">
	<p> If you think you didn't make any mistake, please inform the administrators:
    <ul>
        <li>If you have an account on widelands.org, send a PM to: <a href="/profile/kaputtnik/">kaputtnik</a> </li>
        <li>Use the form on the <a href="/legal_notice">Legal Notice Page</a></li>
    </ul>
        <p><strong>In any case add the following information to your post:</strong></p><br />
        <p>Error in {{ request.path }}</p>
	</p>
</div>
{% endblock %}
