<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% comment %}
 vim:ft=htmldjango:
 
 This file is extended by all other files which are not
 included here
{% endcomment %}
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
   <title>{% block title %}Widelands.org{% endblock %}</title> 
<link href="/wlmedia/favicon.ico" rel="SHORTCUT ICON" />

<!--  CSS --> 
<link rel="stylesheet" type="text/css" media="all" href="/wlmedia/css/base.css" />
{% block extra_head %}{% endblock %}
</head>

<body>
   
<!-- Header Bar -->
<div id="headerbanner">
   <a href="{% url mainpage %}"><img src="{{ MEDIA_URL }}/img/Logo.png" alt="Logo" align="middle" /></a>
</div>
<div id="headerbottombar">
</div>

<!-- Main Page starts here -->
<!-- 
   The decision here was between this table madness or a CSS + JS hack (resize
   divisions after page load). Both solutions are ugly, but I prefer tables to JS hacks.
   Can't wait for CSS3.
-->

<!-- 
   Top Tables are not used by current theme, they
   might be in a future one though 
-->
<table border="0" cellpadding="0" cellspacing="0">
   <tr>
      <td id="table_topleft"></td>
      <td id="table_topright"></td>
   </tr>
</table>


<!-- Table with Menus and Content -->
<table border="0" cellpadding="0" cellspacing="0" >
  <tr>
     <!-- Left Column -->
     <td id="leftcolumn">
        <div id="leftcontent">
        {% include "left_boxes.html" %}
        </div>

     </td>

     <!-- Center Column/Content -->
     <td id="content">
<!-- ################### CONTENT STARTS HERE ################### -->       
       {% block content %}
        No Content here!
       {% endblock %}
<!-- ###################  CONTENT ENDS HERE  ################### -->       
     </td>

     <!-- Right Column -->
     <td id="rightcolumn">
        <div id="rightcontent">
        {% include "right_boxes.html" %}
        </div>
     </td>
  </tr>
</table>


<!-- Footer -->
{% include "footer.html" %}

<!-- Bottom Table -->
<table border="0" cellpadding="0" cellspacing="0" id="table_bottom">
   <tr>
      <td id="table_bottomleft">
      </td>
      <td id="table_bottomright">
      </td>
   </tr>
</table>

</body>
</html>

