
<!DOCTYPE html>
{% comment %}
 vim:ft=htmldjango:
 
 This file is extended by all other files which are not
 included here
{% endcomment %}
<html lang="en">

	<head>
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

      <!-- Google Webmaster Site Verification token -->
      <meta name="google-site-verification" content="1A5uFV_zNuXazJ46-572-_lLzcCTEQ77iHaSPFZd53Y" />

		<title>{% block title %}Widelands.org{% endblock %}</title> 
		<link href="{{ MEDIA_URL }}favicon.ico" rel="icon" />

		<!--  CSS --> 
		<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/base.css" />
		<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/navigation.css" />
		<!--[if lt IE 9]>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base_ielt9.css" />
		<![endif]-->
		<!--[if lt IE 8]>
		<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/base_ielt8.css" />
		<![endif]-->

		{% if USE_GOOGLE_ANALYTICS %}
		<!-- Google Analytics -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-42120570-2', 'widelands.org');
			ga('send', 'pageview');
		</script>
		{% endif %}

		<!-- Javascript Bread & Butter Scripts -->
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery-3.2.1.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery_csrf_ajax.js"></script>
		<script type="text/javascript" src="{{ MEDIA_URL }}js/scripts.js"></script>
		{% block extra_head %}{% endblock %}
	</head>

	<body>
		<a id="top"></a>
		<div id="wrapper">
			<div id="header">
				<div class="loginBox posRight">
					{% include "login_box.html" %}
				</div>
				<a href="{% url 'mainpage' %}"><img src="{{ MEDIA_URL }}img/{{ LOGO_FILE }}" class="posLeft" alt="Widelands Logo" /></a>
			</div>
			<div id="topmenu">
				<!-- Navigation -->
				{% include "navigation.html" %}
			</div>
			<div id="main" class="clear">
				<div id="rightColumn" class="posRight">
					{% include "right_boxes.html" %}
				</div>
				<div id="content">
					{% block content %}
						No Content here!
					{% endblock %}
				</div>
			</div>
			<div class="clear"></div>

		<!-- Footer -->
		{% include "footer.html" %}

		</div>
	</body>
</html>
