{% load wlprofile_extras %}

<div id="logo">
	<a href="{% url 'mainpage' %}"><img src=
	"{{ MEDIA_URL }}img/{{ LOGO_FILE }}" alt=
	"Widelands Logo"></a>
</div>
<ul class="header_boxes">
	<li class="small">
		<a href="wiki/Download">Download<br />
		<img src="{{ MEDIA_URL }}/img/download.png" />
		</a>
	</li>
	<li class="small">
		<a href="{% url 'wlmaps_index' %}">Maps<br />
		<img src="{{ MEDIA_URL }}img/maps.png" />
		</a>
	</li>
	<li class="small" style="align-self: center;">
		<p>
			Help for our Server
		</p>
		<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
		<input type="hidden" name="cmd" value="_s-xclick" />
		<input type="hidden" name="lc" value="GB" />
		<input type="hidden" name="hosted_button_id" value="JH5R7YHSVRMRG" />
		<input type="image" class="donate" src="{{ MEDIA_URL }}img/donate.png" name="submit" alt="PayPal - The safer, easier way to pay online!"/>
		<img alt="" src="https://www.paypal.com/de_DE/i/scr/pixel.gif" width="1" height="1" />
		</form>
	</li>
	<li class="small" style="align-self: center;">
		<p>Social Media</p>
		<a href="https://www.facebook.com/WidelandsOfficial" target="_blank">
			<img src="{{ MEDIA_URL }}img/socialmedia/facebook.png" alt="Facebook" />
		</a>
		<a href="https://plus.google.com/108069355276040649622" target="_blank">
			<img src="{{ MEDIA_URL }}img/socialmedia/googleplus.png" alt="Google+" />
		</a>
	</li>
	<li class="loginBox small"  title="You are logged in as {{ user }}" style="align-self: center;">
	<!-- Login form / User information -->
		{% if user.is_authenticated %}
			<p>
			<a href="{% url 'profile_view' %}">Your Profile</a>
			{% if messages_inbox_count > 0 %}
				<a href="{% url 'messages_inbox' %}" title="Number of Private Messages">|{{ messages_inbox_count }}|</a>
			{% endif %}
			</p><!--<br />-->
			<p>
			<a href="{% url 'auth_logout' %}?next={{ request.path|iriencode }}">Logout</a>
			</p>
		{% else %}
			<a href="{% url 'auth_login' %}?next={{ request.path|iriencode }}">Login/Register</a>
		{% endif %}
	</li>
</ul>
