{% comment %}
 vim:ft=htmldjango:

 This file is included by mainpage and contains all the left menu boxes
 on the site

{% endcomment %}
         <!-- Donation Box -->
         <h3 class="box_title">Donation</h3>
         <div class="box_content" align="center">
            Help us to pay our Server!<br/>(: Consider a donation :) <br/>
            <a href="http://sourceforge.net/donate/index.php?group_id=40163">
               <img src="http://images.sourceforge.net/images/project-support.jpg"
               align="middle" alt="Donation pic" border="0" vspace="5" /> 
            </a>
            <br/>
            <a href="http://sourceforge.net/project/project_donations.php?group_id=40163">Donators</a>
         </div>

         <!-- Navigation Box -->
         <h3 class="box_title">Main Menu</h3>
         <div class="box_content">
            <ul id="mainmenu">
               <li><a class="menuMain" href="/">Home</a></li>
               <li><a class="menuMain" href="{% url news_index %}">News</a> </li>
               <li><a class="menuMain" href="{% url wiki_article "DownloadPage" %}">Downloads</a> </li>
                  {% comment %}
                  <a class="menuMain" href="http://xoops.widelands.org/modules/wfdownloads/">Downloads</a>
                     <li class="sub"><a href="t=hit">Popular</a></li>
                     <li class="sub"><a href="rate">Top Rated</a></li>
                  <a class="menuMain" href="http://xoops.widelands.org/modules/smartfaq/">FAQ</a>
                  <a class="menuMain" href="http://xoops.widelands.org/modules/xcgal/">Screenshots</a>
                  {% endcomment %}
            <li><a class="menuMain" href="{% url wiki_index %}">Wiki (Help &amp; Docu.)</a></li>
            <li><a class="menuMain" href="{% url wiki_article "WidelandsFAQ" %}">FAQ</a></li>
            <li><a class="menuMain" href="{% url pybb_index %}">Forum</a></li>
            <li><a class="menuMain" href="{% url webchat_index %}">IRC Chat</a></li>
                  {% comment %}
                  <a class="menuMain" href="http://xoops.widelands.org/modules/Contentview/">SVN-View</a>
                  <a class="menuMain" href="http://xoops.widelands.org/modules/Tracker/">Bug-Tracker & Feature Requests</a>
                  <a class="menuMain" href="http://xoops.widelands.org/modules/poll/">Polls</a>
                  {% endcomment %}
            </ul>
         </div>
