{% load inbox wlprofile %}

<!-- Login form / User information -->
{% if user.is_authenticated %}
<div class="small posLeft">
	Welcome {{ user|user_link }},<br/>
	you have <a href="{% url messages_inbox %}">0 new messages</a>.
</div>
<div class="right small posRight">
	<ul>
		<li><a href="{% url messages_inbox %}">Messages</a></li>
		<li><a href="{% url notification_notices %}">Notifications</a></li>
		<li><a href="{% url profile_edit %}">Edit Profile</a></li>
		<li><a href="/accounts/logout/next={{ request.path }}">Logout</a></li>
	</ul>
</div>
{% else %}
<h4>Login</h4>
<form method="post" action="https://{{ request.META.HTTP_HOST }}/accounts/login/">
	<input id="id_login_username" type="text" name="username" maxlength="30" placeholder="Username" />
	<input id="id_login_password" type="password" name="password" />
	<button type="submit">login</button>
	<input type="hidden" name="next" value="{{ request.path }}" />
	{% csrf_token %}
</form>
<div class="small center"><a href="/accounts/password/reset/">Lost password?</a> | <a href="/accounts/register">Register now!</a></div>
{% endif %}
