{% load inbox wlprofile %}

<!-- Login Block / User informations -->
{% if user.is_authenticated %}
<div class="small posLeft">
	Welcome {{ user|user_link }},<br/>
	you have <a href="{% url messages_inbox %}">0 new messages</a>
</div>
<div class="small posRight">
	<ul>
		<li><a href="{% url notification_notices %}">Notifications</a></li>
		<li><a href="{% url profile_edit %}">Edit Profile</a></li>
		<li><a href="/accounts/logout/next={{ request.path }}">Logout</a></li>
	</ul>
</div>
{% else %}
<!-- TODO: login form here -->
<div class="center">
	<a href="/accounts/login/?next={{ request.path }}">Click here to login</a><br/><br/>
	<a href="/accounts/password/reset/">Lost password?</a><br/>
	<a href="/accounts/register">Register now!</a><br/>
</div>
{% endif %}
