{% extends "base.html" %}

{% comment %}
 vim:ft=htmldjango:

 This site is the main page, the first users will see when
 they reach our homepage

{% endcomment %}

{% load news %}
{% block extra_head %}
<meta name="google-site-verification" content="1A5uFV_zNuXazJ46-572-_lLzcCTEQ77iHaSPFZd53Y" />
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}/css/news.css" />
<link rel="alternate" type="application/rss+xml" title="Widelands News" href="/feeds/news/" />

{{ block.super}}{% endblock %}
{% block content %}
<h1>Welcome to Widelands.org</h1>
<div class="blogEntry" style="min-height: 380px;">
	<img class="landing posRight" src="{{MEDIA_URL}}/img/welcome.png" alt="Welcome!" />
	<p>
	<a href="{% url wiki_article "Description" %}">Widelands</a> is an <a href="{% url wiki_article "TheWidelandsProject" %}">open source</a> real-time strategy game with a singleplayer campaign as well as a multiplayer mode. If you knew Settlers&nbsp;I&nbsp;&amp;&nbsp;II&#8482; (&copy;&nbsp;Bluebyte), then you already have a rough idea what Widelands is all about because it is heavily inspired by those two games. For more information read the full <a href="{% url wiki_article "Description" %}">description</a> and look at some <a href="{% url wlscreens_index %}">screenshots</a>.
	</p>
	<p>
	Widelands is currently (and will always be) under development, but you can play the newest beta build17. <a href="{% url wiki_article "DownloadPage" %}">Download</a> the game for different platforms or read the <a href="/changelog">changelog</a>.
	</p>
	<p>
	You are also invited to visit the <a href="{% url pybb_index %}">Forums</a>: chat with the community about the game, find playing mates for multiplayer, help translating, discuss graphics, music and much more.
	</p>
	<div style="clear: left"></div>
</div>


{% get_latest_posts 3 as latest_posts_list %}
{% if latest_posts_list %}
	<h1>News</h1>
	{% for object in latest_posts_list %}
		{% include "news/inlines/post_detail.html" %} 
	{% endfor %}
	<div class="center"><p><a class="invertedColor" href="{% url news_index %}">News archive</a></p></div>
{% endif %}

{% endblock %}
