{% comment %}
   vim:ft=htmldjango
{% endcomment %}

{% load forum_navigation %}

<script type="text/javascript">
	/* Enable dropdown menus on touch devices */
	$(document).ready(function(){
		$(".menu li").live("touchstart", function() {
			$(this).next("ul").css("display", "block");
		});
	});
</script>

<ul class="menu posLeft">
	<li><a href="/">Home</a>
		<ul>
			<li><a href="{% url 'news_index' %}">News Archive</a></li>
			<li><a href="{% url 'wlpoll_archive' %}">Poll Archive</a></li>
		</ul>
	</li>
	<li><a href="{% url 'wiki_article' "Description" %}">The Game</a>
		<ul>
			<li><a href="{% url 'wiki_article' "Description" %}">Description</a></li>
			<li><a href="{% url 'wiki_article' "Download" %}">Download</a></li>
			<li><a href="{% url 'wlscreens_index' %}">Screenshots</a></li>
			<li><a href="{% url 'wiki_article' "Artwork" %}">Artwork</a></li>
			<li><a href="{% url 'wlmaps_index' %}">Maps</a></li>
			<li><a href="{% url 'wlhelp_index' %}">Encyclopedia</a></li>
			<li><a href="{% url 'changelog' %}">Changelog</a></li>
			<li><a href="{% url 'developers' %}">Widelands Development Team</a></li>
			<li><a href="/wiki/LinksPage/">Links</a></li>
		</ul>
	</li>
	<li><a href="{% url 'wiki_index' %}">Wiki</a>
		<ul>
			<li><a href="{% url 'wiki_article' "Game Manual" %}">Game Manual</a></li>
			<li><a href="{% url 'wiki_article' "Creating Game Content" %}">Creating Game Content</a></li>
			<li><a href="{% url 'wiki_article' "The Widelands Project" %}">The Widelands Project</a></li>
			<li><a href="/wiki/list/">List Of All Pages</a></li>
			<li><a href="/wiki/history/">Recent changes</a></li>
		</ul>
	</li>
	<li><a href="{% url 'pybb_index' %}">Forums</a>
			{% forum_navigation %}
	</li>
	<li><a href="{% url 'webchat_index' %}">Chat</a></li>
	<li><a href="{% url 'wiki_article' "Development" %}">Development</a>
		<ul>
			<li><a href="{% url 'wiki_article' "Contribute" %}">Contribute</a></li>
			<li><a href="{% url 'developers' %}">Widelands Development Team</a></li>
			<li><a href="/docs/wl/" target="_blank">Documentation</a></li>
			<li><a href="https://bugs.launchpad.net/widelands" target="_blank">Widelands Bugtracker</a></li>
			<li><a href="https://bugs.launchpad.net/widelands-website" target="_blank">Website Bugtracker</a></li>
		</ul>
	</li>
</ul>
<div class="searchBox posRight">
	<form method="post" action="/search/">
		<div class="searchBoxInner">
			<input id="id_nav_search" type="text" name="q" class="searchField placeholder" placeholder="Search..." maxlength="200" />
			<!--<input id="id_nav_incl_wiki" type="hidden" name="models" value="wiki" />
			<input id="id_nav_incl_news" type="hidden" name="models" value="news" />
			<input id="id_nav_incl_help" type="hidden" name="models" value="wlhelp" />-->
			<input id="id_nav_incl_forum" type="hidden" name="incl_forum" value="forum" checked />
			<!--<input id="id_nav_incl_forum" type="hidden" name="incl_forum" value="pybb.topic"checked />-->
			<input id="id_nav_incl_maps" type="hidden" name="incl_maps" value="wlmaps.map" checked />
			{% csrf_token %}
		</div>
	</form>
</div>
