{% extends "base.html" %}
{% load wl_markdown %}

{% block title %}Privacy policy {{ cur_lang }} {{ block.super }}{% endblock %}

{% block extra_head %}
{{ block.super}}
<link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}css/wiki.css" />
{% endblock %}

{% block content %}
<h1>Privacy Policy</h1>

<div class="blogEntry">
    {% with languages|length as count %}
    {% if count > 0 %}
    <p>
        This site is also available in:
        {% for lang, slug in languages %}
            {# The if statement has to be directly after the link, otherwise we have unwanted spaces #}
            <a href="{% url 'policy_translated' slug %}">{{ lang }}</a>{% if count > 1  and forloop.revcounter0 == 1 %} and
        {% elif count > 1  and forloop.revcounter0 != 0 %}, {% endif %}
        {% endfor %}
    </p>
    {% endif %}
    {% endwith %}
    
    {{ text|wl_markdown }}
</div>
{% endblock %}
