{% comment %}
 vim:ft=htmldjango:

 This file is included by mainpage and contains all the left menu boxes
 on the site

{% endcomment %}
{% load inbox %}
{% load i18n %}
{% load wlprofile wlpoll %}

      <!-- Search Box -->
      <h3 class="box_title">Search</h3>
      <div class="box_content" align="center">
         <form method="post" action="/search/">
            <input id="id_search" type="text" name="search" maxlength="200" />
            <input id="id_incl_wiki" type="hidden" name="incl_wiki" value="1" />
            <input id="id_incl_news" type="hidden" name="incl_news" value="1" />
            <input id="id_incl_maps" type="hidden" name="incl_maps" value="1" />
            <input id="id_incl_help" type="hidden" name="incl_help" value="1" />
            <input id="id_incl_forum" type="hidden" name="incl_forum" value="1" />
         </form>
      </div>

        <!-- Donation Box -->
         <h3 class="box_title">Donation</h3>
         <div class="box_content" align="center">
            Help us to pay our Server!<br/>(: Consider a donation :) <br/>
            <a href="http://sourceforge.net/donate/index.php?group_id=40163">
               <img src="http://images.sourceforge.net/images/project-support.jpg"
               align="middle" alt="Donation pic" border="0" vspace="5" /> 
            </a>
            <br/>
            <a href="http://sourceforge.net/project/project_donations.php?group_id=40163">Donators</a>
         </div>


         <!-- Login Block / User informations -->
         {% if user.is_authenticated %}
         <h3 class="box_title">Account</h3>
         <div class="box_content" align="center"> 
            <p>
            Your are logged in as<br/>
            <b>{{ user|user_link }}</b>
            </p>
      
            <p>
            <a href="{% url messages_inbox %}">{% inbox_count %} {% trans "new messages" %}</a>
            </p>

            <p>
            <a href="/accounts/logout/next={{request.path}}">Logout</a>
            </p>

         </div>
         {% else %}
         <h3 class="box_title">Login</h3>
         <div class="box_content"> 
            <form method="post" action="/accounts/login/">
               <table cellspacing="0">
                  <tr><td>Username:</td></tr>
                  <tr><td><input type="text" name="username" value="" maxlength="25" /></td></tr>
                  <tr><td>Password:</td></tr>
                  <tr><td><input type="password" name="password" value="" maxlength="32" /></td></tr>
            </table>

            <center><input type="submit" value="login" /></center>
            <input type="hidden" name="next" value="{{ request.path }}" />
         </form>
         <center>
            <a href="/accounts/password/reset/">Lost password?</a><br/><br/>
            <a href="/accounts/register">Register now!</a><br/>
         </center>
         </div>
         {% endif %}
         
         <!-- Current polls if any -->
         {% get_open_polls as polls %}
         {% if polls.count %}
         <h3 class="box_title">Polls</h3>
         <div class="box_content" align="center">
         {% for p in polls %}
         <form method="post" action="{% url wlpoll_vote p.id %}">
            <h4>{{p.name}}</h4>
            <table class="poll_vote">
               {% for c in p.choices.all %}
               <tr>
                  <td><input type="radio" name="choice_id" value="{{ c.id }}" /></td>
                  <td>{{ c.choice }}</td>
               </tr>
               {% endfor %}
            </table>
               <input type="submit" value="Vote" />
               <input type="button" value="Results" onclick="location='{% url wlpoll_detail p.id %}'" />
            </form>
         {% endfor %}
         <br/>
            <a href="{% url wlpoll_archive %}">Archive</a>
         </div>
         {%endif %}

         <!-- Hosting by SF.net block --> 
         <h3 class="box_title">Hosted by</h3>
         <div class="box_content" align="center"> 
            <a href="http://sourceforge.net/projects/widelands"><img src="http://sflogo.sourceforge.net/sflogo.php?group_id=40163&amp;type=15" 
               width="150" height="40" border="0" alt="Get Widelands at SourceForge.net. Fast, secure and Free Open Source software downloads" align="middle"/>
            </a>
         </div>

         <!-- Logged in users -->
         {%load online_users %}
         <h3 class="box_title">Currently online</h3>
         <div class="box_content"> 
             {% online_users 10 %}
         </div>
         


