{% comment %}
 vim:ft=htmldjango:

 This file is included by mainpage and contains all the left menu boxes
 on the site

{% endcomment %}
{% load wlblock %}

      <td id="rightcolumn">
         {% if user.is_authenticated %}
            {% wlblock "Account" %}
            Your are logged in as<br/>
            <center>
               <b>{{ user.username }}</b><br/>
               <a href="/accounts/logout/next={{request.path}}">Logout</a>
            </center>
            {% endwlblock %}
         {% else %}
            {% wlblock "Login" %}
               <form method="post" action="/accounts/login/">
               <table cellspacing="0">
                  <tr><td>Username:</td></tr>
                  <tr><td><input type="text" name="username" value="" maxlength="25" /></td></tr>
               </tr>
               <tr>
                  <tr><td>Password:</td></tr>
                  <tr><td><input type="password" name="password" value="" maxlength="32" /></td></tr>
               </tr>
               </table>
               
               <center><input type="submit" value="login" /></center>
               <input type="hidden" name="next" value="{{ request.path }}" />
               </form>
            {% endwlblock %}
         {% endif %}
      </td>
