{% comment %}
  vim:ft=htmldjango:
{% endcomment %}
{% load humanize %}
{% load pybb_extras %}
{% load wlprofile_extras %}
{% load custom_date %}
{% load static %}

    <tr>
      <td class="even" align="center" valign="middle">
         {% if forum|pybb_has_unreads:user %}
         <img src="{% static 'forum/img/folder_new_big.png' %}" style="width: 48px; height:48px; margin: 0px;" alt="" align="middle" />
         {% else %}
         <img src="{% static 'forum/img/folder_big.png' %}" style="width: 48px; height:48px; margin: 0px;" alt="" align="middle" />
         {% endif %}
      </td>
      <td class="odd">
         <div class="index_forum">
            <span class="item">
               <a href="{{ forum.get_absolute_url }}">{{ forum.name }}</a>
               <br />
               {{ forum.description }} 
            </span>
         </div>
      </td>
      <td class="even" align="center" valign="middle">{{ forum.topics.count }} </td>
      <td class="odd" align="center" valign="middle">{{ forum.posts.count }}</td>
      <td class="even" align="right" valign="middle">
         {%if forum.last_post %}
         {{ forum.last_post.created|custom_date:user}}
         <br />
         by {{ forum.last_post.user|user_link }}
         in <br />
         <a href="{{forum.last_post.get_absolute_url}}">{{ forum.last_post.topic.name }}</a>
         <br />
         {% endif %}
      </td>
   </tr>

