{% extends "messages/base.html" %} 
{% load i18n %} 

{% block title %}
Inbox - {{ block.super }}
{% endblock %}

{% block content %}
   {% include "messages/inlines/navigation.html" %}

    <h1>{% trans "Inbox" %}</h1>
    <table class="messages" cellspacing="1">
        <thead>
            <tr>
                <th>{% trans "Sender" %}</th>
                <th>{% trans "Subject" %}</th>
                <th>{% trans "Received" %}</th>
                <th>{% trans "Action" %}</th>
            </tr>
        </thead>
        <tbody>
    {% for message in message_list %} 
      {% include "messages/inlines/message_row.html" %}
    {% endfor %}
        </tbody>
    </table>
{% endblock %}
