table.maps {
	border-collapse: collapse;
}

img.minimap {
	max-height: 250px;
}

img.map {
	margin: 10px 10px 10px 0px;
}

.maps table td{
	padding: 2px;
}

.maps td {
	vertical-align: top;
	padding: 8px;
}

.maps .spacer {
	width: 15px;
}

p {
	vertical-align: top;
}

textarea {
	width: 97%;
}

.errorlist {
	color: #ff0000;
	margin: 0;
}

.maps-filter input, .maps-filter select {
	width: 100%;
}

td.field {
	width: 180px;
}

td.field > div {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

#id_h_0, #id_w_0, #id_nr_players_0,
#id_h_1, #id_w_1, #id_nr_players_1 {
	width: 80px;
}
