{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load static %}

{% block content_header %}
    <h1>Category: {{category.name}}</h1>
{% endblock %}

{% block content_main %}
<div class="blogEntry">
	<a href="{% url 'pybb_index' %}">Forums</a> &#187; {{category.name}}
	<br /><br />
	{% include 'pybb/inlines/display_category.html' %}
</div>

<div class="center green">
	<img src="{% static 'forum/img/folder_big_work_star.png' %}" style="width: 48px; height:48px; margin: 0px;" alt="" class="middle" />
	= Unread posts
	<img src="{% static 'forum/img/folder_big_work.png' %}" style="width: 48px; height:48px; margin: 0px;" alt="" class="middle" /> 
	= No unread posts
</div>
{% endblock %}
