{% extends 'pybb/base.html' %}
{% load i18n %}

{% block title %}
Delete post - {{ block.super }}
{% endblock %}

{% block content %}
{% include "django_messages/inlines/navigation.html" %}
<br />
<br />
<div class="box_item_model fixed_site border">
    <h3 class="title">{% trans "Are you sure you want to delete this message?" %}</h3>
    <div class="even">
        <p class="post-preview">
    {{ post.body_html|safe }}
        </p>
    </div>
    <form method="post">
        <div class="info_line">
            <input type="submit" value="{% trans "Yes, I am sure." %}" />
        </div>
        {% csrf_token %}
    </form>
</div>
{% endblock %}
