{% extends 'pybb/base.html' %}
{% load i18n %}

{% block title %}
{% trans "Delete Post" %} - {{ block.super }}
{% endblock %}

{% block content %}
<h1>{% trans "Delete Post" %}</h1>
<div class="blogEntry">
	<h3>{% trans "Are you sure you want to delete this message?" %}</h3>
	<div class="preview-box">
		<div class="content post">
		{{ post.body_html|safe }}
		</div>
	</div>
	<form method="post">
		<div class="info_line">
			<input type="submit" value="{% trans "Yes, I am sure." %}" />
			<input type="button" value="{% trans "Cancel" %}" onclick="history.back();" />
		</div>
		{% csrf_token %}
	</form>
</div>
{% endblock %}
