{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load i18n %}

{% block title %}
{% trans "Edit Reply" %} - {{ block.super }}
{% endblock %}

{% block extra_head %}
{{ block.super }}
<script type="text/javascript" src="{{ MEDIA_URL }}js/disableOnSubmit.js"></script>
<script type="text/javascript">
	$(function() {
		$('form').disableOnSubmit();
		$('.post-form .preview-button').click(function() {
			var raw_content = $.trim($('.post-form #id_body').val());
			var markup = $('.post-form #id_markup').val();

			args = {'content': raw_content, 'markup': markup}
			$.post('{% url pybb_post_ajax_preview %}', args, function(data) {
				if (data.error) {
					alert(data.error);
				} else {
					$('.preview-box .content').html(data.content);
					$('.preview-box').show();
				}
			}, 'json');
		});
	});
</script>
{% endblock %}

{% block content %}
<form class="post-form" action="{{ form_url }}" method="post" enctype="multipart/form-data">
	<h1>{% trans "Edit Reply" %}</h1>

	<div class="blogEntry">
		<a href="{% url pybb_index %}">Forums</a> &#187;
		{% pybb_link post.topic.forum.category %} &#187; 
		<a href="{{ post.topic.forum.get_absolute_url }}">{{ post.topic.forum.name }}</a> &#187;
		{{ post.topic }}
		<br /><br />
		<div class="preview-box" style="display: none">
			{% trans "Preview" %}:<br />
			<div class="content post">
			</div>
			<br />
		</div>
		
		<div class="posRight">
			<a href="/wiki/WikiSyntax" title="Opens new Tab/Window" target="_blank">
				<img src="{{ MEDIA_URL }}img/menu_help.png" alt="Help on Syntax" class="middle">
				Help on Syntax
			</a>
		</div>
		
		{{ form.as_p }}
		{% csrf_token %}
		<button type="submit">
			<img src="{{ MEDIA_URL }}forum/img/send.png" alt ="" class="middle" />
			<span class="middle">{% trans "Send" %}</span>
		</button>
		<button type="button" class="preview-button">
			<img src="{{ MEDIA_URL }}forum/img/preview.png" alt ="" class="middle" />
			<span class="middle">{% trans "Preview" %}</span>
		</button>
	</div>
</form>
{% endblock %}
