{% extends 'pybb/base.html' %}
{% load pybb_extras %}
{% load pybb_extras %}

{% block content %}
  {% for category in cats %}
    {% include 'pybb/inlines/display_category.html' %}
  {% endfor %}

<table class="legend">
  <tr>
     <td>
        <img src="{{MEDIA_URL}}/forum/img/folder_new_big.png" style="width: 48px; height:48px; margin: 0px;" alt="" align="middle" />
     </td>
     <td>= Unread posts</td>
     <td>
         <img src="{{MEDIA_URL}}/forum/img/folder_big.png" style="width: 48px; height:48px; margin: 0px;" alt="" align="middle" /> 
     </td><td>= No unread posts</td>
  </tr>
  {% comment %}
  <tr>
      <td>
          <img src="{{MEDIA_URL}}/forum/img/folder_locked_big.png" style="width: 48px; height:48px; margin: 0px;" alt="" align="middle" />
      </td><td>= Locked topic</td>
      <td>
          <img src="{{MEDIA_URL}}/forum/img/folder_new_locked_big.png" style="width: 48px; height:48px; margin: 0px;" alt="" align="middle" />
      </td><td>= Unread posts in locked topic</td>
  </tr>
  {% endcomment %}
</table>

{% endblock %}

