{% extends 'pybb/base.html' %}
{% load pybb_extras %}

{% block content_header %}
    <h1>Forums</h1>
{% endblock %}

{% block content_main %}
{% for category in cats %}
<div class="blogEntry">
	<h3><a href="{{category.get_absolute_url}}" class="invertedColor">{{category.name}}</a></h3>
	{% include 'pybb/inlines/display_category.html' %}
</div>
{% endfor %}

<div class="center green">
	<img src="{{ MEDIA_URL }}forum/img/folder_big_work_star.png" style="width: 48px; height:48px; margin: 0px;" alt="" class="middle" />
	= Unread posts
	<img src="{{ MEDIA_URL }}forum/img/folder_big_work.png" style="width: 48px; height:48px; margin: 0px;" alt="" class="middle" /> 
	= No unread posts
</div>

  {% comment %}
<table class="legend">
  <tr>
     <td>
        <img src="{{ MEDIA_URL }}forum/img/folder_new_big.png" style="width: 48px; height:48px; margin: 0px;" alt="" align="middle" />
     </td>
     <td>= Unread posts</td>
     <td>
         <img src="{{ MEDIA_URL }}forum/img/folder_big.png" style="width: 48px; height:48px; margin: 0px;" alt="" align="middle" /> 
     </td><td>= No unread posts</td>
  </tr>

  <tr>
      <td>
          <img src="{{ MEDIA_URL }}forum/img/folder_locked_big.png" style="width: 48px; height:48px; margin: 0px;" alt="" align="middle" />
      </td><td>= Locked topic</td>
      <td>
          <img src="{{ MEDIA_URL }}forum/img/folder_new_locked_big.png" style="width: 48px; height:48px; margin: 0px;" alt="" align="middle" />
      </td><td>= Unread posts in locked topic</td>
  </tr>
</table>
  {% endcomment %}

{% endblock %}
