{% load i18n %} 
{% load wlprofile_extras %} 
{% load custom_date %} 
{% load pybb_extras %}

{% if posts %}
<div class="columnModule">
	<h3>Latest Posts</h3>
	<div class="columnModuleBox">
		<ul>
			{% for post in posts %}
				{% if not post.hided %}
				<li>
					{{ post.topic.forum.name }}<br />
					<a href="{{ post.get_absolute_url }}" title="{{ post.topic.name }}">{{ post.topic.name|pybb_cut_string:30 }}</a><br />
					by <a href="{% url 'profile_view' post.user %}">{{post.user.username}}</a> {{ post.created|minutes }} ago
				</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
