/*++++++++++++++++++*/
/*   Forum pages    */
/*------------------*/
/*  Effects to all  */
/*   forum pages    */
/*++++++++++++++++++*/

/********************/
/* Base Forum table */
/********************/

.forum {
	border: none;
	border-collapse: collapse;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 1em;
}

.forum tr {
	border: 1px solid black;
}

.forum thead tr {
	border: none;
}

.forum th {
	font-weight: normal;
}

.forum td {
	vertical-align: middle;
	padding: 0.5em;
}

/********************/
/* Forums overviews */
/********************/

.forumIcon {
	width: 4.5em;
}

.forumIcon img {
	padding: 0px;
}

.forumTitle {
	width: 40%;
	text-align: left;
}

.forumCount {
	width: 8em;
}

.lastPost {
	text-align: right;
}

/******************/
/* Topic specific */
/******************/

tr.spacer {
	height: 1em;
	border: none;
}

/******************/
/* Author colummn */
/******************/

.forum .author {
	width: 9em;
	text-align: center;
	border-right: 1px solid black;
	vertical-align: top;
	overflow-wrap: anywhere;
}

.authorStats {
	text-align: left;
	font-size: 0.7em;
	line-height: 1.1em;
}

/*****************/
/*  Post colummn */
/*****************/

a.permalink {
	width: 16px;
	height: 20px;
	background-image: url("../forum/img/permalink.png");
}

a.permalink:hover {
	background-image: url("../forum/img/permalink_hover.png");
}

.forum .post {
	vertical-align: top;
}

div.blogEntry .post p {
	margin-bottom: 0.5em;
}

.post blockquote {
	background-image: url("../forum/img/quote.png");
	background-repeat: no-repeat;
	background-position: 4px 4px;
	border: 1px solid black;
	padding: 4px;
	padding-left: 28px;
	margin: 4px;
}

.post table {
	margin-bottom: 1em;
	border-collapse: collapse;
}

.post th {
	padding: 0 1em 0 1em;
	border: 1px solid #474444;
}

.post td {
	padding: 0 1em 0 1em;
	border: 1px solid #474444;
}

/*********************************/
/*  Signature and post recations */
/*********************************/

.post .signature {
    display: flex;
}

.post .signature .reaction {
    margin-left: auto;
}

.post .reactionIcon {
    display: inline-block;
    background-image: url('../img/reaction_sprite.png');
    width: 17px;
    height:17px;
}

.post .signature ul {
    list-style-type: none;
    display: inline-block;
    margin-left: 1em;
    padding: 0;
    border-radius: 0px;
}

.post .signature ul.reactionButtons  {
    display: none;
    position: absolute;
    background-color: black;
    margin-left: -10em;  /* overwritten for big viewports */
}

.post .signature ul li:hover ul.reactionButtons {
     display: flex;
     flex-direction: column;
}

.post .signature ul li ul.reactionButtons li button:hover {
     background-color: #646464;
}

.post .signature ul ul.reactionButtons li button {
     display: flex;
     justify-content: space-between;
     font-size: 1em;
     width: 13em;
     border-radius: 0px;
}

.post .signature .reactionList:hover .reactionUsers{
    display: flex;
    flex-flow: wrap;
}

.post .signature .reactionList {
    cursor: none;
}

.post .signature .reactionUsers {
    display: None;
    position: absolute;
    margin-top: 2em;
    background-image: url("../img/wood.png");
    padding: 2px 0.5em 2px 0.5em;
    margin-left: -1em;
    border: 1px solid black;
    border-radius: 4px;
    max-width: 14em;
    overflow: clip;
}

/*****************/
/* Edit/add Post */
/*   related     */
/*****************/

.preview-box .content {
	background-image: url("../img/black50.png");
	border: 1px solid black;
	padding: 4px;
	width: 98%;
}

.post-form #id_body {
   width: 100%;
   height: auto; /* Höhe automatisch anpassen */
   resize: none; /* Größenänderung durch den Benutzer verhindern */
   overflow: hidden; /* Scrollbalken ausblenden */
}

@media screen and (min-width: 65em) {
    .post .signature ul.reactionButtons  {
        margin-left: -1em;
    }
}
