from django.conf.urls import *
from django.conf import settings
from django.views.static import serve
from os import path

# Don't use this file on the server!

local_urlpatterns = [
   # Files uploaded by users   
   url(r'^wlmedia/(?P<path>.*)$',
       serve,
       {'document_root': settings.MEDIA_ROOT},
       name='static_media'),
   # Static files if DEBUG=False. Use the 'collectstatic' command to fetch them
   url(r'^static/(?P<path>.*)$',
       serve,
       {'document_root': settings.STATIC_ROOT},
       name='static_media_collected'),
   # HTML documentation created by ./manage.py create_docs
   url(r'^documentation/(?P<path>.*)$',
       serve,
       {'document_root': path.join(
         settings.MEDIA_ROOT, 'documentation/html')},
       name='documentation')
]

