<!DOCTYPE html>
{% comment %}
vim:ft=htmldjango:

This file is extended by all other files which are not
included here
{% endcomment %}
{% load static %}
<html lang="en">

<head>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>

    <!-- Google Webmaster Site Verification token -->
    <meta name="google-site-verification"
          content="1A5uFV_zNuXazJ46-572-_lLzcCTEQ77iHaSPFZd53Y"/>

    <title>{% block title %}Widelands.org{% endblock %}</title>
    <link href="{% static 'favicon.ico' %}" rel="icon"/>

    <!--  CSS -->
    <link rel="stylesheet" type="text/css" media="all"
          href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="{% static 'css/navigation.css' %}"/>
    <!--[if lt IE 9]>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base_ielt9.css' %}"/>
    <![endif]-->

    <!-- Javascript Bread & Butter Scripts -->
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery_csrf_ajax.js' %}"></script>
    {% block extra_head %}{% endblock %}
</head>

<body>
<a id="top"></a>
<header>
    <!-- logo with links to screenshot | maps and so on -->
    {% include "mainpage/header.html" %}
</header>
<nav>
    <!-- navigation -->
    {% include "mainpage/navigation.html" %}
</nav>

<header>
    <!-- the header of each section in article -->
    {% block content_header %}
    {% endblock %}
</header>

<main>
    <!-- main is the flex container for all below the navigation bar -->
    <!-- flex-direction: row -->
    <article>
        <!-- article is the flex container for all on the left side -->
        <!-- flex-direction: column -->

        <!--{% block content_tabbing %}-->
        <!-- used to display tabs on pages. For tabs which point to
             other pages, use it in base.html of the main page -->
        <!--{% endblock %}-->

        {% block content_main %}
        <!-- each entry in article is a section -->
        {% endblock %}
    </article>
    <aside>
        <!-- aside is the container for all on the right side -->
        {% include "mainpage/right_boxes.html" %}
    </aside>
</main>
<!--</div>-->
<!--<div class="clear"></div>-->

<!-- Footer -->
<footer>
    {% include "mainpage/footer.html" %}
</footer>


</body>
</html>
