{% load wlprofile_extras %}
{% load wl_extras %}
{% load static %}

<div id="logo">
	<a href="{% url 'mainpage' %}"><img src=
	"{% static 'img/'%}{% wl_logo %}" alt=
	"Widelands Logo"></a>
</div>
<ul class="header_boxes">
    <li class="small">
        <a href="{% url 'wlscreens_index' %}" title="Screenshots">Screenshots<br />
        <img src="{% static '/img/camera.png' %}" alt="Screenshots" />
        </a>
    </li>
	<li class="small">
		<a href="{% url 'wiki_article' "Download" %}" title="Download">Download<br />
		<img src="{% static '/img/download.png' %}" alt="Get Widelands" />
		</a>
	</li>
	<li class="small">
		<a href="{% url 'wlmaps_index' %}" title="Get new maps">Maps<br />
		<img src="{% static 'img/maps.png' %}" alt="Get Free Maps" />
		</a>
	</li>
	<li class="small">
		<p>Social Media</p>
		<a href="https://www.facebook.com/WidelandsOfficial" target="_blank">
			<img src="{% static 'img/socialmedia/facebook.png' %}" alt="Facebook" />
		</a>
	</li>
	<li class="loginBox small">
		{% if user.is_authenticated %}
			<!-- Logged in -->
			<a href="{% url 'profile_view' %}" title="Your Profile">Profile</a> |
			{% if messages_inbox_count %}
				<a href="{% url 'messages_inbox' %}" title="New Messages">Messages ({{ messages_inbox_count }})</a>
			{% else %}			
				<a href="{% url 'messages_inbox' %}" title="Show Inbox">Messages</a>
			{% endif %}
			<br />
			<a href="{% url 'rating_main' %}" title="Rating score">Rating</a>  | <a href="{% url 'scheduling_main' %}" title="Playtime Scheduler">Scheduler</a> 
			<br />
			<a href="{% url 'logout' %}?next=/">Logout</a>
		{% else %}
			<!-- Not logged in -->
			<a href="{% url 'login' %}?next={{ request.get_full_path|urlencode }}">Login/Register</a>
		{% endif %}
	</li>
</ul>
