{% comment %}
   vim:ft=htmldjango:
{% endcomment %}

{% load i18n %}
{% load pybb_extras %}
{% load wlprofile_extras %}
{% load custom_date %}
{% load static %}

<td class="author">
	{{ post.user|user_link }}<br />
	{% if post.user.wlprofile.avatar %}
		{% if post.user.wlprofile.deleted %}
			<img src="{{ post.user.wlprofile.avatar.url }}" alt="Avatar" />
		{% else %}
			<a href="{% url 'profile_view' post.user %}">
				<img src="{{ post.user.wlprofile.avatar.url }}" alt="Avatar" />
			</a>
		{% endif %}
	{% endif %}
	<br />
	{% if topic.user == post.user %}
	<a href="{{ topic.get_absolute_url }}" title="Switch to first post">Topic Opener</a>
	{% endif %}
	<div class="authorStats">
	<strong>Joined:</strong> {{ post.user.date_joined|custom_date:user|title }}<br />
	<strong>Posts:</strong> {{ post.user.wlprofile.post_count }}<br />
	{% if post.user.wlprofile.operating_system %}
	<strong>OS:</strong> {{ post.user.wlprofile.operating_system }}<br />
	{% endif %}
	{% if post.user.wlprofile.widelands_version %}
	<strong>Version:</strong> {{ post.user.wlprofile.widelands_version }}<br />
	{% endif %}
	<img src="{% static 'img/'%}{{ post.user.wlprofile.user_status.image }}" alt="Ranking" /><br />
	<strong>{{ post.user.wlprofile.user_status.text }}</strong><br />
	{% if post.user.wlprofile.location %}
	<strong>Location:</strong> {{ post.user.wlprofile.location }}
	{% endif %}
	</div>
</td>
<td class="post">
	<a id="post-{{ post.id }}" href="{{post.get_absolute_url}}" title="{% trans "Permalink" %}" class="posRight small permalink">&nbsp;</a>
	<span class="small">Posted at: {{ post.created|custom_date:user}}</span>
	<hr />
		{{ post.body_html|safe }}

	{% if post.updated %}
		<div class="small">{% trans "Edited" %}: {{ post.updated|custom_date:user|title}}</div>
	{% endif %}

    {% include 'pybb/inlines/attachment.html' %}

	<hr />
	{% if user.is_authenticated %}
		{% if user.wlprofile.show_signatures %}
			{% if post.user.wlprofile.signature %}
				{{ post.user.wlprofile.signature|urlize|linebreaks }}
			{% endif %}
		{% endif %}
	{% else %}
		{% if post.user.wlprofile.signature %}
			{{ post.user.wlprofile.signature|urlize|linebreaks }}
		{% endif %}
	{% endif %}
	<a class="button posRight" href="#top">
		<img src="{% static 'forum/img/top.png' %}" alt ="" class="middle" />
		<span class="middle">{% trans "Top" %}</span>
	</a>

	<a class="button" href="{% url 'pybb_add_post' topic.id %}?quote_id={{ post.id }}">
		<img src="{% static 'forum/img/quote.png' %}" alt ="" class="middle" />
		<span class="middle">{% trans "Quote" %}</span>
	</a>

	{% if post|pybb_editable_by:user %}
		<a class="button" href="{% url 'pybb_edit_post' post.id %}">
			<img src="{% static 'forum/img/edit.png' %}" alt ="" class="middle" />
			<span class="middle">{% trans "Edit" %}</span>
		</a>

		{% if user_is_mod or post|pybb_equal_to:last_post %}
		<a class="button" href="{% url 'pybb_delete_post' post.id %}">
			<img src="{% static 'forum/img/delete.png' %}" alt ="" class="middle" />
			<span class="middle">{% trans "Delete" %}</span>
		</a>
		{% endif %}
	{% endif %}
</td>
