{% comment %}
   vim:ft=htmldjango:
{% endcomment %}

{% load i18n %}
{% load pybb_extras %}
{% load wlprofile_extras %}
{% load custom_date %}
{% load static %}

<td class="author">
	{{ post.user|user_link }}<br />
	{% if post.user.wlprofile.avatar %}
		{% if post.user.wlprofile.deleted %}
			<img src="{{ post.user.wlprofile.avatar.url }}" alt="Avatar" />
		{% else %}
			<a href="{% url 'profile_view' post.user %}">
				<img src="{{ post.user.wlprofile.avatar.url }}" alt="Avatar" />
			</a>
		{% endif %}
	{% endif %}
	<br />
	{% if topic.user == post.user %}
		<a href="{{ topic.get_absolute_url }}" title="Switch to first post">Topic Opener</a>
	{% endif %}
	<div class="authorStats">
		<strong>Joined:</strong>
        {% with post.user.date_joined as date %}
            {% include 'wlprofile/inlines/date.html' %}
        {% endwith %}
        <br />
		<strong>Posts:</strong> {{ post.user.wlprofile.post_count }}<br />
		{% if post.user.wlprofile.operating_system %}
		<strong>OS:</strong> {{ post.user.wlprofile.operating_system }}<br />
	{% endif %}
	{% if post.user.wlprofile.widelands_version %}
		<strong>Version:</strong> {{ post.user.wlprofile.widelands_version }}<br />
	{% endif %}
		<img src="{% static 'img/'%}{{ post.user.wlprofile.user_status.image }}" alt="Ranking" /><br />
		<strong>{{ post.user.wlprofile.user_status.text }}</strong><br />
	{% if post.user.wlprofile.location %}
		<strong>Location:</strong> {{ post.user.wlprofile.location }}
	{% endif %}
	</div>
</td>
<td class="post">
	{% if post.hidden %}
		<p class="errormessage">Moderator info: This post is hidden.
			You can delete it right here. More options are available at
			<a href="{{ site }}/admin/check_input/suspiciousinput/">the admin page for suspicious inputs.</a>
		</p>
	{% endif %}

	<a id="post-{{ post.id }}" href="{{post.get_absolute_url}}" title="{% trans "Permalink" %}" class="posRight small permalink">&nbsp;</a>
    <span class="small">
        Posted at:
        {% with post.created as date %}
            {% include 'wlprofile/inlines/date.html' %}
        {% endwith %}
    </span>

	<hr />

	{{ post.body_html|safe }}

	{% if post.updated %}
        <div class="small">
            {% trans "Edited" %}:
            {% with post.updated as date %}
                {% include 'wlprofile/inlines/date.html' %}
            {% endwith %}
        </div>
	{% endif %}

    {% include 'pybb/inlines/attachment.html' %}

	<hr />
    <!-- Signature -->
    <div class="signature">
	{% if user.is_authenticated %}
		{% if user.wlprofile.show_signatures %}
			{% if post.user.wlprofile.signature %}
				{{ post.user.wlprofile.signature|urlize|linebreaks }}
			{% endif %}
		{% endif %}
	{% else %}
		{% if post.user.wlprofile.signature %}
			{{ post.user.wlprofile.signature|urlize|linebreaks }}
		{% endif %}
	{% endif %}
    <div class="reaction">
        {% for img_pos, count in post.get_reactions.items %}
            <span class="reactionList" style="background-position: -{{ img_pos }}px 0; width: 17px; height: 17px"></span> {{ count }}
        {% endfor %}

        {% if user.is_authenticated and post.user != user %}
        <ul>
            <li>React on this Post
                <ul class="reactionButtons">
                    {% for choice in reaction_choices %}
                        <li>
                            <a href=""><span class="reactionList" style="background-position: -{{ choice.0 }}px 0; width: 17px; height: 17px"></span> {{ choice.1 }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
        {% endif %}
    </div>
    </div>
    <!-- Buttons -->
	<a class="button posRight" href="#top">
		<img src="{% static 'forum/img/top.png' %}" alt ="" class="middle" />
		<span class="middle">{% trans "Top" %}</span>
	</a>

	<a class="button" href="{% url 'pybb_add_post' topic.id %}?quote_id={{ post.id }}">
		<img src="{% static 'forum/img/quote.png' %}" alt ="" class="middle" />
		<span class="middle">{% trans "Quote" %}</span>
	</a>

	{% if post|pybb_editable_by:user %}
		<a class="button" href="{% url 'pybb_edit_post' post.id %}">
			<img src="{% static 'forum/img/edit.png' %}" alt ="" class="middle" />
			<span class="middle">{% trans "Edit" %}</span>
		</a>

		{% if user_is_mod or post|pybb_equal_to:last_post %}
		<a class="button" href="{% url 'pybb_delete_post' post.id %}">
			<img src="{% static 'forum/img/delete.png' %}" alt ="" class="middle" />
			<span class="middle">{% trans "Delete" %}</span>
		</a>
		{% endif %}
	{% endif %}
</td>
