{% comment %}
   vim:ft=htmldjango
{% endcomment %}
{% load i18n %}  
{% load custom_date %}

   <tr class="message {% cycle "odd" "even" %}">
       {% ifequal message.sender user %}
      <td>{{ message.recipient }}</td>
       {%else %}
      <td>{{ message.sender }}</td>
       {%endifequal %}
      <td>
          {% if message.new %}<u>{% endif %}
          {% if message.replied %}<em>{% endif %}
          <a href="{{message.get_absolute_url }}">{{ message.subject }}</a>
          {% if message.replied %}</em>{% endif %}
          {% if message.new %}</u>{% endif %}
      </td>
      <td>{{ message.sent_at|custom_date:user }}</td>
      <td><a href="{% url django_messages.views.delete' message.id %}">{% trans "delete" %}</a></td>
   </tr>
