{% comment %}
   vim:ft=htmldjango
{% endcomment %}
{% load i18n %}
{% load custom_date %}

   <tr class="message {% cycle "odd" "even" %}">
       {% if message.sender == user %}
      <td>{{ message.recipient }}</td>
       {%else %}
      <td>{{ message.sender }}</td>
       {%endif %}
      <td>
          {% if message.new %}<u>{% endif %}
          {% if message.replied %}<em>{% endif %}
          <a href="{{message.get_absolute_url }}">{{ message.subject }}</a>
          {% if message.replied %}</em>{% endif %}
          {% if message.new %}</u>{% endif %}
      </td>
      <td>
          {% with message.sent_at as date %}
            {% include 'wlprofile/inlines/date.html' %}
          {% endwith %}
      </td>
      <td><a href="{% url 'django_messages.views.delete' message.id %}">{% trans "delete" %}</a></td>
   </tr>
