{% load i18n %} 

<div>
   <table width="100%">
   <tr>
      <td align="left">
          <a href="{% url profile_view %} ">{% trans "Profile" %}</a>
              {% ifequal user profile.user %}
              | <a href="{% url notification_notices %} ">{% trans "Notifications" %}</a>
              {% endifequal %}
              | <a href="{% url wlggz_userstats %} ">{% trans "GGZ Stats" %}</a>
      </td>
      <td align="right" style="table-layout: fixed;">
         <a href="{% url messages_inbox %} ">{% trans "Inbox" %}</a>
         | <a href="{% url messages_outbox %} ">{% trans "Sent Messages" %}</a>
         | <a href="{% url messages_compose %} ">{% trans "New Message" %}</a>
         | <a href="{% url messages_trash %} ">{% trans "Message Trash" %}</a>
      </td>
   </tr>
   </table>
</div>

