{% extends "base.html" %}

{% load i18n %}

{% block title %}
{% trans "Set Online Gaming Password" %} - {{ block.super }}
{% endblock %}

{% block content_main %}
<h1>{% trans "Set Online Gaming Password" %}</h1>
<div class="blogEntry">    
	<form method="post" enctype="multipart/form-data">
		<table>
		{% for field in ggz_form %}
			<tr>
				<td class="grey">{{ field.label_tag }}:</td>
				<td>{{ field }}</td>
				<td class="errormessage">{{ field.errors }}</td>
			</tr>
		{% endfor %}
		</table>
		<input type="submit" value="{% trans "Save" %}" />
		{% csrf_token %}
	</form>
</div>
{% endblock %}
