{% extends "wlggz/base.html" %}

{% load i18n %}

{% block content %}
{% load custom_date %}
{% load wlprofile %}

{% include "django_messages/inlines/navigation.html" %}

<br />
<br />

<div class="ggz_item">
    <h3 class="title">Last 10 matches</h3>
    <table width="100%" cellspacing="1" class="text">
        <tr>
            <td class="ggz_date">Date</td>
            <td class="ggz_winner">Winner</td>
            <td class="ggz_vs">Participants</td>
        </tr>
        {% for match in ggzmatches %}
        <tr>
            <td class="{% cycle "odd" "even" %}">{{ match.date_date }}</td>
            <td class="{% cycle "odd" "even" %}">{{ match.winner|user_link_ggz }}</td>
            <td class="{% cycle "odd" "even" %}">
            {% for player in match.wlggz_matchplayers.all %}
                {{ player.handle|user_link_ggz }}
            {% endfor %}
            </td>
        </tr>
        {% empty %}
        <tr>
            <td class="even error"colspan="3">
                <br />
                <b>Sorry, no matches yet</b>
                <br />
                <br />
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
