{% extends "wlggz/base.html" %}

{% load i18n %}

{% block content %}
{% load custom_date %}
{% load wlprofile %}

{% include "django_messages/inlines/navigation.html" %}

<br />
<br />

{% if ggzauth.user %}
    <div class="box_item_model fixed_site border">
        <h3 class="title">{% trans "GGZ results for" %} {{ ggzauth.user.username }}</h3>
        <table class="info_line full_site">
            <tr><td class="ggz_stats">Last ggz login:</td><td class="show_left"> {{ ggzauth.lastlogin }}</td></tr>
            <tr><td class="ggz_stats">Ranking:</td><td class="show_left"> {{ ggzstats.ranking }}</td></tr>
            <tr><td class="ggz_stats">Rating:</td><td class="show_left"> {{ ggzstats.rating|floatformat }}</td></tr>
            <tr><td class="ggz_stats">wins:</td><td class="show_left"> {{ ggzstats.wins }}</td></tr>
            <tr><td class="ggz_stats">losses:</td><td class="show_left"> {{ ggzstats.losses }}</td></tr>
        </table>
    </div>
    <br />
    <br />

    <div class="box_item_model fixed_site border">
        <h3 class="title">Last 10 matches of {{ ggzauth.user.username }}</h3>
        {% if ggzmatches %}
	    <table width="100%" cellspacing="1" class="text">
            <tr>
                <td class="ggz_date">Date</td>
                <td class="ggz_winner">Winner</td>
                <td class="ggz_vs">Participants</td>
            </tr>
            {% for match in ggzmatches %}
            <tr>
                <td class="{% cycle "odd" "even" %}">{{ match.match.date_date  }}</td>
                <td class="{% cycle "odd" "even" %}">
                    {% if match.match.winner %}
                        {{ match.match.winner_as_userlink }}
                    {% endif %}
                </td>
                <td class="{% cycle "odd" "even" %}">
                    {% for player in match.match.wlggz_matchplayers.all %}
                        {{ player.handle_as_userlink }} 
                    {% endfor %}
                </td class="{% cycle "odd" "even" %}">
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <div class="info_line show_center">
            <br />
            <b>User has not participated in any matches</b>
            <br />
            <br />
        </div>
        {% endif %}
    </div>
    <br />
    <br />
    <div class="box_item_model fixed_site border">
        <h3 class="title">Last 10 matches {{ ggzauth.user.username }} won</h3>
        {% if ggzwonmatches %}
        <table cellspacing="1" class="text full_site">
            <tr>
                <td class="ggz_date">Date</td>
                <td class="ggz_winner">Winner</td>
                <td class="ggz_vs">Participants</td>
            </tr>
            {% for match in ggzwonmatches %}
            <tr>
                <td class="{% cycle "odd" "even" %}">{{ match.date_date  }}</td>
                <td class="{% cycle "odd" "even" %}">{{ match.winner_as_userlink }}</td>
                <td class="{% cycle "odd" "even" %}">
                    {% for player in match.wlggz_matchplayers.all %}
                        {{ player.handle_as_userlink }}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        <div class="info_line show_center">
            <br />
            <b>User has won no matches</b>
            <br />
            <br />
        </div>
        {% endif %}
	</div>
{% else %}
    <div class="box_item_model">
        <h3 class="title">{% trans "GGZ results for" %} {{ ggzauth.user.username }}</h3>
        <div class="info_line show_center">
            <br />
            <b class="errormessage">User does not exist or has no ggz account
            <br />
            <br />
        </table>
    </div>
{% endif %}

{% endblock %}
