{% extends "wlggz/base.html" %}

{% load i18n %}

{% block content %}
{% load custom_date %}
{% load wlprofile %}

{% include "django_messages/inlines/navigation.html" %}

<br />
<br />
<div class="box_item_model fixed_site">
    <h3 class="title">Top ten widelands players</h3>
    <table cellspacing="1" class="text full_site">
        <tr>
            <td>User</td>
            <td>ranking</td>
            <td>rating</td>
            <td>wins</td>
            <td>losses</td>
        </tr>
        {% for userstat in ggzstats %}
        <tr>
            <td class="{% cycle "odd" "even" %}"><a href="{% url wlggz_userstats userstat.handle %}">{{ userstat.handle }}</a></td>
            <td class="{% cycle "odd" "even" %}"> {{ userstat.ranking|floatformat }} </td>
            <td class="{% cycle "odd" "even" %}"> {{ userstat.rating|floatformat }} </td>
            <td class="{% cycle "odd" "even" %}"> {{ userstat.wins|floatformat }} </td>
            <td class="{% cycle "odd" "even" %}"> {{ userstat.losses|floatformat }} </td>
        </tr>
        {% empty %}
        <tr>
            <td class="even show_center" colspan="5">
                <br />
                <b>Sorry, no ranking yet</b>
                <br />
                <br />
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
