{% comment %}
 vim:ft=htmldjango:
 
 This is the end template for the blocks on the side menus
{% endcomment %}
             </div>
          </td>
       </tr>
       <tr>
          <td id="menu_bottomleft">
             <img src="/wlmedia/img/spacer.gif" width="4" height="4" alt="" /></td>
          <td id="menu_bottommiddle" width="100%">
             <img src="/wlmedia/img/spacer.gif" width="162" height="4" alt="" /></td>
          <td id="menu_bottomright">
             <img src="/wlmedia/img/spacer.gif" width="4" height="4" alt="" /></td>
       </tr>
      </table>
      <div class="space"></div>
