{% comment %}
 vim:ft=htmldjango:
 
 This is the start template for the blocks on the side menus
{% endcomment %}
      <table border="0" cellpadding="0" cellspacing="0">
       <tr>
          <td id="menu_topleft">
             <img src="/wlmedia/img/spacer.gif" width="1" height="4" alt="" /></td>
          <td id="menu_topmiddle" width="100%">
             <img src="/wlmedia/img/spacer.gif" width="162" height="4" alt="" /></td>
          <td id="menu_topright">
             <img src="/wlmedia/img/spacer.gif" width="1" height="4" alt="" /></td>
       </tr>
       <tr>
          <td colspan="3">
             <div class="blockTitle">{{ title }}</div>
             <div class="blockContent">
